@import "susy";

$total-columns: 12;
$column-width: 78px;
$gutter-width: 20px;
$grid-padding: 10px;
//12*78+(11*20)


$break          : 12;

$maxw: 700px;
$mediumw: 520px;

header, .main, .footer-wrapper, .superfooter {
  @include container($total-columns, $break);
  //@include susy-grid-background;
}
.intro-bullets {
  .bullet {
    @include span-columns(12 omega,12);
    @media all and (min-width: $mediumw) {
      @include span-columns(3,12);
      &:nth-child(4n) { @include omega; }

    }
  }
}
.home-news-item {
  @include span-columns(12 omega,12);
  @media all and (min-width: $mediumw) {
    @include span-columns(4,12);
    &:nth-child(3n) { @include omega; }

  }
}

@include at-breakpoint($break) {
  .main {
    //@include susy-grid-background;
  }
}

.span1to8 {
  @include span-columns(8,12);
}
.span1to4 {
  @include span-columns(4,12);
}
.span5to8 {
  @include span-columns(4 ,12);
}


/* =========== ABOUT ============== */
.about-pullquote {
  @include span-columns(3 omega,12);
}
.ambition-bullets {
  .ambitionbullet {
    @include span-columns(12,12);
    //&:nth-child(3n) { @include omega; }
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      @include span-columns(12,12 );
      //&:nth-child(3n) { @include omega; }
    }
    @media all and (min-width: $maxw) {
      @include span-columns(4,12 );
      &:nth-child(3n) { @include omega; }
    }
  }
}
.howwework-bullets {
  .howwework-bullet {
    @include span-columns(6,12);
    &:nth-child(4n) { @include remove-omega;  }
    &:nth-child(2n) { @include omega;  }
    @include at-breakpoint(700px, 12) {
      @include span-columns(3,12);
      &:nth-child(2n) { @include remove-omega;  }
      &:nth-child(4n) { @include omega; }
      margin-bottom: 30px;

    }
    //@include at-breakpoint(700px, 12) {
    //  @include span-columns(3,12);
    //  &:nth-child(4n) { @include omega; border: 1px solid green; }
    //}
  }
}


/* ========== FOOTER =========== */



.footer-address {
  @include span-columns(12 omega,12);
  @media all and (min-width: $mediumw) {
    @include span-columns(4,12);
  }
}
.footer-locations {
  @include span-columns(12 omega,12);
  @media all and (min-width: $mediumw) {
    @include span-columns(5,12);
  }
}
.footer-awards {
  @include span-columns(12 omega,12);
  @media all and (min-width: $mediumw) {
    @include span-columns(3 omega,12);
  }
}
