@charset "UTF-8";
@encoding "UTF-8";

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}


/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


.visuallyhidden, .dtx .button.icon-only .buttontext, .dtx .button.small.icon-only .buttontext, .dtx .button.large.icon-only .buttontext {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.dtx .button, .dtx .button.small, .dtx .button.large, .dtx .checkboxwrap .checkbox, .dtx .ui-selectmenu, .dtx .headline, .dtx h1, .dtx h2, .dtx h3, .dtx h4, .dtx h5, .dtx h6, .dtx legend, .dtx .headlinewrap, .dtx input[type="text"], .dtx input[type="password"], .dtx input[type="email"], .dtx input[type="url"], .dtx ul.list-decorated li, .dtx table.table-decorated, .dtx table.table-decorated thead, .dtx table.table-decorated thead th, .dtx table.table-decorated tbody tr, .dtx textarea, .dtx .toolbar, .dtx menu[type=toolbar], .dtx .toolbar > li button, .dtx .toolbar > li .button, .dtx .toolbar.default > li button, .dtx .toolbar.default > li .button, .dtx menu[type=toolbar] > li button, .dtx menu[type=toolbar] > li .button, .dtx menu[type=toolbar].default > li button, .dtx menu[type=toolbar].default > li .button, .dtx .toolbar.large > li button, .dtx .toolbar.large > li .button, .dtx menu[type=toolbar].large > li button, .dtx menu[type=toolbar].large > li .button, .dtx .toolbar-container, .dtx .tooltip-display-top.qtip, .dtx .tooltip-display-right.qtip, .dtx .tooltip-display-bottom.qtip, .dtx .tooltip-display-left.qtip, .dtx .tooltip-display-top-right.qtip, .dtx .tooltip-display-top-left.qtip, .dtx .tooltip-display-bottom-right.qtip, .dtx .tooltip-display-bottom-left.qtip {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dtx .button, .dtx .button.small, .dtx .button.large, .dtx .checkboxwrap .checkbox, .dtx .toolbar > li button, .dtx .toolbar > li .button, .dtx .toolbar.default > li button, .dtx .toolbar.default > li .button, .dtx menu[type=toolbar] > li button, .dtx menu[type=toolbar] > li .button, .dtx menu[type=toolbar].default > li button, .dtx menu[type=toolbar].default > li .button, .dtx .toolbar.large > li button, .dtx .toolbar.large > li .button, .dtx menu[type=toolbar].large > li button, .dtx menu[type=toolbar].large > li .button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


.dtx .button {
  height: 1.875em;
  font-size: 1.1em;
  line-height: 1.875em;
  display: inline-block;
  padding: 0em 1.25em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0.20833em;
  -moz-border-radius: 0.20833em;
  -ms-border-radius: 0.20833em;
  -o-border-radius: 0.20833em;
  border-radius: 0.20833em;
  text-shadow: white 0px 1px 0;
}
.dtx .button:hover {
  cursor: pointer;
}
.dtx .button:hover {
  text-decoration: none;
}
.dtx .button.minimal {
  padding: 0em 0.625em;
}
.dtx .button.full-width {
  display: block;
  width: 100%;
}
.dtx .button, .dtx .button.unavailable, .dtx .button.unavailable:hover, .dtx .button.unavailable:focus, .dtx .button.unavailable.hover, .dtx .button.unavailable:active, .dtx .button.unavailable.active {
  color: #383838;
  border-color: #b2b2b2;
  background-color: #f3f3f3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #f3f3f3 50%, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #f3f3f3 50%, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #f3f3f3 50%, #e6e6e6);
  background: linear-gradient(#ffffff, #f3f3f3 50%, #e6e6e6);
}
.dtx .button:hover, .dtx .button:focus {
  border-color: #bfbfbf;
  background-color: #e1e1e1;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(50%, #e1e1e1), color-stop(100%, #d4d4d4));
  background: -webkit-linear-gradient(#ededed, #e1e1e1 50%, #d4d4d4);
  background: -moz-linear-gradient(#ededed, #e1e1e1 50%, #d4d4d4);
  background: -o-linear-gradient(#ededed, #e1e1e1 50%, #d4d4d4);
  background: linear-gradient(#ededed, #e1e1e1 50%, #d4d4d4);
}
.dtx .button:active, .dtx .button.active {
  border-color: #ababab;
  background-color: #cccccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(50%, #cccccc), color-stop(100%, #bfbfbf));
  background: -webkit-linear-gradient(#d9d9d9, #cccccc 50%, #bfbfbf);
  background: -moz-linear-gradient(#d9d9d9, #cccccc 50%, #bfbfbf);
  background: -o-linear-gradient(#d9d9d9, #cccccc 50%, #bfbfbf);
  background: linear-gradient(#d9d9d9, #cccccc 50%, #bfbfbf);
}
.dtx .button.flat, .dtx .button.flat.unavailable, .dtx .button.flat.unavailable:hover, .dtx .button.flat.unavailable:focus, .dtx .button.flat.unavailable.hover, .dtx .button.flat.unavailable:active, .dtx .button.flat.unavailable.active {
  color: #383838;
  background-color: #ededed;
  border-color: #b2b2b2;
  background-image: none;
  text-shadow: none;
}
.dtx .button.flat:hover, .dtx .button.flat:focus {
  background-image: none;
  background-color: #dbdbdb;
  border-color: #a1a1a1;
}
.dtx .button.flat:active, .dtx .button.flat.active {
  background-image: none;
  background-color: #c7c7c7;
  border-color: #8c8c8c;
}
.dtx .button.flat:active, .dtx .button.flat.active, .dtx .button.flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dtx .button, .dtx .button.unavailable:active, .dtx .button.unavailable.active, .dtx .button.beveled, .dtx .button.beveled.unavailable:active, .dtx .button.beveled.unavailable.active {
  -webkit-box-shadow: white 0 1px 0 0;
  -moz-box-shadow: white 0 1px 0 0;
  box-shadow: white 0 1px 0 0;
}
.dtx .button:active, .dtx .button.active, .dtx .button.beveled:active, .dtx .button.beveled.active {
  -webkit-box-shadow: white 0 1px 0 0, rgba(0, 0, 0, 0.4) 0 1px 3px 0 inset;
  -moz-box-shadow: white 0 1px 0 0, rgba(0, 0, 0, 0.4) 0 1px 3px 0 inset;
  box-shadow: white 0 1px 0 0, rgba(0, 0, 0, 0.4) 0 1px 3px 0 inset;
}
.high-contrast-mode .dtx .button, .high-contrast-mode .dtx .button.beveled {
  border: 5px solid red !important;
}
.dtx .button.embossed, .dtx .button.embossed.unavailable:active, .dtx .button.embossed.unavailable.active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0px;
}
.dtx .button.embossed:active, .dtx .button.embossed.active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0 inset;
}
.dtx .button.clean, .dtx .button.clean.unavailable, .dtx .button.clean.unavailable:hover, .dtx .button.clean.unavailable:focus, .dtx .button.clean.unavailable.hover, .dtx .button.clean.unavailable:active, .dtx .button.clean.unavailable.active {
  color: #383838;
  background: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.dtx .button.clean:hover, .dtx .button.clean:focus {
  background-image: none;
  background: #dbdbdb;
  border-color: transparent;
}
.dtx .button.clean:active, .dtx .button.clean.active {
  background-image: none;
  background: #c7c7c7;
  border-color: transparent;
}
.dtx .button.magenta {
  text-shadow: #cc0069 0px -1px 0;
}
.dtx .button.magenta, .dtx .button.magenta.unavailable, .dtx .button.magenta.unavailable:hover, .dtx .button.magenta.unavailable:focus, .dtx .button.magenta.unavailable.hover, .dtx .button.magenta.unavailable:active, .dtx .button.magenta.unavailable.active {
  color: white;
  border-color: #cc0069;
  background-color: #e20074;
}
.dtx .button.magenta:hover, .dtx .button.magenta:focus {
  border-color: #ba0060;
  background-color: #d1006c;
}
.dtx .button.magenta:active, .dtx .button.magenta.active {
  border-color: #a60056;
  background-color: #bd0061;
}
/* TKE Button */

.dtx .button.tke {
}
.dtx .button.tke, .dtx .button.tke.unavailable, .dtx .button.tke.unavailable:hover, .dtx .button.tke.unavailable:focus, .dtx .button.tke.unavailable.hover, .dtx .button.tke.unavailable:active, .dtx .button.tke.unavailable.active {
  color: white;
  border: none;
  background-color: #004b79;
  opacity: .5;
}
.dtx .button.tke:hover, .dtx .button.tke:focus {
  border: none;
  background-color: #004b90;
}
.dtx .button.tke:active, .dtx .button.tke.active {
  border: none;
  background-color: #004b90;
}


/* SMART BUTTON */
.dtx .button.smart {
}
.dtx .button.smart, .dtx .button.smart.unavailable, .dtx .button.smart.unavailable:hover, .dtx .button.smart.unavailable:focus, .dtx .button.smart.unavailable.hover, .dtx .button.smart.unavailable:active, .dtx .button.smart.unavailable.active {
  color: white;
  border: none;
  background-color: #000;
  text-shadow: none;
}
.dtx .button.smart:hover, .dtx .button.smart:focus {
  border: none;
  background-color: #000;
  color: orange;
}
.dtx .button.smart:active, .dtx .button.smart.active {
  border: none;
  background-color: #000;
  color: orange;
}


/* NOKIA BUTTON */
.dtx .button.nokia{
}
.dtx .button.nokia, .dtx .button.nokia.unavailable, .dtx .button.nokia.unavailable:hover, .dtx .button.nokia.unavailable:focus, .dtx .button.nokia.unavailable.hover, .dtx .button.nokia.unavailable:active, .dtx .button.nokia.unavailable.active {
  color: white;
  border: none;
  background-color: #000b19;
  text-shadow: none;
}
.dtx .button.nokia:hover, .dtx .button.nokia:focus {
  border: none;
  background-color: #000b19;
  color: #00CCFF;
}
.dtx .button.nokia:active, .dtx .button.nokia.active {
  border: none;
  background-color: #000b19;
  color: #00CCFF;
}


/* FANMEILE BUTTON */
.dtx .button.fanmeile{
}
.dtx .button.fanmeile, .dtx .button.fanmeile.unavailable, .dtx .button.fanmeile.unavailable:hover, .dtx .button.fanmeile.unavailable:focus, .dtx .button.fanmeile.unavailable.hover, .dtx .button.fanmeile.unavailable:active, .dtx .button.fanmeile.unavailable.active {
  color: white;
  border: none;
  background-color: #9ac100;
  text-shadow: none;
}
.dtx .button.fanmeile:hover, .dtx .button.fanmeile:focus {
  border: none;
  background-color: #fff;
  color: #9ac100;
}
.dtx .button.fanmeile:active, .dtx .button.fanmeile.active {
  border: none;
  background-color: #fff;
  color: #9ac100;
}



/* FOURSQUARE BUTTON */
.dtx .button.foursquare{
}
.dtx .button.foursquare, .dtx .button.foursquare.unavailable, .dtx .button.foursquare.unavailable:hover, .dtx .button.foursquare.unavailable:focus, .dtx .button.foursquare.unavailable.hover, .dtx .button.foursquare.unavailable:active, .dtx .button.foursquare.unavailable.active {
  color: white;
  border: none;
  background-color: #00a1e2;
  text-shadow: none;
}
.dtx .button.foursquare:hover, .dtx .button.foursquare:focus {
  border: none;
  background-color: #00a1e2;
  color: #ffb000;
}
.dtx .button.foursquare:active, .dtx .button.foursquare.active {
  border: none;
  background-color: #00a1e2;
  color: #ffb000;
}


.button.unavailable {
  cursor: default;
}








.dtx .button.small {
  height: 1.92308em;
  font-size: 1.3em;
  line-height: 1.92308em;
  display: inline-block;
  padding: 0em 1.53846em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0.25641em;
  -moz-border-radius: 0.25641em;
  -ms-border-radius: 0.25641em;
  -o-border-radius: 0.25641em;
  border-radius: 0.25641em;
}
.dtx .button.small:hover {
  text-decoration: none;
}
.dtx .button.small.minimal {
  padding: 0em 0.76923em;
}
.dtx .button.small.full-width {
  display: block;
  width: 100%;
}
.dtx .button.large {
  height: 2.10526em;
  font-size: 1.9em;
  line-height: 2.10526em;
  display: inline-block;
  padding: 0em 1.05263em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0.17544em;
  -moz-border-radius: 0.17544em;
  -ms-border-radius: 0.17544em;
  -o-border-radius: 0.17544em;
  border-radius: 0.17544em;
}
.dtx .button.large:hover {
  text-decoration: none;
}
.dtx .button.large.minimal {
  padding: 0em 0.52632em;
}
.dtx .button.large.full-width {
  display: block;
  width: 100%;
}
.dtx .button .icon {
  font-size: 0.99375em;
  float: left;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  vertical-align: top;
}
.dtx .button .buttontext {
  float: left;
  margin-left: 0.625em;
  vertical-align: top;
}
.dtx .button.icon-only {
  width: 1.875em;
  padding: 0;
}
.dtx .button.icon-only .icon {
  float: none;
}
.dtx .button.icon-only .icon:before {
  /* Fixing the vertical misalignment in Opera */
  display: block;
}
.dtx .button.icon-only.rectangle {
  width: 2.49375em;
}
.dtx .button.small .icon {
  font-size: 1.22308em;
  float: left;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  vertical-align: top;
}
.dtx .button.small .buttontext {
  float: left;
  margin-left: 0.76923em;
  vertical-align: top;
}
.dtx .button.small.icon-only {
  width: 1.92308em;
  padding: 0;
}
.dtx .button.small.icon-only .icon {
  float: none;
}
.dtx .button.small.icon-only .icon:before {
  /* Fixing the vertical misalignment in Opera */
  display: block;
}
.dtx .button.small.icon-only.rectangle {
  width: 2.55769em;
}
.dtx .button.large .icon {
  font-size: 1.0em;
  float: left;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  vertical-align: top;
}
.dtx .button.large .buttontext {
  float: left;
  margin-left: 0.52632em;
  vertical-align: top;
}
.dtx .button.large.icon-only {
  width: 2.10526em;
  padding: 0;
}
.dtx .button.large.icon-only .icon {
  float: none;
}
.dtx .button.large.icon-only .icon:before {
  /* Fixing the vertical misalignment in Opera */
  display: block;
}
.dtx .button.large.icon-only.rectangle {
  width: 2.8em;
}
.dtx .button.full-width .icon {
  float: none;
  margin-right: -0.1em;
  /* Fix full-width button icons in Opera - start */
}
.dtx .button.full-width .icon:before, .dtx .button.full-width .icon x:-o-prefocus {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -1.5em;
}
.dtx .button.full-width span.buttontext, .dtx .button.full-width x:-o-prefocus {
  margin-left: 2.5em;
}
.dtx .button.full-width[class^='icon-'] .buttontext, .dtx .button.full-width[class*='icon-'] .buttontext {
  float: none;
}
.dtx .button.icon-only .icon:before, .dtx .button x:-o-prefocus {
  position: static !important;
}

.dtx .button.angular {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
