/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/

$green: #5ceb00;
$gray: #b4b4b4;
$white: #fff;
$maxw: 700px;
$mediumw: 520px;
@mixin shadowtext {
  text-shadow:2px 2px 1px rgba(0,0,0,0.9);
}

/* TPL */
@media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {

}
@media all and (min-width: $maxw) {

}


html {
  overflow-x: hidden;
}
body {
  background: #000 url('/images/bg.jpg') repeat;
  color: $white;
  border-top: 5px solid $green;

  font-family: 'Archivo Narrow', sans-serif;
  font-size: 16px;
  @include shadowtext;
  overflow-x: hidden;

}

a:link, a:visited {
  color: $green;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

.browserwarning, .ie8 {
  display: none;
}
.lt-ie9 nav, .lt-ie9 .main, .lt-ie9 .site-nav, .lt-ie9 .feature-slider {
  display: none !important;
}
.lt-ie9 .browserwarning {
  display: block !important;
}
.lt-ie9 .modernbrowser {
  display: none !important;
}
.lt-ie9 .ie8 {
  display: inline-block !important;
}



/* ================ HEADER ================ */
header {
  //overflow: auto;
  position: relative;
}
.langswitch {
  float: right;
  color: $green;
  font-size: 1em;
  margin-top: 0.375em;
  a {
    color: $white;
    text-decoration: none;
  }
}
.site-logo {
  width: 175px;
  height: 50px;
  text-indent: -9999em;
  background: transparent url('../images/gwlogo.svg') no-repeat;
  font-size: 1em;
  margin-top: 1.5625em;
  margin-bottom: 0;
}
.site-logo.ie8 {
  background: transparent url('../images/gwlogo.png') no-repeat;

}
.site-nav, .mobile-nav-trigger {
  position: absolute;
  display: inline-block;
  right: 10px;
  bottom: 0;
  font-size: 1.125em;
  margin-bottom: 0;
  li {
    display: inline;
    margin-left: 1em;
    letter-spacing: .05em;

    a {
      text-decoration: none; 
    }
    a:link, a:visited {
      color: $white;
    }
    a:hover, a:active {
      color: $green;
    }
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      margin-left: .8em;

    }
    @media all and (min-width: $maxw) {
      margin-left: 1.5625em;

    }
  }
}
.mobile-nav { 
  display: none;
  border-bottom: 1px solid $green; 
  position: absolute; 
  z-index: 2000;
  top: 60px;
  width: 100%; 
  background: #000 url('/images/bg.jpg') repeat;
  margin: 0; 
  list-style: none;
  padding-left: 0;
  margin-left: -10px;

  li {
    text-align: center;
    border-bottom: 1px solid #fff; 
    padding: 14px 0px 14px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    a {
      display: block;
      font-size: 20px;
      color: #fff;
    }
    a:hover, a:active {
      color: $green;
      text-decoration: none;
    }

  }
  li:last-child { border-bottom: none; }

}

.index .site-nav .index,
.about .site-nav .about,
.services .site-nav .services,
.projects .site-nav .projects,
.news .site-nav .news {
  color: $green;
  cursor: text; 
}



/* ================= CONTENT ============= */
.tagline {
  font-size: 2.375em;
  font-weight: bold;
  text-align: center;
  color: $green;
  margin: 0.9em 0;
  line-height: 1.1em;
  margin-bottom: 0.1857em;
  span {
    color: $white;
  }
  @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
    font-size: 3.5em;
  }
  @media all and (min-width: $maxw) {
    font-size: 4.375em;

  }
}
.subtagline {
  font-size: 1.2em;
  color: $white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.7em;
  span {
    color: $green;
  }
  @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
    font-size: 1.5em;

  }
  @media all and (min-width: $maxw) {
    font-size: 2.5em;

  }
}

.main {
  padding-left: 30px;
  padding-right: 30px;
}


/* ============== INTRO BULLETS ============= */
.intro-bullets {
  margin-bottom: 3.5em;
  .bullet {
    text-align: center;

    img {
      margin-right: 1em;
      margin-bottom: 1.6em;
      max-width: 100%;
      float: left;
      width: 80px;
      @media all and (max-width: 920px ) and (min-width: 670px) {
        margin-right: 0;
        text-align: left;
        max-width: auto;
        width: 300px;
        float: none;
      }
      @media all and (min-width: 921px) {
        margin-right: 0;
        max-width: auto;
        width: 200px;
        float: none;
      }
    }
    h2 {
      margin-top: 0;
      color: $white;
      font-size: .90em;
      font-weight: normal;
      letter-spacing: .05em;
      text-align: left;
      max-height: 999999px;
      @media all and (max-width: 920px ) and (min-width: 670px) {
        font-size: 1em; 
        text-align: left;
      }
      @media all and (min-width: 921px) {
        font-size: 1.25em;  
        text-align: center;
      }
    }
    p {
      font-size: .9em;
      color: $gray;
      padding: 0;
      letter-spacing: .056em;
      text-align: left;
      max-height: 999999px;
      //white-space: nowrap;
      @media all and (max-width: 920px) and (min-width: 670px) {
        font-size: .9em; 
        text-align: left;
      }
      @media all and (min-width: 921px) {
        font-size: 1.125em;  
        text-align: center;
      }
    }
  }
  @media all and (max-width: 920px) and (min-width: 670px) {
    h2 { font-size: 1em; }
    p { font-size: .9em; }

  }
  @media all and (min-width: 921px) {
    h2 { font-size: 1.25em; }
    p { font-size: 1.125em; }

  }
}



/* ============ HOME NEWS ================= */
.home-news {
  margin-bottom: 2em;
  >h1 {
    display: inline-block;
    overflow: hidden;
    font-size: 2em;
    font-weight: normal;
    border-bottom: 3px solid $green;
    margin-top: .55em;
    margin-bottom: 1.2em;
    clear: both;
    span {
      color: $green;
    }
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      font-size: 2.525em;
    }
    @media all and (min-width: $maxw) {
      font-size: 3.125em;

    }
  }

}
.home-news-item {
  margin-bottom: 1em;
  img {
    width: 170px;
    float: left;
    max-width: 100%;
    margin-right: 1em;
    margin-bottom: 1em;
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 1em;
    }
    @media all and (min-width: $maxw) {
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 1em;
    }
  }
  h1 {
    font-size: 1em;
    margin-top: 0em;
    padding-bottom: .9em;
    margin-bottom: .5em;
    border: none;
    span {
      color: $green;
    }
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      font-size: .8em;
      border-bottom: 2px solid $green;

    }
    @media all and (min-width: $maxw) {
      font-size: 1.375em;
      border-bottom: 3px solid $green;
     
    }
  }
  p {
    color: $gray;
    font-size: .9em;
    letter-spacing: .0616em;
    line-height: 1.6em;
    padding-right: 15px;
    margin-top: 0;
    max-height: 999999px;
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      font-size: .8em;
    }
    @media all and (min-width: $maxw) {
      font-size: 1em;
    }
  }
  @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
    margin-bottom: 2em;

  }
  @media all and (min-width: $maxw) {
    margin-bottom: 3em;
  }
}



/* ============== FEATURE SLIDE ============= */
.feature-slider {
  height: 501px;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
  @media all and (min-width: 970px) and (max-width: 1229px )  {
    height: 510px;
  }
  @media all and (min-width: 1230px) {
    height: 610px;
  }
  .show-desktop {
    display: none !important;
    @media all and (min-width: 970px) and (max-width: 1229px )  {
      display: block !important;
    }
    @media all and (min-width: 1230px) {
      display: block !important;
    }
  }
  .show-mobile{
    display: block !important;
    @media all and (min-width: 970px) and (max-width: 1229px )  {
      display: none !important;
    }
    @media all and (min-width: 1230px) {
      display: none !important;
    }
  }
}
.slider-nav {
  position: absolute;
  width: 480px;
  left: 50%;
  bottom: 14px;
  margin-left: -240px;
  z-index: 200;
  @media all and (min-width: 970px) and (max-width: 1229px )  {
    width: 660px;
    margin-left: -330px;
  }
  @media all and (min-width: 1230px) {
    width: 660px;
    margin-left: -330px;
  }

  .slide-next, .slide-prev {
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: none;
    text-indent: -9999em;
    background: transparent url('../images/slidernav.png') no-repeat;
  }
  .slide-prev {
    float: left;
  }
  .slide-next {
    float: right;
    background-position: -70px 0;
  }
  .slide-indexes {
    position: absolute; 
    width: 150px;
    text-align: center;
    left: 50%;
    margin-left: -75px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 33px;
    @media all and (min-width: 970px) and (max-width: 1229px )  {
      margin: 1em 0;
      margin-left: -75px;
    }
    @media all and (min-width: 1230px) {
      margin: 1em 0;
      margin-left: -75px;
    }
    li {
      display: inline;  
      a {
        display: inline-block;
        width: 25px;
        height: 25px;
        background: transparent url('../images/slidernav.png') -25px -130px no-repeat;
        text-indent: -9999em;
      }
      a:link, a:visited {
        background-position: -25px -130px;
      }
      a:hover, a:active {
        background-position: 0 -130px;
      }
      a.active {
        background-position: 0 -130px;
        cursor: default;
      }
    }
  }
}
.slides {
  z-index: 180;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  margin-left: -1280px;
  list-style: none;
  -webkit-transition: 0.5s left;
  -moz-transition: 0.5s left;
  -ms-transition: 0.5s left;
  -o-transition: 0.5s left;
}
.slides.nomove {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.slide {
  position: relative;
  margin: 0;
  height: 610px;
  width: 2560px;
  //min-width: 100%;
  float: left;

  img.bg {
    margin: 0 auto;
  }
  .object {
    position: absolute;
  }
  .object.show-desktop { top: 0; right: 660px; }
  .object.show-mobile { top: 90px; left: 50%; margin-left: -320px; }
  .object.show-desktop {
      
    @media all and (min-width: 970px) and (max-width: 1229px )  {
      width: 524px;
      height: auto;
      right: 720px;
    }
    @media all and (min-width: 1230px) {
      //width: 624px;
      right: 640px;
    }
  }

  .project-description {
    display: inline-block;
    opacity: 0;
    position: absolute;
    z-index: 220;
    color: #fff;
    top: 20px;
    font-family: 'Archivo Narrow', sans-serif;
    width: 460px;
    left: 50%;
    margin-left: -230px;
    @media all and (min-width: 970px) and (max-width: 1229px )  {
      top: 60px;
      width: 400px;
      margin-left: -480px !important;
    }
    @media all and (min-width: 1230px) {
      top: 80px;
      width: 440px;
      margin-left: -575px !important;
    }

    h1 {
      text-transform: uppercase;
      font-size: 40px;
      line-height: 38px;
      margin-top: 0;
      overflow: hidden;
      text-shadow: none;
      margin-bottom: 0;
      margin-bottom: .2em;
      @media all and (min-width: 970px) and (max-width: 1229px )  {
        font-size: 40px;
        line-height: 38px;
      }
      @media all and (min-width: 1230px) {
        font-size: 48px;
        line-height: 43px;
      }
    }
    p {
      text-shadow: none;

    }
    .client {
      font-size: 16px;
      margin-top: -10px;

    }
    .intro {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 1.2em; 
      @media all and (min-width: 970px) and (max-width: 1229px )  {
        font-size: 16px;
      }
      @media all and (min-width: 1230px) {
        font-size: 18px;
      }

    }
    .copy {
      font-weight: normal;
      font-size: 14px;
      @media all and (min-width: 970px) and (max-width: 1229px )  {
        font-size: 12px;
      }
      @media all and (min-width: 1230px) {
        font-size: 14px;
      }

    }
    .gotoproject {
      display: inline-block;
      width: 125px;
      height: 44px;
      text-indent: -9999em;
      background: transparent url('../images/Home_Slider_Telekom_IMW_Button.png') no-repeat;
      display: block;
      margin: 0 auto;
      margin-top: 330px;
      cursor: pointer;
      @media all and (min-width: 970px) and (max-width: 1229px )  {
        display: inline-block;
        margin-left: 0px;
        margin-top: 10px;
      }
      @media all and (min-width: 1230px) {
        display: inline-block;
        margin-left: 1px;
        margin-top: 30px;
      }
    }
    .gotoproject-inactive {
      display: block;
      margin: 0 auto;
      margin-top: 330px;
      @media all and (min-width: 970px) and (max-width: 1229px )  {
        display: inline-block;
        margin: 0;
      }
      @media all and (min-width: 1230px) {
        display: inline-block;
        margin: 0;
      }

    }
  }

}
.slide-dialog{
  h1 { color: #e20074;  }
  h1 span { color: #676767;  }
  .client { color: #676767;  }
  .intro { color: #4b4b4b;  }
  .copy { color: #4b4b4b;  }
  .object.show-desktop { top: 10px; right: 500px; }
  .object.show-mobile { margin-left: -293px;  }
  @media all and (min-width: 970px) and (max-width: 1229px )  {
    .object.show-desktop { top: 40px; right: 700px; width: 600px; }
  }
  @media all and (min-width: 1230px) {
    .object.show-desktop { top: 10px; right: 500px; }
  }
} 
.slide-tventure {
  h1 { color: #fff;  }
  h1 span { color: #e20074;  }
  .client { color: #fff;  }
  .intro { color: #4b4b4b;  }
  .copy { color: #4b4b4b;  }
} 
.slide-imw {
  h1 { color: #e20074;  }
  h1 span { color: #e20074;  }
  .client { color: #fff;  }
  .intro { color: #fff;  }
  .copy { color: #4b4b4b;  }
} 
.slide-tke {
  top: 0px !important;
  h1 { color: #004B79;  }
  h1 span { color: #4b4b4b;  }
  .client { color: #4b4b4b;  }
  .intro { color: #4b4b4b;  }
  .copy { color: #4b4b4b;  }
} 
.slide-produktshows {
  h1 { color: #e20074;  }
  h1 span { color: #e20074;  }
  .client { color: #fff;  }
  .intro { color: #fff;  }
  .copy { color: #4b4b4b;  }
} 

.singletagline {
  margin-bottom: .85em;
}
.contentsection {
  h1 {
    font-size: 3.125em; 
    font-weight: normal;
    color: $white;
    display: inline-block;
    border-bottom: 3px solid $green; 
    margin-bottom: 1.2em;
    span {
      color: $green;
    }
  }
  margin-bottom: 1.4em;
}
.contentsection.last {
  margin-bottom: 100px;
}



/* =========== ABOUT ============== */
.about-pullquote {
  position: relative;
  margin-right: 20px;
  padding-top: .2em;
  img {
    max-width: 100%;
    min-width: 160px;
  }
  text-align: center;
  margin: 0 auto;

  @media all and (max-width: 879px ) and (min-width: $mediumw) {
    font-size: 1em;
    vertical-align: top;
    margin-right: 20px;
  }
  @media all and (max-width: $maxw - 1 ) and (min-width: 880px) {
    font-size: 1.1em;
    vertical-align: top;
    margin-right: 20px;


  }
  @media all and (min-width: $maxw) {
    font-size: 1.250em;
    vertical-align: top;
    margin-right: 20px;

  }
}
.services-pullquote {

}
.softintro {
  margin-top: 0;
  font-size: 1.375em;
  font-weight: normal;
  letter-spacing: .05em;
  margin-bottom: .5em;
  span {
    color: $green;
  }
}
.copy {
  color: $gray;
  line-height: 1.5em;
  font-size: 1.125em;
  letter-spacing: .1em;
}
.ambitionbullet {
  text-align: center;
  position: relative;
  display: table-row;
  vertical-align: middle;
  h2 {
    margin: 0 auto;
    max-width: 100%;
    //height: 240px;
    //background: transparent url('../images/bulletcircle.svg') left top no-repeat;
    overflow: auto;
    margin-right:auto; 
    margin-left:auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 19%;
    vertical-align: middle;
    //margin-top: -240px;
    font-size: 150%;
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      font-size: 150%; 
    }
    @media all and (min-width: $maxw) {
      font-size: 150%;  
    }
    span {
      //height: 100%;
      //text-align: center;
      //vertical-align: middle;
      //font-weight: normal;
    }
  }
  
  h2.twolines {
    top: 60px;
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      top: 70px;
    }
    @media all and (min-width: $maxw) {
      top: 80px;
    }
  }
  h2.threelines {
    top: 60px;
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      top: 60px;
    }
    @media all and (min-width: $maxw) {
      top: 60px;
    }
  }
  img {
    max-width: 100%;
  }
  p {
    font-size: 1.125em;
    text-align: center;
    padding: 0 30px 0 40px;
    letter-spacing: .1em;
    color: $gray;
  }
  .testwrap {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }



}

.howwework-bullets {
  margin-top: -16px;
  text-align: center;
  margin-bottom: 2.8em;

  .imgwrapper {
    height: 92px;
    line-height: 100px;
    text-align: center;
    width: 100%;
    img {
      vertical-align: middle;
      text-align: center;
      margin: auto;
    }
  }
  h2 {
    font-size: 1.25em;
    color: $white;
    font-weight: normal;
    letter-spacing: .04em;
    padding-bottom: .7em;
    border-bottom: 3px solid $green;
    margin-left: 4px;
    margin-right: 4px;
  }
  p {
    text-align: left;
    color: $gray;
    font-size: 1.125em;
    line-height: 1.4em;
    letter-spacing: .03em;
  }
  
}
.howwework-bullets:last-child {
  margin-bottom: 0;
}
.team {
  h1 {
    margin-top: .3em;
    margin-bottom: .74em;
  }

  dl {
    margin-bottom: 4.4em;
    dt {
      width: 11.8em;
      float: none;
      font-size: 1.5em;
      font-weight: normal;
      overflow: hidden;
      white-space:nowrap;
      margin: 0;
      margin-right: 4px;

      span {
        font-weight: normal;
        font-size: 0.6em;
        color: $gray;
        letter-spacing: 2px;
        display: none;

      }
      @media all and (max-width: $maxw - 1 ) and (min-width: 590px) {
        clear: left;
        float: left;
        width: 10.5em;
        span {
          display: none;
        }
        
      }
      @media all and (min-width: $maxw) {
        clear: left;
        float: left;
        width: 11.8em;
        span {
          display: inline;
        }

      }
    }
    dd {
      line-height: 2.1em;
      margin-bottom: .5em;
      font-size: 1.125em;
      color: $gray;
      margin-left: 0;
    }
  }
}




/* =============== SERVICES ================= */
.service.top {
  margin-top: 92px;

}
.service {
  
  margin-bottom: 3.8em;
  .imgwrapper {
    float: left;
    width: 140px;
    @media all and (min-width: 900px) {
      min-height: 200px;
    }
  }

  .desc {
    //width: 32em;
    h1 {
      margin-top: 0;
      color: $white;
      font-size: 1.875em;
      line-height: 1em;
      font-weight: normal;
      border-bottom: 3px solid $green;
      display: inline-block;
      padding-bottom: .4em;
      margin-bottom: 0;
    }
    p {
      font-size: 1.125em;
      color: $gray;
      letter-spacing: .1em;
    }

  }
  ul {
    //width: 22.375em;
    //float: right;
    list-style: url('../images/bullet.png');
    margin-top: -.4em;
    padding-left: 18px;
    @media all and (min-width: $maxw) {
      padding-left: 40px;

    }
    
    li {
      font-size: 1.25em;
      margin-bottom: 1em;
      padding-left: 10px;
    }
  }

}
.service.last {
  margin-bottom: 0;
}
.ourtools {
  margin-top: -0.4em;
  width: 100%;
  h1 {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    margin-bottom: 1em;
  }
  ul {
    padding: 0;
    li {
      figure {
        text-align: center;
        position: relative;
        img {
          position: absolute;
          left: 50%;
          margin-left: -50px;
          
        }
        figcaption {
          text-align: center;
          padding-top: 100px;
          color: $green;
          text-transform: uppercase;
          font-size: 11px;
        }
      }
    }
  }
}



/* ============== TEXT ONLY PAGES ============ */
.textonly {
  margin-top: 2.8em;
  width: 32.5em;
  h1 {
    margin-bottom: .7em; 
  }

  p {
    font-size: 1em; 
    line-height: 1.6em;
    color: $gray;
    letter-spacing: .1em;
    margin-bottom: 1.3em;
    strong {
      color: $white;
      font-size: 1.125em;
      letter-spacing: .1em;
    }
  }
}





/* ================ PROJECTS ================== */
.pagination {
  margin-top: 80px;
  padding: 0;
  text-align: center;

  .page {
    color: #fff;
    padding: 12px 17px 12px 17px;
    font-size: 20px;
    border: none; 
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    margin: 0 10px 0 10px;
  }
  .page.active { 
    border: 3px solid #4fec00;
    padding: 12px 17px 12px 17px;
    cursor: default; 
  }
  .btnnext, .btnprev {
    width: 49px;
    height: 57px;
    text-indent: -9999em;
    display: inline-block;
    padding-top: 18px;
  }
  .btnnext {
    background: transparent url('/images/btn-next.png') no-repeat;
    margin-left: 60px;
  }
  .btnprev {
    background: transparent url('/images/btn-prev.png') no-repeat;
    margin-right: 60px;
  }
}
.projects-section {
  margin-bottom: 100px;
  margin-top: 60px;
  position: relative;
}
@media all and (max-width: 969px )   {
  .projects-section {
    margin-top: 30px;
  }
}
.project-wrapper {

}
.project {
  position: relative;
  margin-bottom:0px;
  @media all and (max-width: 969px )   {
  }
  @media all and (max-width: 1279px ) and (min-width: 970px)  {
    height: 490px;
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    height: 546px;
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    height: 580px;
  }
  @media all and (min-width: 1680px) {
    height: 627px;
  }
  .content {
    position: absolute;
    z-index: 10;
    text-shadow: none;
    width: 580px;
    margin-top: 130px;
    h1 {
      font-family: 'Archivo Narrow', sans-serif;
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 50px;
    }
    h1.desktop { display: block; }
    h1.mobile { display: none; }
    .client {
      margin-top: 0;
      margin-bottom: 21px;
    }
    .intro {
      font-family: 'Archivo Narrow', sans-serif;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 21px;
      font-weight: bold;
    }
    .copy {
      font-family: 'Archivo Narrow', sans-serif;
      font-size: 16px;
      margin-bottom: 31px;
      letter-spacing: 0;
    }
    .gotoproject {
      display: block;
      text-indent: -9999em;
      cursor: pointer;
      float: left;
      margin-right: 20px;
    }

    @media all and (max-width: 969px )  {
      width: 450px;
      padding-left: 20px;
      padding-right: 20px;
      //padding-top: 20px;
      margin-top: 20px;
      left: 50%;
      margin-left: -245px;

      h1 { font-size: 42px; line-height: 40px; white-space: nowrap; }
      h1.mobile { display: block; }
      h1.desktop { display: none; }
      .client { font-size: 16px; margin-top: 0px; margin-bottom: 8px; max-height: 999999px; }
      .intro { font-size: 18px; line-height: 22px; margin-bottom: 10px; max-height: 999999px; }
      .copy { font-size: 14px; margin-bottom: 15px; max-height: 999999px; }
      .gotoproject { margin: 0 auto; }

    }
    @media all and (min-width: 970px) and (max-width: 1279px )  {
      h1 { font-size: 32px !important; line-height: 30px; }
      .intro { font-size: 18px; line-height: 22px; }
      .copy { font-size: 14px; }
      .intro, .copy { width: 380px; }
    }
    @media all and (max-width: 1439px ) and (min-width: 1280px) {
      h1 { font-size: 38px !important; line-height: 36px; }
      .intro { font-size: 16px; line-height: 20px; }
      .copy { font-size: 14px; }
      .intro, .copy { width: 400px; }
    }
    @media all and (max-width: 1679px ) and (min-width: 1440px) {
      h1 { font-size: 40px !important; line-height: 38px; }
      .intro { font-size: 18px; line-height: 22px; }
      .copy { font-size: 16px; }
      .intro, .copy { width: 430px; }
    }
    @media all and (min-width: 1680px) {
      h1 { font-size: 44px !important; line-height: 42px; }
      .intro { font-size: 20px; line-height: 24px; }
      .copy { font-size: 16px; }
      .intro, .copy { width: 450px; }
    }

  }
  .obj {
    @media all and (max-width: 969px )  {
      display: none;
    }
    @media all and (min-width: 970px)  {
      display: inline;
      position: absolute;
      z-index: 20;
      height: auto;

    }
  }
  .objmobile {
    @media all and (max-width: 969px )  {
      display: inline;
      position: relative;
      z-index: 21;
      left: 50%;
      margin-left: -225px;
    }
    @media all and (min-width: 970px)  {
      display: none;

    }

  }
  .bg {
    position: absolute;
    z-index: 5;
    left: 50%;
    //width: 2560px;
    @media all and (max-width: 969px )  {
      display: none;
    }
    @media all and (max-width: 1279px ) and (min-width: 970px)  {
      width: 2000px;
      height: 490px;
      margin-left: -1000px;
    }
    @media all and (max-width: 1439px ) and (min-width: 1280px) {
      width: 2229px;
      height: 546px;
      margin-left: -1114px;
    }
    @media all and (max-width: 1679px ) and (min-width: 1440px) {
      width: 2368px;
      height: 580px;
      margin-left: -1184px;
    }
    @media all and (min-width: 1680px) {
      width: 2560px;
      height: 627px;
      margin-left: -1280px;
    }
  }
  .bgmobile {
    display: none;
    @media all and (max-width: 969px )  {
      display: inline;
      position: absolute;
      left: 50%;
      margin-left: -720px;
      width: 1440px;
    }
    @media all and (min-width: 970px)  {
      display: none;
    }
  }
}
.gototelekom { 
  background: transparent url('/images/Home_Slider_T-Venture_Button.png') no-repeat;  
  width: 125px;
  height: 44px;
  cursor: pointer;
}
.project-dialog{
  z-index: 1000;
  .content {
    h1 {
      color: #e20074;
      span {
        color: #e20074;
      }
    }
    .client { color: #676767; }
    .intro, .copy { color: #4b4b4b; }
    @media all and (max-width: 969px )  {
      // only for first
      margin-top: 10px;
    }
  }
  .obj {
    height: auto;
    bottom: 22px;
    width: 867px;
    max-width: 100%;
    left: 50%;
  }
  @media all and (max-width: 969px )   {
    height: 715px;
    //.objmobile { margin-left: -300px; bottom: -320px; }
    .objmobile { bottom: -358px; margin-left: -357px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 60px;  }
    //.obj { width: 500px; left: 460px; }
    .obj { width: 600px; bottom: 17px;  }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 70px;  }
    //.obj { width: 560px; left: 570px; }
    .obj { width: 760px; bottom: 19px;  }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 90px;  }
    //.obj { width: 600px; left: 560px; }
    .obj { width: 800px; bottom: 20px;  }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 90px;  }
    //.obj { width: 623px; left: 592px; }
    .obj { width: 867px;  }
  }

}
.project-tventure {
  z-index: 1000;
  .content {
    h1 {
      margin-top: 20px;
      span {
        color: #e20074;
      }
    }
    .intro, .copy { color: #4b4b4b; }
    @media all and (max-width: 969px )  {
      // only for first
      margin-top: 10px;
    }
  }
  .obj {
    height: auto;
    bottom: 22px;
    width: 623px;
    max-width: 100%;
    left: 50%;
  }
  @media all and (max-width: 969px )   {
    height: 715px;
    //.objmobile { margin-left: -300px; bottom: -320px; }
    .objmobile { bottom: -395px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 60px;  }
    //.obj { width: 500px; left: 460px; }
    .obj { width: 500px;  }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 70px;  }
    //.obj { width: 560px; left: 570px; }
    .obj { width: 560px;  }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 90px;  }
    //.obj { width: 600px; left: 560px; }
    .obj { width: 600px;  }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 90px;  }
    //.obj { width: 623px; left: 592px; }
    .obj { width: 623px;  }
  }

}
.project-imw {
  z-index: 990;
  .content {
    h1 { color: #e20074; }
  }
  .intro, .copy {   }
  .copy { color: #4b4b4b; }
  .obj {
    height: auto;
    left: 50%;
    bottom: 20px;
  }
  @media all and (max-width: 969px )   {
    height: 700px;
    //.objmobile { margin-left: -300px; bottom: -340px; }
    .objmobile { bottom: -395px; }
    .copy { font-size: 16px !important; margin-bottom: 15px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 60px;  }
    //.obj { width: 500px; left: 440px; bottom: 84px; }
    .obj { width: 500px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 70px;  }
    //.obj { width: 560px; left: 570px; bottom: 100px; }
    .obj { width: 560px;  }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 100px;  }
    //.obj { width: 600px; left: 560px; bottom: 124px; }
    .obj { width: 600px;  }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 100px;  }
    //.obj { width: 623px; left: 570px; bottom: 154px; }
    .obj { width: 623px;  }
  }
}

.project-tke {
  z-index: 980;
  .content {
    h1 { color: #004c76; }
    p {  color: #4b4b4b; }
  }
  .obj {
    left: 50%;
    bottom: 0%;
  }
  .gotoproject { 
    background: transparent url('/images/Home_Slider_TKE_eInfo_Button.png') no-repeat;  
    cursor: default;
    width: 140px;
    height: 39px;
  }
  @media all and (max-width: 969px )   {
    height: 731px;
    .objmobile { bottom: -410px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 60px;  }
    //.obj { width: 500px; left: 440px; bottom: 0px; }
    .obj { width: 500px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 70px;  }
    //.obj { width: 560px; left: 570px; bottom: 0px; }
    .obj { width: 560px;  }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 80px;  }
    //.obj { width: 600px; left: 560px; bottom: 0px; }
    .obj { width: 600px;  }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 80px;  }
    //.obj { width: 623px; left: 570px; bottom: 18px; }
    .obj { width: 623px;  }
  }
}

.project-icss {
  .content {
    h1 { color: #e20074; }
    p {  color: #4b4b4b; }
  }
  .obj {
    left: 53.6%;
  }
  @media all and (max-width: 969px )   {
    height: 791px;
    .objmobile { bottom: -459px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 60px;  }
    //.obj { width: 400px; left: 521px; bottom: 16px; }
    .obj { width: 400px;  bottom: 16px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 70px;  }
    //.obj { width: 440px; left: 570px; bottom: 18px; }
    .obj { width: 460px;  bottom: 18px; }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 100px;  }
    //.obj { width: 500px; left: 560px; bottom: 19px; }
    .obj { width: 500px;  bottom: 19px; }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 100px;  }
    //.obj { width: 522px; left: 592px; bottom: 20px; }
    .obj { width: 522px;  bottom: 20px; }
  }
}

.project-produktshows {
  .content {
    h1 { width: 680px; font-size: 46px; color: #e20074; }
    .client, .intro { color: #fff; }
    .copy { color: #4b4b4b; }
  }
  .obj {
    left: 50%;
  }
  @media all and (max-width: 969px )   {
    height: 808px;
    .objmobile { bottom: -484px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 30px;  }
    //.obj { width: 500px; left: 440px; bottom: 16px; }
    .obj { width: 500px;  bottom: 16px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 60px;  }
    //.obj { width: 560px; left: 570px; bottom: 18px; }
    .obj { width: 560px;  bottom: 18px; }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 50px;  }
    //.obj { width: 600px; left: 560px; bottom: 19px; }
    .obj { width: 600px;  bottom: 19px; }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 80px;  }
    //.obj { width: 623px; left: 592px; bottom: 20px; }
    .obj { width: 623px;  bottom: 20px; }
  }
}

.project-smart2010{
  .content {
    background: #000; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
    padding: 10px;
    width: 440px;
    h1 { font-size: 46px; }
    .client { color: #FFA500 } 
    .intro { color: #a4a4a4; }
    .copy { color: #fff; }
    .intro, .copy { width: 440px; }
  }
  .obj {
    left: 50%;
  }
  .gotoproject { 
    background: transparent url('/images/Project_Smart_Kampagne_2010-2011_Button.png') no-repeat;  
    cursor: default;
    width: 124px;
    height: 40px;
  }
  .gotosmart2010video { 
    background: transparent url('/images/Project_Smart_Kampagne_2010-2011_VideoButton.png') no-repeat;  
    cursor: default;
    width: 185px;
    height: 40px;
  }
  @media all and (max-width: 969px )   {
    height: 791px;
    .objmobile { bottom: -472px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 30px;  }
    //.obj { width: 480px; left: 500px; bottom: 20px; }
    .obj { width: 480px;  bottom: 20px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 60px;  }
    //.obj { width: 520px; left: 570px; bottom: 20px; }
    .obj { width: 515px; left: 54%; bottom: 20px; }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 50px;  }
    //.obj { width: 550px; left: 560px; bottom: 20px; }
    .obj { width: 550px;  bottom: 20px; }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 80px;  }
    //.obj { width: 584px; left: 592px; bottom: 20px; }
    .obj { width: 600px; left: 52%;  bottom: 20px; }
  }
}

.project-nokiax6 {
  .content {
    
    h1 {}
    .intro { color: #00CCFF;  } 
    .intro, .copy {  }
  }
  .obj {
    left: 50%;
  }

  .gotoproject { 
    background: transparent url('/images/Project_Nokia_X6_Produktshow_Button.png') no-repeat;  
    cursor: default;
    width: 123px;
    height: 40px;
  }
  @media all and (max-width: 969px )   {
    height: 799px;
    .objmobile { margin-left: -275px; bottom: -444px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 60px; padding-left: 30px; }
    //.obj { width: 600px; left: 521px; bottom: 16px; }
    .obj { width: 600px;  bottom: 16px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 70px;  }
    //.obj { width: 660px; left: 570px; bottom: 18px; }
    .obj { width: 660px;  bottom: 18px; }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 100px;  }
    //.obj { width: 710px; left: 560px; bottom: 19px; }
    .obj { width: 710px;  bottom: 19px; }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 100px;  }
    //.obj { width: 755px; left: 592px; bottom: 20px; }
    .obj { width: 755px;  bottom: 20px; }
  }
}

.project-infoservice {
  .content {
    margin-top: 80px; 
    h1 { color: #e20074;  }
    .client { color: #4b4b4b;  }
    .intro, .copy { color: #4b4b4b; width: 465px;  }
  }
  .obj {
    left: 50%;
  }
  .gotoproject { 
    background: transparent url('/images/Project_Telekom_Infoservice_Button.png') no-repeat;  
    cursor: default;
    width: 134px;
    height: 44px;
  }
  @media all and (max-width: 969px )   {
    height: 813px;
    .content { margin-top: 20px; padding-top: 20px; }
    .objmobile { margin-left: -262px; bottom: -382px; }

  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 60px; padding-left: 30px; }
    //.obj { width: 580px; left: 521px; bottom: 0px; }
    .obj { width: 580px;  bottom: 0px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 70px;  }
    //.obj { width: 620px; left: 570px; bottom: 14px; }
    .obj { width: 620px;  bottom: 14px; }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 100px;  }
    //.obj { width: 640px; left: 560px; bottom: 19px; }
    .obj { width: 640px;  bottom: 19px; }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 100px;  }
    //.obj { width: 671px; left: 592px; bottom: 40px; }
    .obj { width: 671px;  bottom: 40px; }
  }
}

.project-fanmeile {
  position: relative;
  .content {
    background: #000; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
    padding: 10px;
    width: 440px;
    h1 { font-size: 45px; }
    .client { color: #9AC100; } 
    .intro, .copy { width: 430px; }
    .intro { color: #a4a4a4; }
    .copy { color: #fff; }
  }
  .obj {
    bottom: 30px;
    left: 50%;
  }
  .gotoproject { 
    background: transparent url('/images/Project_Fanmeile_Berlin_Button.png') no-repeat;  
    cursor: default;
    width: 185px;
    height: 35px;
  }
  @media all and (max-width: 969px )   {
    height: 765px;
    .content { margin-left: -230px; }
    //.content { margin-top: 20px; padding-top: 20px; }
    .objmobile { margin-left: -250px; bottom: -417px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 30px;  }
    //.obj { width: 480px; left: 500px; bottom: 15px; }
    .obj { width: 480px;  bottom: 15px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 60px;  }
    //.obj { width: 520px; left: 570px; bottom: 17px; }
    .obj { width: 560px; left: 56.2%;  bottom: 17px; }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 50px;  }
    //.obj { width: 550px; left: 560px; bottom: 18px; }
    .obj { width: 600px; left: 53%; bottom: 18px; }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 80px;  }
    //.obj { width: 584px; left: 592px; bottom: 18px; }
    .obj { width: 639px;  bottom: 18px; }
  }
}


.project-smart2009 {
  .content {
    background: #000; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
    padding: 10px;
    width: 440px;
    h1 { font-size: 45px; }
    .client { color: #FFA500 } 
    .intro, .copy { width: 430px; }
    .intro { color: #a4a4a4; }
    .copy { color: #fff; }
  }
  .obj {
    bottom: 20px;
    left: 50%;
  }
  .gotoproject { 
    background: transparent url('/images/Project_Smart_Kampagne_2010-2011_Button.png') no-repeat;  
    cursor: default;
    width: 124px;
    height: 40px;
  }
  @media all and (max-width: 969px )   {
    height: 777px;
    .content { margin-left: -240px; }
    .objmobile {  bottom: -461px; }
    h1.mobile { font-size: 42px; }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 30px;  }
    //.obj { width: 480px; left: 500px; bottom: 15px; }
    .obj { width: 480px;  bottom: 15px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 60px;  }
    //.obj { width: 520px; left: 570px; bottom: 17px; }
    .obj { width: 520px;  left: 53%; bottom: 17px; }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 50px;  }
    //.obj { width: 550px; left: 560px; bottom: 18px; }
    .obj { width: 550px;  bottom: 18px; }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 80px;  }
    //.obj { width: 584px; left: 592px; bottom: 18px; }
    .obj { width: 584px;  bottom: 18px; }
  }
}


.project-demail {
  .content {
    background: #fff; 
    border: 2px solid #a4a4a4;
    padding: 10px;
    width: 450px;
    margin-top: 70px; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
    h1 {  color: #e20074; }
    .client, .intro, .copy { color: #4b4b4b; }
    .copy { margin-bottom: 10px; }
  }
  .obj {
    bottom: 120px;
    left: 50%;
  }
  .gotoproject { 
    margin-top: 40px;
    margin-bottom: 10px;
    background: transparent url('/images/Project_DE-Mail_Filialfinder_Button.png') no-repeat;  
    cursor: default;
    width: 122px;
    height: 40px;
  }
  @media all and (max-width: 969px )   {
    height: 802px;
    .objmobile { margin-left: -245px; bottom: -468px; }
    .content {
      height: 264px;
      margin-left: -240px;

    }
    .gotoproject {
      margin-top: 40px !important;

    }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 40px; width: 420px; background-size: 440px auto;   }
    //.obj { width: 580px; left: 521px; bottom: 60px; }
    .obj { width: 580px;  bottom: 60px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 50px; width: 408px; height: 340px;  }
    //.obj { width: 600px; left: 570px; bottom: 100px; }
    .obj { width: 550px; left: 56%;  bottom: 100px; }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 70px; width: 480px; background-size: 500px auto; }
    //.obj { width: 630px; left: 560px; bottom: 110px; }
    .obj { width: 630px;  bottom: 110px; }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 70px; width: 470px;  }
    //.obj { width: 658px; left: 592px; bottom: 110px; }
    .obj { width: 658px;  bottom: 110px; }
  }
}

.project-foursquare{
  // #ffb000
  // 00a2dd
  .content {
    background: #fff; 
    border: 7px solid #ffb000;
    padding: 10px;
    width: 450px;
    h1 { font-size: 44px; color: #00a2dd; }
    .client { color: #4b4b4b } 
    .intro, .copy { width: 430px; }
    .intro { color: #4b4b4b; }
    .copy { color: #4b4b4b; }
  }
  .obj {
    bottom: 20px;
    left: 55%;
  }
  .gotoproject { 
    margin-top: 0px ;
    margin-bottom: 10px !important;
    background: transparent url('/images/Project_Foursquare_NEXT11_Button.png') no-repeat;  
    cursor: default !important;
    width: 124px;
    height: 41px;
  }
  @media all and (max-width: 969px )   {
    height: 852px;
    .objmobile {bottom: -500px; }
    .content {
      width: 426px;
      height: 400px;
      margin-left: -230px;

    }
  }
  @media all and (min-width: 970px) and (max-width: 1279px )  {
    .content { margin-top: 40px; width: 450px; }
    //.obj { width: 380px; left: 521px; bottom: 0px; }
    .obj { width: 380px;  bottom: 0px; }
  }
  @media all and (max-width: 1439px ) and (min-width: 1280px) {
    .content { margin-top: 40px; width: 450px;  }
    //.obj { width: 400px; left: 570px; bottom: 14px; }
    .obj { width: 400px;  bottom: 14px; }
  }
  @media all and (max-width: 1679px ) and (min-width: 1440px) {
    .content { margin-top: 60px; width: 450px; background-size: 490px;  }
    //.obj { width: 420px; left: 560px; bottom: 19px; }
    .obj { width: 420px; bottom: 19px; }
  }
  @media all and (min-width: 1680px) {
    .content { margin-top: 60px; width: 440px;  }
    //.obj { width: 464px; left: 592px; bottom: 40px; }
    .obj { width: 464px;  bottom: 40px; }
  }
}



/* ================ FOOTER ================== */
footer {
  border-top: 10px solid $green;
}
.footer-wrapper {
  position: relative;
  h1 {
    max-height: 999999px;
    margin-top: .6em;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 0.54em;
    color: $white;

    span {
      color: $green;
    }
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      font-size: 2.525em;
    }
    @media all and (min-width: $maxw) {
      font-size: 3.125em;
    }
  }
  h2 {
    max-height: 999999px;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: .85em;
    line-height: 1em;
    color: $green;
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      font-size: 1em;
    }
    @media all and (min-width: $maxw) {
      font-size: 1.25em;
    }
  }
  p {
    max-height: 999999px;
    margin-top: 0;
    margin-bottom: 1.4em;
    color: $gray;

  }
  a {
    color: $white;
  }

  dt {
    max-height: 999999px;
    clear: left;
    float: left;
    width: 5.8em;
    font-size: .85em;
    color: $green;
    overflow: hidden;
    white-space:nowrap;
    margin: 0;
    margin-right: 4px;

    span {
      font-weight: normal;
      color: $gray;
    }
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      font-size: 1em;
    }
    @media all and (min-width: $maxw) {
      font-size: 1.25em;
    }
  }
  dd {
    max-height: 999999px;
    line-height: 1.8em;
    margin-bottom: .8em;
    color: $gray;
  }
  .fb {
    max-height: 999999px;
    color: $green;
    text-decoration: none;
    font-size: 1.6em;
  }
  .footer-address {
    max-height: 999999px;
    
  }
  .footer-locations {
    max-height: 999999px;
    margin-right: 1%;

  }
  .footer-awards {
    max-height: 999999px;
    text-align: left;
    position: relative;
    right: 0;
    bottom: 0;
    img {
      margin-bottom: 1.4em;
    }
    @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
      position: absolute;
      text-align: right;
    }
    @media all and (min-width: $maxw) {
      position: absolute;
      text-align: right;
    }
  }
}
.superfooter {
  max-height: 999999px;
  position: relative;
  margin-top: 5em;
  margin-bottom: 1em;
  text-align: right;
  a {
    color: $white;
    text-decoration: none;
  }
  span {
    margin-left: 2.25em;
  }
  .site-nav {
    width: 60%;
    left: 10px;
    text-align: left;
    padding-left: 0;
    li {
      font-size: 1em;
    }

    li:first-child {
      margin-left: 0;
    }
  }
}
@media all and (max-width: 969px )   {
  .superfooter > ul {
    top: -70px;
  }
}
.show-desktop {
  display: none !important;
  @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
    display: block !important;
  }
  @media all and (min-width: $maxw) {
    display: block !important;
  }
}
.show-mobile {
  display: block !important;
  @media all and (max-width: $maxw - 1 ) and (min-width: $mediumw) {
    display: none !important;
  }
  @media all and (min-width: $maxw) {
    display: none !important;
  }

}
