.project.project-techday
  .content 
    %h1 
      TECHDAY 2014
    %p.client Auftraggeber: Deutsche Telekom AG - Product & Innovation
    %p.intro
      Der TechDay ist eine Veranstaltungsreihe von Technology & Platforms mit dem Zweck Kernkompetenzfelder eines T&P Bereichs und dessen Produkte zu präsentieren.

    %p.copy
      Gedankenwerk wurde damit beauftragt ein Kommunikationskonzept zur ersten, diesjährigen TechDay Veranstaltung zum Thema “Identity Management” zu entwickeln.
      Dies beinhaltete ein Themen Logo, eine Landingpage für Information und Registrierung und Texte und Bilder für das Telekom Intranet, Telekom Social Network, interne Medienwände, Roll-ups, Aufsteller, Namensschilder, Gewinnspielkarten etc.
    %a.button.flat{href: "http://techday.customer-platforms.com/", target: "_blank"} Zum Projekt
  %img.obj{src: "/images/projects/Project_Object_TechDay_2014.png"}
  %img.bg{src: "/images/projects/Project_BG_Techday_2014.jpg", width: 2560, height: 647}

  -#%img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png", width: 600, height: 397}
  %img.objmobile{src: "/images/Project_Object_Techday_2014_mobile.png"}
  %img.bgmobile{src: "/images/Project_BG_Techday_2014_mobile.jpg", width: 1440, height: 715}
