.project.project-produktshows
  .content 
    %h1 
      3D PRODUKTSHOWS
    %p.client Auftraggeber: Telekom Deutschland GmbH
    %p.intro
      Wer Produkte online vertreibt, braucht die richtige
      Präsentation. Der Product Viewer von Gedankenwerk
      für die Deutsche Telekom lässt keine Fragen offen.
    %p.copy
      Mit dem von Gedankenwerk entwickelten Product Viewer können sich 
      die Angebote der Deutschen Telekom rundum sehen lassen: 
      Jedes Produkt kann vom User gedreht und beliebig herangezoomt 
      werden, um z. B. Anschlussbuchsen aus der Nähe zu sehen. 
      Über spezielle Info-Buttons stehen Texte, Bilder oder Videos mit weiteren Erläuterungen bereit.
      %br/
      %br/
      Seine einfache Bedienbarkeit und die kostengünstige Umsetzung machen den 
      Product Viewer bereits seit einigen Jahren zum Standard bei der Deutschen Telekom.
    %a.button.flat{href: "http://kunden.gedankenwerk.com/Telekom/produktshows2011/mediareceiver500sat/index.html", target: "_blank"} Zum Projekt

  %img.obj{src: "/images/projects/Project_Object_Telekom_3D_Produktshows.png"}
  %img.bg{src: "/images/projects/Project_BG_Telekom_3D_Produktshows.jpg", width: 2560, height: 627}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_3D_Produktshows_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Telekom_3D_Produktshows_mobile.jpg", width: 1440, height: 808}
