.project.project-infoservice
  .content 
    %h1 TELEKOM INFOSERVICE
    %p.client Auftraggeber: Telekom Deutschland GmbH
    %p.intro
      Der Telekom InfoService informiert über Themen von
      individuellem Interesse. Auf dem Onepager gibt es alle
      Infos zum InfoService auf einem Blick.
    %p.copy
      Informieren auf allen Kanälen. Um dies schon beim Kennenlernen 
      des InfoService zu ermöglichen hat Gedankenwerk einen 
      Onepager kreiert, der sich mit Desktops, Notebooks, 
      Tablets und Smartphones gleichermaßen komfortabel und übersichtlich 
      bedienen lässt. Der InfoServiceTrailer, vermittelt auf charmante 
      Weise was der Telekom InfoService ist.
    %a.button.flat.magenta{href: "http://kunden.gedankenwerk.com/Telekom/infoservice02/", target: "_blank"} Zum Projekt

  %img.obj{src: "/images/projects/Project_Object_Telekom_Infoservice.png"}
  %img.bg{src: "/images/projects/Project_BG_Telekom_Infoservice.jpg", width: 2560, height: 577}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_Infoservice_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Telekom_Infoservice_mobile.jpg", width: 1440, height: 813}
