.project.project-dialog
  .content 
    %h1 
      TELEKOM DIALOG
    %p.client Auftraggeber: Telekom Deutschland GmbH
    %p.intro
      Telekom Dialog ist die exklusive Geschäftskundenplattform der
      Deutschen Telekom. Hier vernetzen sich Führungskräfte und
      Entscheidungsträger der Telekom - für den Austausch auf
      Augenhöhe.

    %p.copy
      Ein knackiger OnePager, der kein Fragen offen lässt, zusammen mit einem
      dynamischen Informationsvideo - so hat Gedankenwerk Telekom Dialog auf den Punkt
      gebracht und das natürlich mit einem voll responsiven Design, dass sich an all
      Zugangsgeräte anpasst.
    %a.button.flat{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/", target: "_blank"} Zum Projekt
  %img.obj{src: "/images/projects/Project_Object_Telekom_Dialog.png"}
  %img.bg{src: "/images/projects/Project_BG_Telekom_Dialog.jpg", width: 2560, height: 627}

  -#%img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png", width: 600, height: 397}
  %img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_Dialog_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Telekom_Dialog_mobile.jpg", width: 1440, height: 715}
