.project.project-ftth
  .content 
    %h1 
      Telekom FTTH für 
      %br/
      bauherren
    %p.client Auftraggeber: Deutsche Telekom AG
    %p.intro
      Gemeinsam das Netz der Zukunft aufbauen.
    %p.copy
      Das hat sich die Telekom FTTH Initiative für Bauherren zum Ziel genommen. Wie genau das Ganze von statten geht, zeigen wir in einem liebevoll 

    %a.btn.big.rounded.magenta{href: "https://vimeo.com/164551782/0065810230", target: "_blank"} Film anschauen
  %img.obj{src: "/images/projects/prj-obj-ftth.png"}
  %img.bg{src: "/images/projects/prj-bg-ftth.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-ftth.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-ftth.jpg", width: 1440, height: 685}
