.project.project-smart2010
  .content 
    %h1 SMART CITY
    %p.client Auftraggeber: Proximity Germany GmbH
    %p.intro
      Die smart Kampagne 2010 macht alles anders: Diverse, europaweit 
      geschaltete TV-Teaserspots enden mittendrin beim Cliffhanger. 
      Die Auflösung? Gibt es nur online – auf der zentralen Kampagnen-Plattform.
      Und die hat es in sich.
    %p.copy
      Auf www.the-smart-class.com entsteht mit dem Know-how von 
      Gedankenwerk und in Kooperation mit Proximity (Konzept und Navigations-Design) 
      und BBDO (Spots) die “smart City”: ein per Maus  erkundbares, 
      urbanes Panorama, das Flash, perfektes 3D Modelling und Rendering 
      mit Realfilm verbindet – und gleichzeitig den Kern der 
      internationalen Kampagne bildet.
    %a.button.flat.smart.angular{href: "http://kunden.gedankenwerk.com/smart/Smart-City/preview/", target: "_blank"} Zum Projekt
    %a.button.flat.smart.angular.fancybox-media{href: "https://vimeo.com/gedankenwerk/review/61326880/a70468fb65", target: "_blank"} Video
  %img.obj{src: "/images/projects/Project_Object_Smart_Kampagne_2010-2011.png"}
  %img.bg{src: "/images/projects/Project_Smart_Kampagne_2010-2011.jpg", width: 2560, height: 627}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_Smart_Kampagne_2010-2011_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Smart_Kampagne_2010-2011_mobile.jpg", width: 1440, height: 791}
