.project.project-smartideas
  .content 
    %h1 
      Smart Ideas.
      %br/
      Smarter Business.
    %p.client Auftraggeber: Deutsche Telekom AG
    %p.intro
      So klar kann Präsentieren sein.
    %p.copy
      Digitale Buzzwords beherrschen die Business-Agenda. Doch was bedeuten "Big Data", "Analytics" und "Internet of Things" eigentlich konkret für Unternehmen? Im Rahmen der Cebit 2016 bringen wir es für die Geschäftskunden der Telekom mit klaren Beispielen auf den Punkt: Die eigens entwickelte, interaktive Präsentations-App (inklusive Intro- Animation) glänzte dabei mit minimalistischer und trotzdem 
    %a.btn.big.rounded.green.disabled{href: "#", target: "_blank"} Projekt nicht öffentlich
  %img.obj{src: "/images/projects/prj-obj-smartideas.png"}
  %img.bg{src: "/images/projects/prj-bg-smartideas.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-smartideas.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-smartideas.jpg", width: 1440, height: 819}
