.project.project-inflight2
  .content 
    %h1 
      Inflight Wireless
      %br/
      Connectivity
    %p.client Auftraggeber: Deutsche Telekom AG
    %p.intro
      Das interaktive Präsentationstool.
    %p.copy
      Flyer und Powerpoints waren gestern. Eine zeitgemäße B-2-B Kommunikation sollte interaktiv erfolgen. Zu diesem Zweck haben wir für den Vertrieb und der Nutzung auf Events eine interaktive und responsive Präsentations-App erstellt, die dem potenziellen Kunden durch die Möglichkeiten der Inflight Wireless Connectivity führt.
    %a.btn.big.rounded.magenta{href: "http://inflight-presentation.gedankenwerk-hosting.com/", target: "_blank"} Zum Projekt
  %img.obj{src: "/images/projects/prj-obj-inflight.png"}
  %img.bg{src: "/images/projects/prj-bg-inflight.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-inflight.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-inflight.jpg", width: 1440, height: 728}
