.project.project-zoll.project-zolldisco
  .content 
    %h1 
      ZECHE ZOLLVEREIN
      %br/
      KOKEREI
    -#%p.client Auftraggeber: Deutsche Telekom AG
    %p.intro
      Der Weg der Kohle auf der Kokerei
    %p.copy
      In unserer Zeche Zollverein Film-Reihe haben wir die spannenden Locations des Unesco Welterbes atmosphärisch in Szene gesetzt. Bis 1993 wurde in den Öfen der Kokerei bei mehr als 1.000 Grad Celsius Kohle zu Koks veredelt. Werf einen Blick auf die einst größte Zentralkokerei Europas.

    %a.btn.zoll{href: "https://www.youtube.com/watch?v=pIytKGhNp7o", target: "_blank"}
      %img{src: "/images/projects/btnzoll_146x48_mobile_117x39.svg", width: 146}


  %img.obj{src: "/images/projects/prj-obj-zollkokerei.png"}
  %img.bg{src: "/images/projects/prj-bg-zollkokerei.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-zollkokerei.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-zollkokerei.png", width: 1440, height: 706}
