.project.project-imw
  .content 
    %h1 TELEKOM IMW
    %p.client Auftraggeber: Telekom Deutschland GmbH
    %p.intro
      Die IMW der Deutschen Telekom steht für ein komplexes Business: 
      der Vertrieb von Netzkapazitäten auf dem internationalen Markt. 
      Ein schlanker Onepager im responsive Design bringt das Angebot auf den Punkt.
    %p.copy
      Das neue IMW Design liegt mit seinem responsiven Grid, Vektor-Icons 
      und Touchoptimierung voll im Trend: klare Inhalte, einfache Struktur, 
      keine unnötigen Spielereien. Für optimale Lesbarkeit und perfekte Usability 
      auf jedem Endgerät.
    %a.button.flat{href: "http://kunden.gedankenwerk.com/Telekom/imw2014", target: "_blank"} Zum Projekt
  %img.obj{src: "/images/projects/Project_Object_IMW.png"}
  %img.bg{src: "/images/projects/Project_BG_Telekom_IMW.jpg"}

  -#%img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_IMW_mobile.png", width: 600, height: 362}
  %img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_IMW_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Telekom_IMW_mobile.jpg", width: 1440, height: 700}
