.project.project-umzug
  .content 
    %h1 
      Telekom
      %br/
      Umzugsservice
    %p.client Auftraggeber: Deutsche Telekom AG
    %p.intro
      Umziehen leicht gemacht.

    %p.copy
      Im Zuge der Telekom Umzugsservice Kampagne wurden wir damit beauftragt drei illustrative Infofilme zu erstellen. Das Ergebnis gibt’s hier zu bestaunen.
    %span.screw.tl
    %span.screw.tr
    %span.screw.bl
    %span.screw.br
    %a.btn.doorbell.outside{href: "https://vimeo.com/145406594/e10246896b", target: "_blank"} 
      %img{src: "/images/projects/btn-doorbell.png", width: "184", height: "50"}

  %img.obj{src: "/images/projects/prj-obj-umzug.png"}
  %img.bg{src: "/images/projects/prj-bg-umzug.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-umzug.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-umzug.jpg", width: 1440, height: 723}
