.project.project-zoll
  .content 
    %h1 
      ZECHE ZOLLVEREIN
      %br/
      EISBAHN
    -#%p.client Auftraggeber: Deutsche Telekom AG
    %p.intro
      “Der wohl faszinierendste Ort zum
      Schlittschuhlaufen bundesweit”

    %p.copy
      In unserer Zeche Zollverein Film-Reihe haben wir die spannenden Locations des Unesco Welterbes atmosphärisch in Szene gesetzt. Zwischen imposanten Koksöfen, rostroten Rohren und hohen Kaminen verläuft die Eisbahn mit 1800 Quadratmetern Fläche—eine imposante Szenerie, die auf jeden Fall einen Blick wert ist.

    %a.btn.zoll{href: "https://www.youtube.com/watch?v=6ZQujNnc8tU", target: "_blank"}
      %img{src: "/images/projects/btnzoll_146x48_mobile_117x39.svg", width: 146}


  %img.obj{src: "/images/projects/prj-obj-zolleisbahn.png"}
  %img.bg{src: "/images/projects/prj-bg-zolleisbahn.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-zolleisbahn.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-zolleisbahn.png", width: 1440, height: 706}
