.project.project-tke
  .content 
    %h1.desktop
      MICROSITE EINFO
    %h1.mobile
      MICROSITE EINFO
    %p.client Auftraggeber: ThyssenKrupp Elevator AG
    %p.intro
      ThyssenKrupp Elevator steht für eine weltweit einzigartige Produktvielfalt. 
      Die von Gedankenwerk konzipierte e-Info Anwendung bietet den über 40.000 
      Mitarbeitern einen ebenso einzigartigen Überblick zum Unternehmen.
    %p.copy
      Statt klassischer Navigation eröffnen sich alle Inhalte von aufwändig 
      geränderten 3D-Animationen über Galerien bis hin zu geschichtlichen 
      Überblicken in horizontal angeordneten Modulen - als Leitfaden durch 
      die gesamte Welt von ThyssenKrupp Elevator. Flexibel erweiterbar und 
      komplett in HTML5 realisiert, unterstreicht die e-Info Anwendung deutlich 
      die Innovationskraft des Unternehmens.
    %a.button.flat.tke.angular.unavailable{href: "#"} Nicht öffentlich
  %img.obj{src: "/images/Project_Object_TKE_eInfo.png"}
  %img.bg{src: "/images/Project_TKE_eInfo.jpg", width: 2560, height: 627}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_TKE_einfo_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_TKE_eInfo_mobile.jpg", width: 1440, height: 731}
