.project.project-smart2009
  .content 
    %h1.desktop 
      SMART KAMPAGNE 2009
    %h1.mobile SMART KAMPAGNE 2009
    %p.client Auftraggeber: Proximity Germany GmbH
    %p.intro
      Die smart Kampagne 2009: Singer/Songwriter Steve Appleton ist 
      ihr Gesicht und exklusiver musikalischer Partner. Eine Kooperation, 
      die nach einer besonderen Web-Pr채senz verlangt.
    %p.copy
      Auf der von Gedankenwerk realisierten Flash-Microsite erkunden Fans und 
      Neugierige das virtuelle Privatreich von Steve Appleton: 
      Per Kamerafahrt mit Maussteuerung navigieren User r채umlich durch das 
      vollst채ndig in 3D gerenderte Apartment des Stars, das voller Gimmicks, 
      Downloads und Gewinnspiele steckt. F체r die einzigartige Navigation wurden 
      Kameradaten aus Cinema 4D per XML-Import in Flash integriert.
    %a.button.flat.angular.smart{href: "http://kunden.gedankenwerk.com/smart/k2009/index_vr.htm", target: "_blank"} Zum Projekt

  %img.obj{src: "/images/projects/Project_Object_Smart_Kampagne_2009.png"}
  %img.bg{src: "/images/projects/Project_Smart_Kampagne_2009.jpg", width: 2560, height: 577}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_Smart_Kampagne_2009_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Smart_Kampagne_2009_mobile.jpg", width: 1440, height: 777}
