.project.project-icss
  .content 
    %h1
      ICSS / MNC WEBSITE
    %p.client Auftraggeber: Telekom Deutschland AG
    %p.intro
      Telekom International Carrier Sales & Solutions und 
      Multinational Corporations bieten Mobilfunkprodukte für Großkunden an. 
      Ein Themenkomplex, der Transparenz verlangt.
    %p.copy
      Die Websites zu Telekom ICSS und MNC wurden konzeptionell, 
      design- und programmiertechnisch runderneuert um zu gewährleisten, 
      dass interessierte Großkunden einen transparenten Überblick sowohl 
      über das komlexe Gesamtangebot als auch die jeweiligen Produkte 
      bekommen. Das neue luftige Design macht die Verweildauer auf den 
      Websites zu einem benutzerfreundlichen Erlebnis.
    %a.button.flat{href: "http://www.telekom-icss.com/home", target: "_blank"} Zum Projekt

  %img.obj{src: "/images/Project_Object_Telekom_ICSS-MNC.png"}
  %img.bg{src: "/images/Project_Telekom_ICSS-MNC.jpg", width: 2560, height: 627}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_ICSS-MNC_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Telekom_ICSS-MNC_mobile.jpg", width: 1440, height: 791}
