.project.project-inflight
  .content 
    %h1 
      TELEKOM INFLIGHT
    %p.client Auftraggeber: Deutsche Telekom AG
    %p.intro
      In-Flight Connectivity: Angepasste
      %br/
      WLAN Lösungen für Airlines

    %p.copy
      Seit 2011 stellt die Telekom Reisenden mit “Inflight” auf immer mehr internationalen Strecken leistungsstarke Online-Zugänge zur Verfügung. Um das Produkt “Inflight” in Zukunft stärker bewerben zu können, wurden wir damit beauftragt eine responsive Microsite zu erstellen, die die Vorzüge und das technische Setup hinter dem Produkt veranschaulicht. Die Seite ging begleitend zur Apex Expo 2015 in Portland, USA online, und wurde am dortigen Messestand der Telekom zu Präsentationszwecken gezeigt.
    %a.button.flat{href: "http://inflight.telekom.net", target: "_blank"} Zum Projekt
  %img.obj{src: "/images/projects/Project_Object_Inflight.png"}
  %img.bg{src: "/images/projects/Project_BG_Inflight.jpg", width: 2560, height: 647}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_Inflight_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Inflight_mobile.jpg", width: 1440, height: 678}
