.project.project-workplace
  .content 
    %h1 
      TELEKOM
      %br/
      GESCHÄFTSKUNDEN - 
      %br/
      MOBILE WORKPLACE
    %p.client Auftraggeber: Telekom Deutschland GmbH
    %p.intro
      Die Arbeitsumgebungen morderner Unternehmen werden zunehmend mobil. Mit Mobile Workplace bietet die Telekom Unternehmen individuell zugeschnittene Mobilitäts Strategien.

    %p.copy
      Um Unternehmen die Vorteile von Mobile Workplace näherzubringen wurde Gedankenwerk mit der Erstellung eines Films und einer Powerpointpräsentation beauftragt.
    %a.button.flat.fancybox-media{href: "https://vimeo.com/gedankenwerk/review/85516897/1a8099c7f9", target: "_blank"} Film anschauen
  %img.obj{src: "/images/projects/Project_Object_Mobile_Workplace.png"}
  %img.bg{src: "/images/projects/Project_BG_Mobile_Workplace.jpg", width: 2560, height: 647}

  -#%img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png", width: 600, height: 397}
  %img.objmobile{src: "/images/projects/mobile/Project_Object_Mobile_Workplace_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Mobile_Workplace_mobile.jpg", width: 1440, height: 715}
