.project.project-pawlak
  .content 
    %h1 
      HIFI PAWLAK
    %p.client Auftraggeber: HiFi Spezialist Werner Pawlak GmbH
    %p.intro
      Das klingende Erlebnis

    %p.copy
      HiFi Pawlak—nicht nur unter Kennern Synonym für akustische High End Träume in Essen. Das traditionsreiche, mittelständische Unternehmen bietet bereits seit den 70er Jahren edelste Hardware für audiophile Genießer an. Um das auch online transportieren zu können, haben wir eine ästhetische Website auf dem neusten Stand der Technik realisiert, die dem Namen Pawlak in jeglicher Hinsicht gerecht wird.
    %a.btn.pawlak{href: "http://www.hifi-pawlak.de", target: "_blank"}
      %img{src: "/images/projects/btn-pawlak.png", width: "148", height: "43"}

  %img.obj{src: "/images/projects/prj-obj-pawlak.png"}
  %img.bg{src: "/images/projects/prj-bg-pawlak.png", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-pawlak.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-pawlak.png", width: 1440, height: 762}
