.project.project-demail
  .content 
    %h1 DE-MAIL FILIALFINDER
    %p.client Auftraggeber: Telekom Deutschland GmbH
    %p.intro
      Wer Telekom DE-Mail nutzen möchte muss sich als
      ersten Schritt vor Ort registrieren und authentifizieren.
      Der DE-Mail Filialfinder weist den Weg.
    %p.copy
      Der Filialfinder ist eine WebApplikation auf Basis von Google Maps, 
      die es Privatkunden erlaubt nach Eingabe Ihrer Adressdaten den 
      nächstgelegenen Standort zur DE-Mail Registrierung und Authentifizierung 
      inklusive Routenberechnung zu finden. Neben dem Standort werden außerdem 
      Öffnungszeiten und wichtige Hinweise dargestellt.
    %a.button.flat.magenta{href: "http://www.telekom.de/de-mail", target: "_blank"} Zum Projekt

  %img.obj{src: "/images/Project_Object_Telekom_DE-Mail_Filialfinder.png"}
  %img.bg{src: "/images/Project_DE-Mail_Filialfinder.jpg", width: 2560, height: 577}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_De-Mail_Filialfinder_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_De-Mail_Filialfinder_mobile.jpg", width: 1440, height: 802}
