
.project.project-foursquare
  .content 
    %h1 
      Foursquare Gewinnspiel 
    %p.client Auftraggeber: Telekom Deutschland GmbH - Mehrwertdienste
    %p.intro
      Display-App unterstütze Verlosung auf der NEXT11
    %p.copy
      Für eine Verlosung der Deutschen Telekom von zwei Motorola XOOM 
      Tablets auf der next conference 2011 in Berlin, konzipierte und 
      entwickelte Gedankenwerk eine Display-App, die, basierend auf der 
      Foursquare-API, aktuelle Checkins einer Foursquare-Venue auf dem 
      von Deutsche Telekom entwickelten ICLD Kiosksystem anzeigt.
      %br/
      %br/
      Gedankenwerk hat ein eigenes 
      Buffer-Verfahren entwickelt, dass alle aktuellen “jetzt”-Informationen 
      im Sekundentakt von Foursquare abfragt und in eine eigene 
      Datenbank überträgt. 
    %a.button.flat.foursquare.angular.unavailable{href: "#"} Nicht öffentlich

  %img.obj{src: "/images/projects/Project_Object_Foursquare_NEXT11.png"}
  %img.bg{src: "/images/projects/Project_Foursquare_NEXT11.jpg", width: 2560, height: 577}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_Foursquare_NEXT11_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Foursquare_NEXT11_mobile.jpg", width: 1440, height: 852}
