.project.project-fanmeile
  .content 
    %h1
      %span FUSSBALL EM 2012
      %br/
      FANMEILE BERLIN
    .contentwrapper 
      %p.client Auftraggeber: K.I.T. Group GmbH, Hyundai Motor Deutschland GmbH 
      %p.intro
        Die Fanmeile Berlin ist eine Community—dank der neuen
        Webpräsenz und Facebook Seite mehr denn je.
      %p.copy
        Die Website informiert über den Spielplan, die Events und wichtige Infos.
        Dabei fängt das aufwändige  “grunge Design” den Flair der Fanmeile ein.
        Die parallel geschaltete Facebookseite bot allen Fans die Möglichkeit
        immer und überall live dabei zu sein und an der Fanmeile Berlin teilzuhaben.
        So wurde die Fanmeile Berlin 2012 zu einem großen Erfolg.
      %a.button.flat.angular.fanmeile{href: "http://fanmeile.gedankenwerk.com", target: "_blank"} Zum Projekt

  %img.obj{src: "/images/projects/Project_Object_Fanmeile_Berlin.png"}
  %img.bg{src: "/images/projects/Project_Fanmeile_Berlin.jpg", width: 2560, height: 577}
  
  %img.objmobile{src: "/images/projects/mobile/Project_Object_Fanmeile_Berlin_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Fanmeile_Berlin_mobile.jpg", width: 1440, height: 765}
