.project.project-zoll.project-zolldisco.project-ean
  .content 
    %h1 
      EUROPEAN
      %br/
      AVIATION NETWORK
    %p.client Auftraggeber: Deutsche Telekom AG / Inmarsat Global Ltd
    %p.intro
      Das Hybrid Netzwerk für den Europäischen Flugverkehr.
    %p.copy
      Das European Aviation Network ist ein innovatives Großprojekt der Deutschen Telekom und Inmarsat, welches die Internet-Konnektivität im Flugzeug bei Kurz- und Mittelstreckenflügen innerhalb Europas revolutionieren will. Um das komplexe Thema EAN in eine leicht verständliche Form zu bringen, haben wir verstärkt auf großflächige, einfach zu verstehende Schaubilder gesetzt—das Ganze wie immer aufgesetzt auf einer technisch soliden, responsiven Basis.
    %a.btn.big.ean{href: "http://europeanaviationnetwork.com/", target: "_blank"} Zum Projekt >

  %img.obj{src: "/images/projects/prj-obj-ean.png"}
  %img.bg{src: "/images/projects/prj-bg-ean.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-ean.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-ean.png", width: 1440, height: 772}
