.project.project-clinton
  .content 
    %h1 
      CLINTONHARN.NET
    %p.client Auftraggeber: Clinton Harn
    %p.intro
      “Catching the essence of each moment”

    %p.copy
      Wir hatten das Vergnügen für den, in Australien ansässigen, Kameramann, Regisseur, Produzenten und Audio-Recording-Ingenieur Clinton Harn eine neue Website zu erstellen. Umgesetzt wurde das Ganze in Wordpress mittels eines handgefertigten Templates.
    %a.btn.medium.orange{href: "http://clintonharn.com", target: "_blank"} Zum Projekt
  %img.obj{src: "/images/projects/prj-obj-clinton.png"}
  %img.bg{src: "/images/projects/prj-bg-clinton.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-clinton.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-clinton.jpg", width: 1440, height: 762}
