.project.project-entertain
  .content 
    %h1 
      Entertain Installation 
      %br/
      \& Verkabelung
    %p.client Auftraggeber: Deutsche Telekom AG
    %p.intro
      Seit 2009 nutzt die Deutsche Telekom nun schon den, von uns erstellten Guide zur “Entertain Installation & Verkabelung”
      Zeit für einen ordentlichen Relaunch ...
    %p.copy
      Mit dem 2016er Update haben wir die Microsite auf ein neues, zeitgemäßes Niveau gehoben: Aktuelles Telekom Branding, neue Geräte, animierte Kacheln und responsives Design.
    %a.btn.big.rounded.magenta{href: "http://entertain.gedankenwerk-hosting.com", target: "_blank"} Zum Projekt
  %img.obj{src: "/images/projects/prj-obj-entertain.png"}
  %img.bg{src: "/images/projects/prj-bg-entertain.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-entertain.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-entertain.jpg", width: 1440, height: 714}
