.project.project-stollenhelden
  .content 
    %h1 
      STOLLENHELDEN
    %p.client Auftraggeber: Deutsche Telekom AG
    %p.intro
      Hier spielt der Nachwuchsfußball

    %p.copy
      Die neuen „Stollenhelden“ sind die konsequente Fortsetzung der „Stollenstrolche” – bei den „Stollenhelden“ wird nun die ganze Fußballfamilie komplett mit spannenden Informationen und Geschichten, Mitmach-Aktionen und Videos versorgt.
      %br/
      %br/
      Auch unter der Haube hat die Stollenhelden einiges zu bieten. Zum Einsatz kam das ultraschnelle MeteorJS Web-Framework in Kombination mit Facebook’s React Framework, welche inhaltliche Anpassungen in Echtzeit ermöglichen und nur relevante Inhalte aktualisieren—damit haben sich lahme Seiten-Reloads erübrigt. Die Stollenhelden bieten also nicht nur auf dem Bolzplatz, sondern auch online und mobil eine Höllen-Performance!
    %a.btn.big.rounded.magenta{href: "https://stollenhelden.de", target: "_blank"} Zum Projekt >
  %img.obj{src: "/images/projects/prj-obj-stollenhelden.png"}
  %img.bg{src: "/images/projects/prj-bg-stollenhelden.jpg", width: 2560, height: 607}

  %img.objmobile{src: "/images/projects/prj-obj-mob-stollenhelden.png"}
  %img.bgmobile{src: "/images/projects/prj-bg-mob-stollenhelden.jpg", width: 1440, height: 762}
