.project.project-tventure
  .content 
    %h1 
      T-VENTURE WEBSITE
      %span> .
    %p.client Auftraggeber: T-Venture Holding GmbH
    %p.intro
      T-Venture ist der Venture-Kapitalgeber der Deutschen Telekom. 
      Zielgruppe: junge, innovative Unternehmen mit klaren Vorstellungen. 
      Die neue Website spricht ihre Sprache.
    %p.copy
      Für den T-Venture Website Relaunch hat Gedankenwerk alle Inhalte
      einer radikalen Modernisierungskur unterzogen: Responsive Design, 
      eine schlanke, konsequente Navigation und bildstarker Content sorgen 
      für einen zeitgemäßen Webauftritt, der auch auf Retina Displays glänzen kann.
    %a.button.flat{href: "http://t-venture.com", target: "_blank"} Zum Projekt
  %img.obj{src: "/images/Project_Object_T-Venture.png"}
  %img.bg{src: "/images/Project_T-Venture.jpg", width: 2560, height: 627}

  -#%img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png", width: 600, height: 397}
  %img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png"}
  %img.bgmobile{src: "/images/Project_BG_T-Venture_mobile.jpg", width: 1440, height: 715}
