.project.project-nokiax6
  .content 
    %h1 NOKIA X6 PRODUKTSHOW
    %p.client Auftraggeber: Wunderman GmbH
    %p.intro
      Das Nokia X6 ist das Entertainment-Flagschiff des Handy-Marktführers. 
      Die Produkt-Microsite zeigt mit einer dynamischen Animation, warum.
    %p.copy
      Die von Gedankenwerk in Zusammenarbeit mit Wunderman/Düsseldorf (Storyboard) 
      entwickelte 3D-Animation zeigt das X6 in voller Aktion - und überzeugt 
      damit nicht nur die junge Zielgruppe: Wegen der großen Beliebtheit wird die 
      emotionale Produktshow nicht nur im Web, sondern auch für den P.o.S., 
      als HD-Version und für den internationalen Einsatz adaptiert.
      Bei allen Versionen zeichnet sich Gedankenwerk für 3D-Rendering, Animation und 
      Post-Production verantwortlich.
    %a.button.flat.angular.nokia.fancybox-media{href: "https://vimeo.com/gedankenwerk/review/61343382/ca6ede7e47"} Film anschauen
  %img.obj{src: "/images/projects/Project_Object_Nokia_X6.png"}
  %img.bg{src: "/images/projects/Project_BG_Nokia_X6.jpg", width: 2560, height: 577}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_Nokia_X6_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Nokia_X6_mobile.jpg", width: 1440, height: 799}
