.project.project-ibs
  .content 
    %h1 
      DIGITALE FILIALE
    %p.client Auftraggeber: Telekom Deutschland GmbH
    %p.intro
      Digitale Transformation: die neuen Möglichkeiten
      %br/
      für den Retail-Bereich.

    %p.copy
      Unter dem Arbeitstitel ”Digitale Filiale” stellte die Deutsche Telekom im Rahmen der CeBIT 2015 neue Möglichkeiten für digitale Mehrwerte in Filialen sowie Marketing- und Analyse-Tools für gezielte Kundenansprache vor. Zu diesem Zweck haben wir mehrere Infofilme und Interfaces für die Infoterminals des Messestandes erstellt, die den Besucher durch die Möglichkeiten der Digitalen Filiale von morgen führen.
    %a.button.flat{href: "http://kunden.gedankenwerk.com/Telekom_Digitale_Filiale/", target: "_blank"} Applikation starten (reduziert)
  %img.obj{src: "/images/projects/Project_Object_Digitale_Filiale.png"}
  %img.bg{src: "/images/projects/Project_BG_Digitale_Filiale.jpg", width: 2560, height: 647}

  %img.objmobile{src: "/images/projects/mobile/Project_Object_Digitale_Filiale_mobile.png"}
  %img.bgmobile{src: "/images/projects/mobile/Project_BG_Digitale_Filiale_mobile.jpg", width: 1440, height: 715}
