---
title: Serices - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline.singletagline
      WIR SIND EINE DIGITALE
      %br 
      KREATIV-AGENTUR
      %span> .

  %section.clearfix.contentsection

    %aside.about-pullquote
      “We are a creative 
      %br/
      digital agency 
      %br/
      passionate about 
      %br/
      crafting beautiful and 
      %br/
      usable solutions”
      %br
      %span 
        %strong Sascha Panter
        %br
        Managing Director

    %p.span1to8.softintro
      Gedankenwerk entwickelt seit Februar 2000 unverwechselbare 
      Lösungen für die digitalen Kanäle – online wie offline
      %span> .

    %p.span1to4.copy
      Interaktion und Animation sind die zentralen Schwerpunkte 
      unserer Arbeit: vom emotional inszenierten Webauftritt für 
      Marken und Kampagnen über B2B-Plattformen mit intuitiven 
      Usability-Konzepten bis hin zur aufmerksamkeitsstarken 
      Speziallösung am P.o.S.

    %p.span5to8.copy
      Interaktion und Animation sind die zentralen Schwerpunkte 
      unserer Arbeit: vom emotional inszenierten Webauftritt 
      für Marken und Kampagnen über B2B-Plattformen mit intuitiven 
      Usability-Konzepten bis hin zur aufmerksamkeitsstarken 
      Speziallösung am P.o.S.



  %section.clearfix.contentsection
    %h1 
      UNSER ANSPRUCH
      %span> .


    .ambition-bullets.clearfix
      .ambitionbullet
        %h2
          %span 
            Exzellente 
            %br/
            Kreativarbeit und 
            %br/ 
            Ideen
        %p
          Interaktion und Animation sind die zentralen 
          Schwerpunkte unserer Arbeit: vom emotional 
          inszenierten Webauftritt für

      .ambitionbullet
        %h2
          %span 
            Spezialisten aus 
            %br/ 
            allen Bereichen
        %p
          Interaktion und Animation sind die 
          zentralen Schwerpunkte unserer Arbeit: 
          vom emotional inszenierten Webauftritt für

      .ambitionbullet
        %h2 
          %span 
            Innovative 
            %br/
            Technologien
        %p
          Interaktion und Animation sind die zentralen 
          Schwerpunkte unserer Arbeit: vom emotional 
          inszenierten Webauftritt für

  %section.clearfix.contentsection
    %h1
      WIE WIR ARBEITEN
      %span> .

    .howwework-bullets.clearfix
      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon1.svg"}
        %h2
          1. BRIEFING
        %p
          Interaktion und Animation sind die zentralen Schwerpunkte 
          unserer Arbeit: vom emotional inszenierten Webauftritt 
          für Marken und Kampagnen über B2B-Plattformen mit intuitiven

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon2.svg"}
        %h2
          2. ANGEBOT
        %p
          Interaktion und Animation sind die zentralen Schwerpunkte 
          unserer Arbeit: vom emotional inszenierten Webauftritt 
          für Marken und Kampagnen über B2B-Plattformen mit intuitiven

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon3.svg"}
        %h2
          3. RESEARCH
        %p
          Interaktion und Animation sind die zentralen Schwerpunkte 
          unserer Arbeit: vom emotional inszenierten Webauftritt 
          für Marken und Kampagnen über B2B-Plattformen mit intuitiven

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon4.svg"}
        %h2
          4. KONZEPT/DESIGN
        %p
          Interaktion und Animation sind die zentralen Schwerpunkte 
          unserer Arbeit: vom emotional inszenierten Webauftritt 
          für Marken und Kampagnen über B2B-Plattformen mit intuitiven
  
    .howwework-bullets.clearfix
      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon5.svg"}
        %h2
          5. FEEDBACKLOOP
        %p
          Interaktion und Animation sind die zentralen Schwerpunkte 
          unserer Arbeit: vom emotional inszenierten Webauftritt 
          für Marken und Kampagnen über B2B-Plattformen mit intuitiven

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon6.svg"}
        %h2
          6. DEVELOPMENT
        %p
          Interaktion und Animation sind die zentralen Schwerpunkte 
          unserer Arbeit: vom emotional inszenierten Webauftritt 
          für Marken und Kampagnen über B2B-Plattformen mit intuitiven


      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon7.svg"}
        %h2
          7. LAUNCH
        %p
          Interaktion und Animation sind die zentralen Schwerpunkte 
          unserer Arbeit: vom emotional inszenierten Webauftritt 
          für Marken und Kampagnen über B2B-Plattformen mit intuitiven

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon8.svg"}
        %h2
          8. AFTER SALE SUPPORT
        %p
          Interaktion und Animation sind die zentralen Schwerpunkte 
          unserer Arbeit: vom emotional inszenierten Webauftritt 
          für Marken und Kampagnen über B2B-Plattformen mit intuitiven


  %section.clearfix.contentsection.team
    %h1 
      UNSER TEAM
      %span> .

    %dl
      %dt
        SASCHA PANTER
        %span ..............................
      %dd Konzeption, Design & Projektmanagement
      %dt
        CHRISTIAN KREIENKAMP
        %span ..............................
      %dd Konzeption, Text & Projektmanagement
      %dt
        YVONNE SCHWEIGER
        %span ..............................
      %dd Administration & Illustration
      %dt
        MARCEL ASHUN
        %span ..............................
      %dd 3D & (Motion)-Design
      %dt
        DANIEL GLASS
        %span ..............................
      %dd 3D & (Motion)–Design
      %dt
        MARCEL FAHLE
        %span ..............................
      %dd Development & Innovation
      %dt
        KAROL GRUSZKA
        %span ..............................
      %dd Design & Illustration





