---
title: Serices - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline.singletagline
      STANDARDS KANN JEDER ERFÜLLEN.
      %br 
      WIR SETZEN LIEBER NEUE
      %span> .

  %section.clearfix.contentsection

    %aside.about-pullquote
      "Wir lieben 
      %br/
      Herausforderungen. 
      %br/
      Und wir brauchen sie. 
      %br/
      Nur so entsteht etwas 
      %br/
      wirklich Neues."
      %span 
        %strong Sascha Panter
        %br
        Managing Director

    %p.span1to8.softintro
      Gedankenwerk realisiert einzigartige Ideen für die digitalen Medien unserer Zeit. 
      Für Ergebnisse, die neue Maßstäbe setzen statt bestehende zu imitieren
      %span> .

    %p.span1to4.copy
      Seit über einem Jahrzehnt steht Gedankenwerk für einen klaren Anspruch: 
      Wir entwickeln Lösungen, deren Qualität die Erwartungen unserer Kunden 
      übertrifft. Denn wir denken, dass etwas Erwartetes nicht wirklich 
      innovativ sein kann. Wir sind Macher, die für eine gute Idee

    %p.span5to8.copy
      kämpfen, bevor sie zum Kompromiss wird. 
      Solange wir keine überzeugende Lösung für Sie gefunden haben, bleiben wir 
      chronisch unzufrieden. Denn wir wollen auf jede unserer Arbeiten stolz sein.



  %section.clearfix.contentsection
    %h1 
      UNSER ANSPRUCH
      %span> .


    .ambition-bullets.clearfix
      .ambitionbullet
        %h2
          %span 
            Exzellente 
            %br/
            Kreativarbeit und 
            %br/ 
            Ideen
        %p
          Das Fundament bildet immer der richtige Gedanke. 
          Und der ist uns einiges wert. Deshalb stecken wir 
          mehr Energie in die Ideen- und Konzeptentwicklung als üblich.


      .ambitionbullet
        %h2
          %span 
            Spezialisten aus 
            %br/ 
            allen Bereichen
        %p
          Unsere Services sind vielfältig. Unser Team ist 
          es auch. Denn wirklich überzeugende Lösungen entstehen 
          nur im Zusammenspiel von Köpfen, die unterschiedlich denken.

      .ambitionbullet
        %h2 
          %span 
            Innovative 
            %br/
            Technologien
        %p
          Die Möglichkeiten des Webs und der digitalen 
          Welt wachsen ständig. Unser Team bleibt auf 
          Augenhöhe, um unseren Kunden das Beste neuer 
          Technologien zu bieten.

  %section.clearfix.contentsection
    %h1
      WIE WIR ARBEITEN
      %span> .

    .howwework-bullets.clearfix
      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon1.svg"}
        %h2
          1. BRIEFING
        %p
          Ihre Anfrage ist uns willkommen. Wir besprechen 
          gemeinsam Ihre Vorstellungen und ersten Ideen, 
          um im Anschluss die richtigen Leistungen für Ihren Bedarf zu empfehlen.

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon2.svg"}
        %h2
          2. ANGEBOT
        %p
          Mit all Ihren Informationen ausgestattet, stellen 
          wir Ihnen unser erstes Angebot mit allen verbundenen 
          Kosten zusammen. Natürlich bleiben wir auch dazu gesprächsbereit.


      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon3.svg"}
        %h2
          3. RECHERCHE
        %p
          Im nächsten Schritt spezifizieren wir Ihren Bedarf genau. 
          Mit klaren Empfehlungen für Design, Inhalt und Technik, 
          mit denen Sie Ihre Ziele bestmöglich und schnell erreichen.

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon4.svg"}
        %h2
          4. KONZEPT/IDEE
        %p
          Sie erhalten erste konkrete Design-Vorschläge und 
          Konzepte von uns: eine Auswahl von Möglichkeiten, 
          die wir für Ihre Ziele geeignet halten und auf Wunsch vor Ort präsentieren.
  
    .howwework-bullets.clearfix
      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon5.svg"}
        %h2
          5. RÜCKMELDUNG
        %p
          Aufgrund Ihrer Rückmeldungen überarbeiten wir 
          gegebenenfalls unsere Ideen und machen uns an den 
          Feinschliff. Sobald Sie unsere Vorschläge freigeben, geht es zum nächsten Schritt.

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon6.svg"}
        %h2
          6. ENTWICKLUNG
        %p
          Wir setzen alle besprochenen Ideen gestalterisch 
          wie technisch um. In dieser Phase geben wir 
          Ihnen immer wieder Updates zum Entwicklungsstand, 
          damit für Sie alles transparent bleibt.


      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon7.svg"}
        %h2
          7. LAUNCH
        %p
          Sobald alle Testphasen bei uns und bei Ihnen 
          abgeschlossen sind, ist die Idee für die Welt 
          bereit: Nun erfolgt der Live-Gang bzw. die 
          technische Implementierung der Lösung. 

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon8.svg"}
        %h2
          8. SUPPORT
        %p
          Natürlich stehen wir Ihnen auch nach Abschluss 
          der initialen Projektentwicklung mit Rat und 
          Tat zur Seite. Ob mit kompetentem Support oder 
          neuen Konzepten zur Weiterentwicklung.


  %section.clearfix.contentsection.team
    %h1 
      UNSER TEAM
      %span> .

    %dl
      %dt
        SASCHA PANTER
        %span ..............................
      %dd Konzeption, Design & Projektmanagement
      %dt
        CHRISTIAN KREIENKAMP
        %span ..............................
      %dd Konzeption, Text & Projektmanagement
      %dt
        YVONNE SCHWEIGER
        %span ..............................
      %dd Administration & Illustration
      %dt
        MARCEL ASHUN
        %span ..............................
      %dd 3D & (Motion)-Design
      %dt
        DANIEL GLASS
        %span ..............................
      %dd 3D & (Motion)–Design
      %dt
        MARCEL FAHLE
        %span ..............................
      %dd Development & Innovation
      %dt
        KAROL GRUSZKA
        %span ..............................
      %dd Design & Illustration





