---
title: Serices - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline.singletagline
      EVERYBODY CAN MAINTAIN STANDARDS
      %span> .
      %br 
      WE PREFER TO SET NEW ONES
      %span> .

  %section.clearfix.contentsection


    .span1to8
      %p.softintro
        Gedankenwerk implements unique ideas made for the today's digital media,
        producing results that set new benchmarks, instead of copying old ones.
        %span> .


      %p.copy
        Since over a decade, Gedankenwerk sets a clear demand:
        We develop solutions whose quality exceeds the expecations of our clients.
        because we think, that the expected can't be innovative.
        We are makers who will go the extra mile for good ideas, instead of giving
        into compromises.
        As long as we haven't found a satisfying solution for you, we will stay chronically 
        unsatisfied, because we want to be proud of every piece of work we do.

    %aside.about-pullquote
      %img{src: "/images/About_Bubble_mit_Text_und_Name.svg", width: 220, height: 258 }


  %section.clearfix.contentsection
    %h1 
      OUR STANDARD
      %span> .


    .ambition-bullets.clearfix
      .ambitionbullet
        .testwrap
          %img{src: "/images/About_Circle_1.svg"}
          %h2.threelines
            &nbsp;
        %p
          The foundation is always build on the right idea, and this 
          means a lot to us. And because of that, we invest more time
          and energy into the idea- and conception phase as it is the norm.

      .ambitionbullet
        .testwrap
          %img{src: "/images/About_Circle_2.svg"}
          %h2.twolines
            &nbsp;
        %p
          Our services are very versatile, so is our team.
          And that's because you need a variety of great minds 
          to come up with the most satisfying solutions.
      .ambitionbullet
        .testwrap
          %img{src: "/images/About_Circle_3.svg"}
          %h2.twolines
            &nbsp;
        %p
          The possibilities of the web and the digital
          world are growing steadily. Our team stays on top
          of it to always deliver our clients the best of 
          new technologies.

  %section.clearfix.contentsection
    %h1
      HOW WE WORK
      %span> .

    .howwework-bullets.clearfix
      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon1.svg"}
        %h2
          1. BRIEFING
        %p
          Your inquiry is more than welcome. Together we will
          talk about your vision and first ideas before recommending
          the appropriate services for your needs.

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon2.svg"}
        %h2
          2. ESTIMATE
        %p
          Equipped with all necessary information, we will 
          create our first estimate including all associated costs.
          We will, of course, stay open for discussion after this.


      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon3.svg"}
        %h2
          3. RESEARCH
        %p
          The next step will determine your exact needs, with clear 
          directions for design, content and technology to reach your
          goals as soon and as efficient as possible.

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon4.svg"}
        %h2
          4. CONCEPT/IDEA
        %p
          We will give you concrete design recommendations
          and concepts: A selection of possibilities, fittet
          to your needs, and optional, delivered on location.
  
    .howwework-bullets.clearfix
      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon5.svg"}
        %h2
          5. FEEDBACK
        %p
          Based on your feedback, we will revise and polish our ideas.
          As soon as you authorize our proposals, 
          we will proceed with the next step.

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon6.svg"}
        %h2
          6. DEVELOPMENT
        %p
          We will implement all discussed ideas creatively as
          well as technically. In this phase we will periodically 
          give you updates to the state of development, so that everything is as
          transparent as possible for you.

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon7.svg"}
        %h2
          7. LAUNCH
        %p
          Sobald alle Testphasen bei uns und bei Ihnen 
          abgeschlossen sind, ist die Idee für die Welt 
          bereit: Nun erfolgt der Live-Gang bzw. die 
          technische Implementierung der Lösung. 

      .howwework-bullet
        .imgwrapper
          %img{src: "/images/about-icon8.svg"}
        %h2
          8. SUPPORT
        %p
          Natürlich stehen wir Ihnen auch nach Abschluss 
          der initialen Projektentwicklung mit Rat und 
          Tat zur Seite. Ob mit kompetentem Support oder 
          neuen Konzepten zur Weiterentwicklung.


  %section.clearfix.contentsection.team
    %h1 
      UNSER TEAM
      %span> .

    %dl
      %dt
        SASCHA PANTER
        %span ..............................
      %dd Konzeption, Design & Projektmanagement
      %dt
        CHRISTIAN KREIENKAMP
        %span ..............................
      %dd Konzeption, Text & Projektmanagement
      %dt
        YVONNE SCHWEIGER
        %span ..............................
      %dd Administration & Illustration
      %dt
        MARCEL ASHUN
        %span ..............................
      %dd 3D & (Motion)-Design
      %dt
        DANIEL GLASS
        %span ..............................
      %dd 3D & (Motion)–Design
      %dt
        MARCEL FAHLE
        %span ..............................
      %dd Development & Innovation
      %dt
        KAROL GRUSZKA
        %span ..............................
      %dd Design & Illustration





