---
title: Impressum - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section.contentsection.last.textonly
    %h1
      IMPRESSUM
      %span> .

    %p
      %strong Gedankenwerk - Agentur für neue Medien
      %br/
      Sascha Panter und Yvonne Schweiger GbR
      %br/
      Gentweg 10
      %br/
      45356 Essen

    %p
      Tel. 0201 630 191 - 33
      %br/
      Fax 0201 630 191 – 88

    %p
      E-Mail: 
      %a{href: "mailto:info@gedankenwerk.com"} info@geadnkenwerk.com
      %br/
      Internet:
      %a{href: "http://gedankenwerk.com"} www.gedankenwerk.com

    %p
      %strong Umsatzsteuer-Identifikations-Nr. gemäß § 27a
      %br/
      %strong Umsatzsteuergesetz:
      %br/
      DE206228057

    %p
      %strong Inhaltlich Verantwortliche gemäß § 10 Absatz 3 MDStV:
      %br/
      Sascha Panter und Yvonne Schweiger (Anschrift wie oben)

    %p
      %strong Warenzeichen:
      %br/
      Gedankenwerk ist eine beim deutschen Patent- und Markenamt in München
      %br/
      eingetragene Marke (Registernummer/Aktenzeichen: 300 47 470.9/38).

    %p
      %strong Haftungshinweis:
      %br/
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine 
      Haftung für die Inhalte externer Links. Für den Inhalt der 
      verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

    %p
      %strong Copyright:
      %br/
      &copy;2013 Gedankenwerk

    %p
      Alle aufgeführten Firmen-, Marken- und Produktnamen können
      %br/
      eingetragene Warenzeichen ihrer jeweiligen Hersteller sein.
