--- 
title: Gedankenwerk. Agentur f&uuml;r neue Medien 
description: 
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline
      F&Uuml;R GUTE IDEEN
      %br
      GEBEN WIR ALLES
      %span> .

    %p.subtagline
      Und meistens noch etwas mehr
      %span> .

  %section
    .intro-bullets.clearfix
      .bullet
        %img{src:"images/HomeIcon_Innovatives_Design.svg"}
        %h2 INNOVATIVES DESIGN
        %p
          Was wir entwickeln, sieht
          nicht nur gut aus. Sondern
          macht auch Orientierung und
          Nutzung einfacher.
      .bullet
        %img{src:"images/HomeIcon_Expertenloesungen.svg"}
        %h2 EXPERTENLÖSUNGEN
        %p
          Wir entwickeln Lösungen auf
          höchstem Niveau. Mit
          professionellen Technologien
          wie Ruby on Rails.
      .bullet
        %img{src:"images/HomeIcon_Flexible_Prozesse.svg"}
        %h2 FLEXIBLE PROZESSE
        %p
          Wir planen voraus. Und
          bleiben bei jedem Schritt
          flexibel. Denn gute Ideen
          zeigen sich oft im Prozess.
      .bullet
        %img{src:"images/HomeIcon_Budgetbewusstsein.svg"}
        %h2 BUDGETBEWUSSTSEIN
        %p
          Wir kalkulieren realistisch und
          transparent. Für Ergebnisse,
          die das Beste aus Ihrem
          Budget herausholen.




.feature-slider
  .slider-nav
    %a.slide-prev{href: "#"} prev
    %a.slide-next{href: "#"} next
    %ul.slide-indexes
      %li
        %a.active{href: "#", data: {goto: 0}} 1
      %li
        %a{href: "#", data: {goto: 1}} 2
      %li
        %a{href: "#", data: {goto: 2}} 3
      %li
        %a{href: "#", data: {goto: 3}} 4
      %li
        %a{href: "#", data: {goto: 4}} 5
      -#%li
      -#  %a{href: "#", data: {goto: 5}} 6
      -#%li
      -#  %a{href: "#", data: {goto: 6}} 7
      -#%li
      -#  %a{href: "#", data: {goto: 7}} 8
        -#%ul.slides
  %ul.slides



    %li.slide.slide-zoll
      .project-description.slide-zoll
        %h1.show-desktop
          ZECHE ZOLLVEREIN
          %br/
          EISBAHN
        %h1.show-mobile
          ZECHE ZOLLVEREIN EISBAHN
        %p.client 
        %p.intro.show-desktop
          “Der wohl faszinierendste Ort zum
          Schlittschuhlaufen bundesweit”
        %p.copy.show-desktop
          In unserer Zeche Zollverein Film-Reihe haben wir die spannenden Locations des Unesco Welterbes atmosphärisch in Szene gesetzt. Zwischen imposanten Koksöfen, rostroten Rohren und hohen Kaminen verläuft die Eisbahn mit 1800 Quadratmetern Fläche—eine imposante Szenerie, die auf jeden Fall einen Blick wert ist.

        %a.gotoproject.btn.show-desktop{href: "https://www.youtube.com/watch?v=6ZQujNnc8tU", target: "_blank"}
          %img{src: "/images/projects/Project_Button_Zeche_Zollverein_146x48_mobile_117x39.svg", width: 146 }

        %a.gotoproject.btn.small.transparent.show-mobile{href: "https://www.youtube.com/watch?v=6ZQujNnc8tU", target: "_blank"} Zum Video
      %img.object.show-desktop{src: "images/projects/slide-obj-eisbahn.png", width: 533, height: 615}
      %img.bg.show-desktop{src: "images/projects/slide-bg-eisbahn.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-eisbahn.png", width: 404, height: 490}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-eisbahn.jpg", width: 2560, height: 490}




    %li.slide.slide-zoll
      .project-description.slide-zoll
        %h1.show-desktop
          ZECHE ZOLLVEREIN
          %br/
          EISDISCO
        %h1.show-mobile
          ZECHE ZOLLVEREIN EISDISCO
        %p.client 
        %p.intro.show-desktop
          Wir laden zum Tanz auf dem Eis
        %p.copy.show-desktop
          In unserer Zeche Zollverein Film-Reihe haben wir die spannenden Locations des Unesco Welterbes atmosphärisch in Szene gesetzt. Entlang der Koksöfen erstreckt sich im Winter über eine Länge von 150 Meter die Zollverein Eisbahn. Insbesondere am Abend, wenn die Eisfläche in atmosphärisches Licht getaucht wird, verspricht das Schlittschuhlaufen vor der beeindruckenden Kulisse der Kokerei Zollverein ein einzigartiges Erlebnis.

        %a.gotoproject.btn.show-desktop{href: "https://www.youtube.com/watch?v=xhw5D5tnryw", target: "_blank"}
          %img{src: "/images/projects/Project_Button_Zeche_Zollverein_146x48_mobile_117x39.svg", width: 146 }

        %a.gotoproject.btn.small.transparent.show-mobile{href: "https://www.youtube.com/watch?v=xhw5D5tnryw", target: "_blank"} Zum Video
      %img.object.show-desktop{src: "images/projects/slide-obj-eisdisco.png", width: 533, height: 615}
      %img.bg.show-desktop{src: "images/projects/slide-bg-eisdisco.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-eisdisco.png", width: 404, height: 490}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-eisdisco.jpg", width: 2560, height: 490}


    %li.slide.slide-ean
      .project-description.slide-ean
        %h1.show-desktop
          EUROPEAN AVIATION NETWORK
          %br/
          AWARD NOMINEE!
        %h1.show-mobile
          EUROPEAN AVIATION NETWORK
          %br/
          AWARD NOMINEE!
        %p.client 
        %p.intro.show-desktop
          Nominiert für einen internationalen Design Award!
        %p.copy.show-desktop
          Unser Projekt für die Deutsche Telekom und Inmarsat 
          %a{href: "http://europeanaviationnetwork.com/", target:"_blank"} europeanaviationnetwork.com 
          geht ins Rennen um den CSS Design Award. Wir freuen uns über ein paar Handclaps (so nennen die "Likes") von euch. (Und falls Ihr den Handclap-Button nicht gleich seht: es ist das kleine türkise Feld unter dem oberen Screenshot.)

        %a.gotoproject.btn.big.ean.show-desktop{href: "http://www.cssdesignawards.com/sites/european-aviation-network/29823/", target: "_blank"} Zum Voting >

        %a.gotoproject.btn.small.transparent.show-mobile{href: "http://www.cssdesignawards.com/sites/european-aviation-network/29823/", target: "_blank"} Zum Projekt 
      %img.object.show-desktop{src: "images/projects/slide-obj-ean.png", width: 533, height: 615}
      %img.bg.show-desktop{src: "images/projects/slide-bg-ean.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-ean.png", width: 404, height: 490}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-ean.jpg", width: 2560, height: 490}





    %li.slide.slide-pawlak.nominee
      .project-description.slide-pawlak.nominee
        %h1.show-desktop
          HIFI PAWLAK
          %br/
          AWARD NOMINEE!
        %h1.show-mobile
          HIFI PAWLAK
          %br/
          AWARD NOMINEE!
        %p.client 
        %p.intro.show-desktop
          2x für einen internationalen Design Award nominiert!
        %p.copy.show-desktop
          Voller Stolz dürfen wir verkünden, dass unser Projekt 
          %a{href:"https://www.hifi-pawlak.de", target: "_blank"} hifi-pawlak.de 
          auf den internationalen Award Seiten 
          %a{href: "http://www.awwwards.com/sites/hifi-pawlak", target: "_blank"} Awwwards 
          und 
          %a{href: "http://www.cssdesignawards.com/sites/hifi-pawlak/29444/", target: "_blank"} CSS Design Awards 
          nominiert wurde.

        %a.gotoproject.btn.pawlak.show-desktop{href: "https://www.hifi-pawlak.de", target: "_blank"} 
          %img{src: "images/projects/btn-pawlak.png", width: "148", height: "43"}

        %a.gotoproject.btn.small.transparent.show-mobile{href: "https://www.hifi-pawlak.de", target: "_blank"} Zum Projekt 
      %img.object.show-desktop{src: "images/projects/slide-obj-pawlaknominee.png", width: 533, height: 615}
      %img.bg.show-desktop{src: "images/projects/slide-bg-pawlaknominee.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-pawlaknominee.png", width: 404, height: 490}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-pawlaknominee.png", width: 2560, height: 490}





    %li.slide.slide-stollenhelden.nominee
      .project-description.slide-stollenhelden.nominee
        %h1.show-desktop
          STOLLENHELDEN
          %br/
          AWARD NOMINEE!
        %h1.show-mobile
          STOLLENHELDEN
          %br/
          AWARD NOMINEE!
        %p.client 
        %p.intro.show-desktop
          2x für einen internationalen Design Award nominiert!
        %p.copy.show-desktop
          Voller Stolz dürfen wir verkünden, dass unser Projekt für die Deutsche Telekom 
          %a{href: "https://www.stollenhelden.de/", target: "_blank"} www.stollenhelden.de 
          auf den internationalen Award Seiten 
          %a{href: "http://www.awwwards.com/sites/stollenhelden", target: "_blank"} Awwwards 
          und 
          %a{href: "http://www.cssdesignawards.com/sites/stollenhelden/29330/", target: "_blank"} CSS Design Awards 
          nominiert wurde.

        %a.gotoproject.btn.big.rounded.magenta.show-desktop{href: "http://www.cssdesignawards.com/sites/stollenhelden/29330/", target: "_blank"} Zum Voting
        %a.gotoproject.btn.small.transparent.show-mobile{href: "http://www.cssdesignawards.com/sites/stollenhelden/29330/", target: "_blank"} Zum Voting 
      %img.object.show-desktop{src: "images/projects/slide-obj-shnominee.png", width: 533, height: 615}
      %img.bg.show-desktop{src: "images/projects/slide-bg-shnominee.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-shnominee.png", width: 547, height: 357}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-shnominee.jpg", width: 2560, height: 490}






    -#%li.slide.slide-entertain
    -#  .project-description.slide-entertain
    -#    %h1.show-desktop
    -#      Entertain Installation 
    -#      %br/
    -#      \& Verkabelung
    -#    %h1.show-mobile
    -#      Entertain Installation & Verkabelung
    -#    %p.client Auftraggeber: Deutsche Telekom AG
    -#    %p.intro.show-desktop
    -#      Seit 2009 nutzt die Deutsche Telekom nun schon den, von uns erstellten Guide zur “Entertain Installation & Verkabelung”
    -#      Zeit für einen ordentlichen Relaunch ...
    -#    %p.copy.show-desktop
    -#      Mit dem 2016er Update haben wir die Microsite auf ein neues, zeitgemäßes Niveau gehoben: Aktuelles Telekom Branding, neue Geräte, animierte Kacheln und responsives Design.
    -#    %a.gotoproject.btn.medium.rounded.gray.show-desktop{href: "http://entertain.gedankenwerk-hosting.com", target: "_blank"} Zum Projekt >
    -#    %a.gotoproject.btn.small.transparent.show-mobile{href: "http://entertain.gedankenwerk-hosting.com", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/projects/slide-obj-entertain.png", width: 623, height: 607}
    -#  %img.bg.show-desktop{src: "images/projects/slide-bg-entertain.jpg", width: 2560, height: 615}
    -#  %img.object.show-mobile{src: "images/projects/slide-obj-mob-entertain.png", width: 640, height: 344}
    -#  %img.bg.show-mobile{src: "images/projects/slide-bg-mob-entertain.jpg", width: 2560, height: 490}





    -# %li.slide.slide-techday
    -#   .project-description.slide-techday
    -#     %h1
    -#       TECHDAY 2014
    -#     %p.client Auftraggeber: Deutsche Telekom AG - Product & Innovation
    -#     %p.intro.show-desktop
    -#       Der TechDay ist eine Veranstaltungsreihe von Technology & Platforms mit dem Zweck Kernkompetenzfelder eines T&P Bereichs und dessen Produkte zu präsentieren.
    -#     %p.copy.show-desktop
    -#       Gedankenwerk wurde damit beauftragt ein Kommunikationskonzept zur ersten, diesjährigen TechDay Veranstaltung zum Thema “Identity Management” zu entwickeln.
    -#       Dies beinhaltete ein Themen Logo, eine Landingpage für Information und Registrierung und Texte und Bilder für das Telekom Intranet, Telekom Social Network, interne Medienwände, Roll-ups, Aufsteller, Namensschilder, Gewinnspielkarten etc.
    -#     %a.gotoproject.button.flat{href: "http://techday.customer-platforms.com/", target: "_blank"} Zum Projekt
    -#   %img.object.show-desktop{src: "images/Home_Slider_Object_Techday_2014.png", width: 624, height: 607}
    -#   %img.bg.show-desktop{src: "images/Home_Slider_BG_Techday_2014.jpg", width: 2560, height: 615}
    -#   %img.object.show-mobile{src: "images/Home_Slider_Object_Techday_2014_mobile.png", width: 640, height: 344}
    -#   %img.bg.show-mobile{src: "images/Home_Slider_BG_TechDay_2014_mobile.jpg", width: 2560, height: 490}

    -#%li.slide.slide-dialog
    -#  .project-description.slide-dialog
    -#    %h1
    -#      TELEKOM DIALOG
    -#    %p.client Auftraggeber: Telekom Deutschland GmbH
    -#    %p.intro.show-desktop
    -#      Telekom Dialog ist die exklusive Geschäftskundenplattform der
    -#      Deutschen Telekom. Hier vernetzen sich Führungskräfte und
    -#      Entscheidungsträger der Telekom - für den Austausch auf
    -#      Augenhöhe.
    -#    %p.copy.show-desktop
    -#      Ein knackiger OnePager, der kein Fragen offen lässt, zusammen mit einem
    -#      dynamischen Informationsvideo - so hat Gedankenwerk Telekom Dialog auf den Punkt
    -#      gebracht und das natürlich mit einem voll responsiven Design, dass sich an all
    -#      Zugangsgeräte anpasst.
    -#    %a.gotoproject{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_Dialog.png", width: 877, height: 617}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_Dialog.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_Dialog_mobile.png", width: 640, height: 326}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_Dialog_mobile.jpg", width: 1440, height: 490}

    
    -#%li.slide.slide-tventure
    -#  .project-description.slide-tventure
    -#    %h1
    -#      T-VENTURE WEBSITE
    -#      %span> .
    -#    %p.client Auftraggeber: T-Venture Holding GmbH
    -#    %p.intro.show-desktop
    -#      T-Venture ist der Venture-Kapitalgeber der Deutschen Telekom.
    -#      Zielgruppe: junge, innovative Unternehmen mit klaren Vorstellungen.
    -#      Die neue Website spricht ihre Sprache.
    -#    %p.copy.show-desktop
    -#      Für den T-Venture Website Relaunch hat Gedankenwerk alle Inhalte
    -#      einer radikalen Modernisierungskur unterzogen: Responsive Design,
    -#      eine schlanke, konsequente Navigation und bildstarker Content sorgen
    -#      für einen zeitgemäßen Webauftritt, der auch auf Retina Displays glänzen kann.
    -#    %a.gotoproject.button.flat{href: "http://t-venture.com", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_T-Venture.png", width: 600}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_T-Venture.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_T-Venture_mobile.png", width: 640, height: 344}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_T-Venture_mobile.jpg", width: 1440, height: 490}

    -#%li.slide.slide-imw
    -#  .project-description
    -#    %h1 TELEKOM IMW
    -#    %p.client Auftraggeber: Deutsche Telekom GmbH
    -#    %p.intro.show-desktop
    -#      Die IMW der Deutschen Telekom steht für ein komplexes Business: der Vertrieb von
    -#      Netzkapazitäten auf dem internationalen Markt. Ein schlanker Onepager im responsive
    -#      Design bringt das Angebot auf den Punkt.
    -#    %p.copy.show-desktop
    -#      Das neue IMW Design liegt mit seinem responsiven Grid, Vektor-Icons und
    -#      Touchoptimierung voll im Trend: klare Inhalte, einfache Struktur, keine
    -#      unnötigen Spielereien. Für optimale Lesbarkeit und perfekte Usability auf jedem Endgerät.
    -#    %a.gotoproject{href: "http://mvno.telekom.net/", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_IMW.png", width: 624, height: 607}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_IMW.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_IMW_mobile.png", width: 640, height: 332}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_IMW_mobile.jpg", width: 1440, height: 490}








.home-news.main
  %h1
    NEUES BEI GEDANKENWERK
    %span> .


  .news-articles

    %article.home-news-item
      %h1.show-mobile
        ZECHE ZOLLVEREIN
        %span >>
      %img{src: "images/news_zeche_zollverein@2x.jpg", width: "357"}
      %h1.show-desktop
        ZECHE ZOLLVEREIN
        %br/
        IMAGEFILM-REIHE
        %span >>
      %p
        It‘s done! Mit der Zeche Zollverein Video-Reihe feiern wir unser Debüt im Bereich der Video-Produktion. Die vier Videos umfassen das Ruhr Museum, die Kokerei, die Eisbahn und die Eisdisco und porträtieren in cineastischer Manier die Einzigartigkeit des Standortes Zeche Zollverein.
        Aber seht selbst!
        %br/
        %br/
        %a{href: "https://youtu.be/pIytKGhNp7o?list=PLd5PhDx0a7uqI586b37FVjc5K6wpmAsah"} Zeche Zollverein Playlist

    %article.home-news-item
      %h1.show-mobile
        GADGET STAGE
        %span >>
      %img{src: "images/news_gadget_stage_youtube_launch@2x.jpg", width: "357"}
      %h1.show-desktop
        GADGET STAGE
        %br/
        YOUTUBE LAUNCH
        %span >>
      %p
        Gadget Stage, der neue YouTube Channel für tech-begeisterte wie wir. Gestartet als Privatprojekt eines Gedankenwerklers, haben wir unsere Köpfe zusammen gesteckt und ein hübsches Design mit allem drum und dran kreiert. Na dann mal viel Erfolg beim Subscriber-Fang!
        %br/
        %br/
        %a{href: "https://www.youtube.com/channel/UCIt6mou8e8jgyA5-z2konww"} Gadget Stage YouTube Channel

    %article.home-news-item
      %h1.show-mobile
        HiFi PAWLAK NOMINIERT
        %span >>
      %img{src: "images/News_HiFi_Pawlak_CSS_Design_Award_Nominee@2x.jpg.png", width: "357"}
      %h1.show-desktop
        HIFI PAWLAK NOMINIERT
        %br/
        AUF CSS DESIGN AWARDS! 
        %span >>
      %p
        Nominiert! Voller Stolz dürfen wir verkünden, dass unser Projekt www.hifi-pawlak.de ins Rennen um den CSS Design Award geht. Wir freuen uns über ein paar Handclaps (so nennen die "Likes") von euch:
        %a{href: "http://bit.ly/2dJEoCK"} Hifi Pawlak Nominee Seite
        %br/
        %br/
        (Und falls Ihr den Handclap-Button nicht gleich seht: es ist das kleine türkise Feld unter dem oberen Screenshot.)

    -#%article.home-news-item
    -#  %h1.show-mobile
    -#    REACT.JS
    -#    %span >>
    -#  %img{src: "images/news-react.jpg", width: "357"}
    -#  %h1.show-desktop
    -#    GEDANKENWERK 
    -#    %br/
    -#    SETZT AUF REACT.JS
    -#    %span >>
    -#  %p
    -#    Gedankenwerk setzt auf React.js f&uuml;r User Interfaces. Facebook's beliebtes Frontend Framework wird in Zukunft mehr und mehr in von uns entwickelten Applikationen zum Einsatz kommen. Die sp&uuml;rbaren Performance- und Usability-Vorteile, sowie verbesserte Effizienz in der Entwicklung haben uns und unsere Kunden voll &uuml;berzeugt.









    -#
      %article.home-news-item
        %h1.show-mobile
          "TELEKOM DIALOG" IST ONLINE
          %span >>
        %img{src: "images/Home_News_Telekom_Dialog@2x.jpg", width: "357"}
        %h1.show-desktop
          "TELEKOM DIALOG" IST
          %br/
          ONLINE
          %span >>
        %p
          Ein knackiger OnePager, der keine Fragen offen lässt,
          zusammen mit einem dynamischen Informationsvideo –
          so hat Gedankenwerk Telekom Dialog auf den Punkt
          gebracht und das natürlich mit einem voll responsiven
          Design, dass sich an alle Zugangsgeräte anpasst.
          %br/
          %a{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/"} Zum Projekt

    -#%article.home-news-item
    -#  %h1.show-mobile
    -#    JETZT ONLINE: NEUE WEBSITE FÜR T-VENTURE
    -#    %span >>
    -#  %img{src: "images/Home_News_T-Venture@2x.jpg", width: "357"}
    -#  %h1.show-desktop
    -#    JETZT ONLINE: NEUE WEBSITE FÜR
    -#    %br
    -#    T-VENTURE
    -#    %span >>
    -#  %p
    -#    Für den T-Venture Website Relaunch hat
    -#    Gedankenwerk die Inhalte
    -#    einer radikalen Modernisierungskur unterzogen.
    -#    Schlanke Navigation und bildstarker Content
    -#    im responsive Design schaffen einen zeitgemäßen
    -#    Webauftritt, der auch auf Retina Displays glänzen kann.
    -#    %br/
    -#    %a{href: "http://t-venture.com", target: "_blank"} Zur Website


    -#%article.home-news-item
    -#  %h1.show-mobile
    -#    UPDATE: 360° PRODUKTSHOW FÜR DIE DEUTSCHE TELEKOM
    -#    %span >>
    -#  %img{src: "images/Home_News_3D_Produktshows@2x.jpg", width: "357"}
    -#  %h1.show-desktop
    -#    UPDATE: 360° PRODUKTSHOW
    -#    %br/
    -#    FÜR DIE DEUTSCHE TELEKOM
    -#    %span >>
    -#  %p
    -#    Wir haben die Produktshows der Deutschen Telekom an mobile Endgeräte angepasst.
    -#    Mit dem Product Viewer kann jedes Produkt vom User gedreht und beliebig
    -#    herangezoomt werden, um z. B. Anschlussbuchsen aus der Nähe zu sehen.
    -#    Es wurde eine komplett neue Engine in HTML5 programmiert.
    -#    Per Swipe kann man jetzt auf einem mobilen Endgerät einfach das Produkt drehen.
    -#    %br/
    -#    %a{href: "http://kunden.gedankenwerk.com/Telekom/produktshows2011/mediareceiver500sat/index.html"} Zum Projekt
