---
title: Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline
      FOR GREAT IDEAS
      %br 
      WE'LL GO THE EXTRA MILE
      %span> .

    %p.subtagline
      And sometimes a little bit further
      %span> .

  %section
    .intro-bullets.clearfix
      .bullet
        %img{src:"/images/HomeIcon_Innovatives_Design.svg"}
        %h2 INNOVATIVE DESIGNS
        %p 
          The things we develop, 
          do not only look good -
          they also simplify usability.
      .bullet
        %img{src:"/images/HomeIcon_Expertenloesungen.svg"}
        %h2 PROFESSIONAL SOLUTIONS
        %p 
          We develop solutions on the most advanced
          level, using professional technologies
          like Ruby on Rails.
      .bullet
        %img{src:"/images/HomeIcon_Flexible_Prozesse.svg"}
        %h2 FLEXIBLE EXECUTION
        %p 
          We do plan ahead, and stay 
          flexible with every step -
          because good ideas come up 
          in the process.
      .bullet
        %img{src:"/images/HomeIcon_Budgetbewusstsein.svg"}
        %h2 COST AWARENESS
        %p 
          Our estimates are realistic and 
          transparent - for results
          that make the most out of your budget.




.feature-slider
  .slider-nav
    %a.slide-prev{href: "#"} prev
    %a.slide-next{href: "#"} next
    %ul.slide-indexes
      %li
        %a.active{href: "#", data: {goto: 0}} 1
      %li
        %a{href: "#", data: {goto: 1}} 2
      %li
        %a{href: "#", data: {goto: 2}} 3
      %li
        %a{href: "#", data: {goto: 3}} 4
  %ul.slides
    %li.slide.slide-tventure
      .project-description.slide-tventure
        %h1 
          T-VENTURE WEBSITE
          %span> .
        %p.client Client: T-Venture Holding GmbH
        %p.intro.show-desktop
          T-Venture is the Venture Capital Company of Deutsche Telekom.
          T-Venture advises and looks after young, innovative enterprises.
          The new website speaks their language.
        %p.copy.show-desktop
          For the T-Venture relaunch, Gedankenwerk radically modernized
          every aspect of the site: Responsive Design, a lightweight and efficient
          navigation concept as well as strong visuals form an up-to-date
          presentation that also shines on high resolution retina displays.

        %a.gotoproject{href: "http://t-venture.com", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "/images/Home_Slider_Object_T-Venture.png", width: 623, height: 607}
      %img.bg.show-desktop{src: "/images/Home_Slider_BG_T-Venture.jpg", width: 2560, height: 610}
      %img.object.show-mobile{src: "/images/Home_Slider_Object_T-Venture_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "/images/Home_Slider_BG_T-Venture_mobile.jpg", width: 1440, height: 490}

    %li.slide.slide-imw
      .project-description
        %h1 TELEKOM IMW
        %p.client Client: Deutsche Telekom GmbH
        %p.intro.show-desktop
          Deutsche Telekom IMW represents a complex business: Distrbution of network capacities on
          inernational markets.
          A lean and responsive one-pager focuses on the essentials. 
        %p.copy.show-desktop
          The new design of IMW with it's responsive grid and vector graphics, is fully in line
          with current trends: clear and simple presentation without any distractions.
          Made for optimal readability and perfect usability on all devices.
        %a.gotoproject{href: "http://mvno.telekom.net/", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "/images/Home_Slider_Object_Telekom_IMW.png", width: 624, height: 607}
      %img.bg.show-desktop{src: "/images/Home_Slider_BG_Telekom_IMW.jpg", width: 2560, height: 610}
      %img.object.show-mobile{src: "/images/Home_Slider_Object_Telekom_IMW_mobile.png", width: 640, height: 332}
      %img.bg.show-mobile{src: "/images/Home_Slider_BG_Telekom_IMW_mobile.jpg", width: 1440, height: 490}
    %li.slide.slide-tke
      .project-description
        %h1 TKE EINFO
        %p.client Client: ThyssenKrupp Elevator AG
        %p.intro.show-desktop
          ThyssenKrupp Elevator stands for a product range that is globally unique.
          The e-Info application developed by Gedankenwerk offers all 40.000 employees
          an equally unique overview of the company.
        %p.copy.show-desktop
          Instead of following traditional navigation concepts, the content is represented
          in complex 3D-Animations, featuring picture galleries as well as interactive history
          outlines - as a guide through the world of ThyssenKrupp Elevator.
          Easily extendable and built entirely in HTML5, the e-Info application emphasizes
          the strong innovative drive of the company.
        %img.gotoproject-inactive{src: "/images/Home_Slider_TKE_eInfo_Button.png"}
      %img.object.show-desktop{src: "/images/Home_Slider_Object_TKE_eInfo.png", width: 624, height: 607}
      %img.bg.show-desktop{src: "/images/Home_Slider_BG_TKE_eInfo.jpg", width: 2560, height: 610}
      %img.object.show-mobile{src: "/images/Home_Slider_Object_TKE_eInfo_mobile.png", width: 640, height: 332}
      %img.bg.show-mobile{src: "/images/Home_Slider_BG_TKE_eInfo_mobile.jpg", width: 1440, height: 490}
    %li.slide.slide-produktshows
      .project-description
        %h1 3D PRODUCTS
        %p.client Client: Deutsche Telekom GmbH
        %p.intro.show-desktop
          For selling products online, a proper presentation is mandatory.
          The Deutsche Telekom product viewer application developed by Gedankenwerk
          is exactly that.
        %p.copy.show-desktop
          The product viewer application offers a look at the product range of 
          Deutsche Telekom from every angle:
          Every product can be turned around by 360 degrees and zoomed into a detail view,
          to get a closer view of the connectors for example. Using interactive hotspots
          users can obtain more detailed information via texts, images or videos.
          %br/
          For years now the product viewer has been the standard at Deutsche Telekom thanks to 
          it's ease-of-use and cost-efficiency.
        %a.gotoproject{href: "http://kunden.gedankenwerk.com/Telekom/produktshows2011/mediareceiver500sat/index.html"} Zum Projekt
      %img.object.show-desktop{src: "/images/Home_Slider_Object_Telekom_3D_Produktshows.png", width: 624, height: 607}
      %img.bg.show-desktop{src: "/images/Home_Slider_BG_Telekom_3D_Produktshows.jpg", width: 2560, height: 610}
      %img.object.show-mobile{src: "/images/Home_Slider_Object_Telekom_3D_Produktshows_mobile.png", width: 640, height: 352}
      %img.bg.show-mobile{src: "/images/Home_Slider_BG_Telekom_3D_Produktshows_mobile.jpg", width: 1440, height: 490}

  



.home-news.main
  %h1 
    GEDANKENWERK NEWS
    %span> .

  .news-articles
    %article.home-news-item
      %h1.show-mobile
        "TELEKOM DIALOG" ABOUT TO LAUNCH
        %span >>
      %img{src: "/images/Home_News_Telekom_Dialog@2x.jpg", width: "357"}
      %h1.show-desktop 
        "TELEKOM DIALOG"
        %br/
        ABOUT TO LAUNCH
        %span >>
      %p
        Gedankenwerk develops the image campaign of "Telekom Dialog"
        for wholesale customers of Detusche Telekom. The new microsite
        will feature a responsive design as well as video.

    %article.home-news-item
      %h1.show-mobile
        NOW ONLINE: NEW WEBSITE FOR T-VENTURE
        %span >>
      %img{src: "/images/Home_News_T-Venture@2x.jpg", width: "357"}
      %h1.show-desktop 
        NOW ONLINE: NEW WEBSITE FOR
        %br
        T-VENTURE
        %span >>
      %p
        For the T-Venture relaunch, Gedankenwerk radically modernized
        every aspect of the site: Responsive Design, a lightweight and efficient
        navigation concept as well as strong visuals form an up-to-date
        presentation that also shines on high resolution retina displays.
        %br/
        %a{href: "http://t-venture.com", target: "_blank"} Zur Website


    %article.home-news-item
      %h1.show-mobile
        UPDATE: 360° PRODUCT VIEWER FOR DEUTSCHE TELEKOM
        %span >>
      %img{src: "/images/Home_News_3D_Produktshows@2x.jpg", width: "357"}
      %h1.show-desktop
        UPDATE: 360° PRODUCT VIEWER
        %br/
        FOR DEUTSCHE TELEKOM
        %span >>
      %p
        We optimized the product viewer of Deutsche Telekom for mobile devices
        Every product can be turned around by 360 degrees and zoomed into a detail view,
        to get a closer view of the connectors for example.
        It has been developed entirely in HTML5. Via swipe the products can now be 
        turned around on mobile devices.
        %br/
        %a{href: "http://kunden.gedankenwerk.com/Telekom/produktshows2011/mediareceiver500sat/index.html"} Zum Projekt


