---
title: Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline
      F&Uuml;R GUTE IDEEN
      %br 
      GEBEN WIR ALLES
      %span> .

    %p.subtagline
      Und meistens noch etwas mehr
      %span> .

  %section
    .intro-bullets.clearfix
      .bullet
        %img{src:"images/HomeIcon_Innovatives_Design.svg"}
        %h2 INNOVATIVES DESIGN
        %p 
          Was wir entwickeln, sieht 
          %br 
          nicht nur gut aus. Sondern 
          %br 
          macht auch Orientierung und 
          %br 
          Nutzung einfacher.
      .bullet
        %img{src:"images/HomeIcon_Expertenloesungen.svg"}
        %h2 EXPERTENLÖSUNGEN
        %p 
          Wir entwickeln Lösungen auf 
          %br
          höchstem Niveau. Mit 
          %br
          professionellen Technologien 
          %br
          wie Ruby on Rails.
      .bullet
        %img{src:"images/HomeIcon_Flexible_Prozesse.svg"}
        %h2 FLEXIBLE PROZESSE
        %p 
          Wir planen voraus. Und 
          %br
          bleiben bei jedem Schritt 
          %br
          flexibel. Denn gute Ideen 
          %br
          zeigen sich oft im Prozess.
      .bullet
        %img{src:"images/HomeIcon_Budgetbewusstsein.svg"}
        %h2 BUDGETBEWUSSTSEIN
        %p 
          Wir kalkulieren realistisch und 
          %br 
          transparent. Für Ergebnisse, 
          %br 
          die das Beste aus Ihrem 
          %br
          Budget herausholen.




.feature-slider
  .slider-nav
    %a.slide-prev{href: "#"} prev
    %a.slide-next{href: "#"} next
    %ul.slide-indexes
      %li
        %a.active{href: "#", data: {goto: 0}} 1
      %li
        %a{href: "#", data: {goto: 1}} 2
      %li
        %a{href: "#", data: {goto: 2}} 3
  %ul.slides
    %li.slide
      .project-description.nokia
        %h1 Nokia X6 Produktshow
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta lectus ornare purus
      %img{src: "images/slider-nokiax6.jpg", width: 2560, height: 610}
    %li.slide
      .project-description.smart
        %h1 smart Kampagne 2010/2011
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta lectus ornare purus
      %img{src: "images/slider-smart2010.jpg", width: 2560, height: 610}
    %li.slide
      .project-description.demail
        %h1 DE-Mail Filialfinder
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta lectus ornare purus
      %img{src: "images/slider-filialfinder.jpg", width: 2560, height: 610}

  



.home-news.main
  %h1 
    WAS GIBT ES NEUES BEI GEDANKENWERK
    %span> .

  %article.home-news-item
    %img{src: "images/Home_NewsPic_T-Venture.jpg"}
    %h1 
      UMSETZUNG DER TELEKOM
      %br
      MNC WEBSITE BEGONNEN.
      %span >>
    %p
      Lorem ipsum dolor sit amet, 
      consetetur sadipscing elitr, 
      sed diam nonumy eirmod tempor 
      invidunt ut labore et dolore 
      magna aliquyam erat, sed diam 
      voluptua. At vero accusam et.


  %article.home-news-item
    %img{src: "images/Home_NewsPic_ICSS-MNC.jpg"}
    %h1 
      UMSETZUNG DER TELEKOM
      %br
      MNC WEBSITE BEGONNEN.
      %span >>
    %p
      Lorem ipsum dolor sit amet, 
      consetetur sadipscing elitr, 
      sed diam nonumy eirmod tempor 
      invidunt ut labore et dolore 
      magna aliquyam erat, sed diam 
      voluptua. At vero accusam et.

  %article.home-news-item
    %img{src: "images/Home_NewsPic_IMW.jpg"}
    %h1 
      GEDANKENWERK HAT DEN
      %br
      ICSS PITCH GEWONNEN!
      %span >>
    %p
      Lorem ipsum dolor sit amet, 
      consetetur sadipscing elitr, 
      sed diam nonumy eirmod tempor 
      invidunt ut labore et dolore 
      magna aliquyam erat, sed diam 
      voluptua. At vero accusam et.


  %article.home-news-item
    %img{src: "images/Home_NewsPic_Infoservice.jpg"}
    %h1 
      TELEKOM INFOSERVICE
      %br
      IST LIVE GESCHALTET.
      %span >>
    %p
      Lorem ipsum dolor sit amet, 
      consetetur sadipscing elitr, 
      sed diam nonumy eirmod tempor 
      invidunt ut labore et dolore 
      magna aliquyam erat, sed diam 
      voluptua. At vero accusam et.

  %article.home-news-item
    %img{src: "images/Home_NewsPic_TKE-eInfo.jpg"}
    %h1 
      THYSSENKRUPP–EINFO
      %br
      IST LIVE GESCHALTET.
      %span >>
    %p
      Lorem ipsum dolor sit amet, 
      consetetur sadipscing elitr, 
      sed diam nonumy eirmod tempor 
      invidunt ut labore et dolore 
      magna aliquyam erat, sed diam 
      voluptua. At vero accusam et.

  %article.home-news-item
    %img{src: "images/Home_NewsPic_HyundaiFanPark.jpg"}
    %h1 
      FUSSBALL EM 2012 &#0153;
      %br
      FANMEILE BERLIN.
      %span >>
    %p
      Lorem ipsum dolor sit amet, 
      consetetur sadipscing elitr, 
      sed diam nonumy eirmod tempor 
      invidunt ut labore et dolore 
      magna aliquyam erat, sed diam 
      voluptua. At vero accusam et.

