--- 
title: Gedankenwerk. Agentur f&uuml;r neue Medien 
description: 
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline
      F&Uuml;R GUTE IDEEN
      %br
      GEBEN WIR ALLES
      %span> .

    %p.subtagline
      Und meistens noch etwas mehr
      %span> .

  %section
    .intro-bullets.clearfix
      .bullet
        %img{src:"images/HomeIcon_Innovatives_Design.svg"}
        %h2 INNOVATIVES DESIGN
        %p
          Was wir entwickeln, sieht
          nicht nur gut aus. Sondern
          macht auch Orientierung und
          Nutzung einfacher.
      .bullet
        %img{src:"images/HomeIcon_Expertenloesungen.svg"}
        %h2 EXPERTENLÖSUNGEN
        %p
          Wir entwickeln Lösungen auf
          höchstem Niveau. Mit
          professionellen Technologien
          wie Ruby on Rails.
      .bullet
        %img{src:"images/HomeIcon_Flexible_Prozesse.svg"}
        %h2 FLEXIBLE PROZESSE
        %p
          Wir planen voraus. Und
          bleiben bei jedem Schritt
          flexibel. Denn gute Ideen
          zeigen sich oft im Prozess.
      .bullet
        %img{src:"images/HomeIcon_Budgetbewusstsein.svg"}
        %h2 BUDGETBEWUSSTSEIN
        %p
          Wir kalkulieren realistisch und
          transparent. Für Ergebnisse,
          die das Beste aus Ihrem
          Budget herausholen.




.feature-slider
  .slider-nav
    %a.slide-prev{href: "#"} prev
    %a.slide-next{href: "#"} next
    %ul.slide-indexes
      %li
        %a.active{href: "#", data: {goto: 0}} 1
      %li
        %a{href: "#", data: {goto: 1}} 2
      %li
        %a{href: "#", data: {goto: 2}} 3
      %li
        %a{href: "#", data: {goto: 3}} 4
      %li
        %a{href: "#", data: {goto: 4}} 5
      %li
        %a{href: "#", data: {goto: 5}} 6
        -#%ul.slides
  %ul.slides

    
    %li.slide.slide-inflight
      .project-description.slide-inflight
        %h1.show-desktop
          Telekom Inflight
        %h1.show-mobile
          Telekom Inflight
        %p.client Auftraggeber: Deutsche Telekom AG
        %p.intro.show-desktop
          In-Flight Connectivity: Angepasste
          %br/
          WLAN Lösungen für Airlines.
        %p.copy.show-desktop
          Seit 2011 stellt die Telekom Reisenden mit “Inflight” auf immer mehr internationalen Strecken leistungsstarke Online-Zugänge zur Verfügung. Um das Produkt “Inflight” in Zukunft stärker bewerben zu können, wurden wir damit beauftragt eine responsive Microsite zu erstellen, die die Vorzüge und das technische Setup hinter dem Produkt veranschaulicht. Die Seite ging begleitend zur Apex Expo 2015 in Portland, USA online, und wurde am dortigen Messestand der Telekom zu Präsentationszwecken gezeigt.
        %a.gotoproject.button.flat{href: "http://inflight.telekom.net", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/Home_Slider_Object_Inflight.png", width: 636, height: 452}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Inflight.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Inflight_mobile.png", width: 553, height: 357}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_Inflight_mobile.jpg", width: 2560, height: 490}



    %li.slide.slide-filiale
      .project-description.slide-filiale
        %h1.show-desktop
          DIGITALE FILIALE
        %h1.show-mobile
          DIGITALE FILIALE
        %p.client Auftraggeber: Telekom Deutschland GmbH
        %p.intro.show-desktop
          Digitale Transformation: die neuen Möglichkeiten
          %br/
          für den Retail-Bereich.
        %p.copy.show-desktop
          Unter dem Arbeitstitel "Digitale Filiale" stellte die Deutsche Telekom im Rahmen der CeBIT 2015 neue Möglichkeiten für digitale Mehrwerte in Filialen sowie Marketing- und Analyse-Tools für gezielte Kundenansprache vor. Zu diesem Zweck haben wir mehrere Infofilme und Interfaces für die Infoterminals des Messestandes erstellt, die den Besucher durch die Möglichkeiten der Digitalen Filiale von morgen führen.
        %a.gotoproject.button.flat{href: "http://kunden.gedankenwerk.com/Telekom_Digitale_Filiale", target: "_blank"} Applikation starten (reduziert)
      %img.object.show-desktop{src: "images/Home_Slider_Object_Digitale_Filiale.png", width: 624, height: 607}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Digitale_Filiale.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Digitale_Filiale_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_Digitale_Filiale_mobile.jpg", width: 2560, height: 490}






    %li.slide.slide-ibs
      .project-description.slide-ibs
        %h1.show-desktop
          TELEKOM INTERNET
          %br/
          BUSINESS SUITE
        %h1.show-mobile
          TELEKOM IBS
        %p.client Auftraggeber: Deutsche Telekom AG, Product & Innovation
        %p.intro.show-desktop
          Die Internet Business Suite aus der Cloud.
          %br/
          Macht alles mit, macht alles m&ouml;glich.
        %p.copy.show-desktop
          F&uuml;r die Telekom Internet Business Suite haben wir eine Website im aufger&auml;umten Design und
          zahlreichen, peppigen Illustrationen und Icons erstellt um das komplexe Produktangebot
          der IBS pr&auml;gnant und ansprechend vermitteln zu k&ouml;nnen.
        %a.gotoproject.button.flat{href: "http://internet-business-suite.com", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_Interne_Business_Suite.png", width: 623, height: 607}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_Internet_Business_Suite.png", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_Internet_Business_Suite_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_Internet_Business_Suite_mobile.png", width: 2560, height: 490}




    %li.slide.slide-anstoss
      .project-description.slide-anstoss
        %h1.show-desktop
          TELEKOM ANSTOSS - STOLLENSTROLCHE
        %h1.show-mobile
          STOLLENSTROLCHE
        %p.client Auftraggeber: Deutsche Telekom AG
        %p.intro.show-desktop
          Neue Erfahrungen erlebbar machen und den Nachwuchs fördern – diese Ziele verfolgt "ANSTOSS! – die Telekom Fußball Initiative".
        %p.copy.show-desktop
          Die Website zu Telekom Anstoss / Stollenstrolche setzt auf das dynamische Webframework Ruby on Rails, kurz RoR. Die Vorteile dieses „Programmiergerüsts“ sind zum einen seine hohe Performance, zum anderen weist es eine hohe Flexibilität auf und lässt sich an verschiedenste Bedürfnisse anpassen. Im Gegensatz zu PHP ist Ruby on Rails damit wesentlich zeitgemäßer – eine Website für moderne Browser und mobile Endgeräte lässt sich problemlos programmieren.
        %a.gotoproject.button.flat{href: "http://anstoss.telekom.com", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_Anstoss.png", width: 623, height: 607}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_Anstoss.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_Anstoss_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_Anstoss_mobile.jpg", width: 2560, height: 490}




    %li.slide.slide-workplace
      .project-description.slide-workplace
        %h1
          MOBILE WORKPLACE
        %p.client Auftraggeber: Telekom Deutschland GmbH
        %p.intro.show-desktop
          Die Arbeitsumgebungen morderner Unternehmen werden zunehmend mobil. Mit Mobile Workplace bietet die Telekom Unternehmen individuell zugeschnittene Mobilitäts Strategien.
        %p.copy.show-desktop
          Um Unternehmen die Vorteile von Mobile Workplace näherzubringen wurde Gedankenwerk mit der Erstellung eines Films und einer Powerpointpräsentation beauftragt.
        %a.gotoproject.button.flat.fancybox-media{href: "https://vimeo.com/gedankenwerk/review/85516897/1a8099c7f9", target: "_blank"} Film anschauen
      %img.object.show-desktop{src: "images/test.png", width: 624, height: 607}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Mobile_Workplace.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Mobile_Workplace_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_Mobile_Workplace_mobile.jpg", width: 2560, height: 490}


    %li.slide.slide-techday
      .project-description.slide-techday
        %h1
          TECHDAY 2014
        %p.client Auftraggeber: Deutsche Telekom AG - Product & Innovation
        %p.intro.show-desktop
          Der TechDay ist eine Veranstaltungsreihe von Technology & Platforms mit dem Zweck Kernkompetenzfelder eines T&P Bereichs und dessen Produkte zu präsentieren.
        %p.copy.show-desktop
          Gedankenwerk wurde damit beauftragt ein Kommunikationskonzept zur ersten, diesjährigen TechDay Veranstaltung zum Thema “Identity Management” zu entwickeln.
          Dies beinhaltete ein Themen Logo, eine Landingpage für Information und Registrierung und Texte und Bilder für das Telekom Intranet, Telekom Social Network, interne Medienwände, Roll-ups, Aufsteller, Namensschilder, Gewinnspielkarten etc.
        %a.gotoproject.button.flat{href: "http://techday.customer-platforms.com/", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/Home_Slider_Object_Techday_2014.png", width: 624, height: 607}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Techday_2014.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Techday_2014_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_TechDay_2014_mobile.jpg", width: 2560, height: 490}

    -#%li.slide.slide-dialog
    -#  .project-description.slide-dialog
    -#    %h1
    -#      TELEKOM DIALOG
    -#    %p.client Auftraggeber: Telekom Deutschland GmbH
    -#    %p.intro.show-desktop
    -#      Telekom Dialog ist die exklusive Geschäftskundenplattform der
    -#      Deutschen Telekom. Hier vernetzen sich Führungskräfte und
    -#      Entscheidungsträger der Telekom - für den Austausch auf
    -#      Augenhöhe.
    -#    %p.copy.show-desktop
    -#      Ein knackiger OnePager, der kein Fragen offen lässt, zusammen mit einem
    -#      dynamischen Informationsvideo - so hat Gedankenwerk Telekom Dialog auf den Punkt
    -#      gebracht und das natürlich mit einem voll responsiven Design, dass sich an all
    -#      Zugangsgeräte anpasst.
    -#    %a.gotoproject{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_Dialog.png", width: 877, height: 617}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_Dialog.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_Dialog_mobile.png", width: 640, height: 326}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_Dialog_mobile.jpg", width: 1440, height: 490}


    %li.slide.slide-tventure
      .project-description.slide-tventure
        %h1
          T-VENTURE WEBSITE
          %span> .
        %p.client Auftraggeber: T-Venture Holding GmbH
        %p.intro.show-desktop
          T-Venture ist der Venture-Kapitalgeber der Deutschen Telekom.
          Zielgruppe: junge, innovative Unternehmen mit klaren Vorstellungen.
          Die neue Website spricht ihre Sprache.
        %p.copy.show-desktop
          Für den T-Venture Website Relaunch hat Gedankenwerk alle Inhalte
          einer radikalen Modernisierungskur unterzogen: Responsive Design,
          eine schlanke, konsequente Navigation und bildstarker Content sorgen
          für einen zeitgemäßen Webauftritt, der auch auf Retina Displays glänzen kann.
        %a.gotoproject.button.flat{href: "http://t-venture.com", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/Home_Slider_Object_T-Venture.png", width: 600}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_T-Venture.jpg", width: 2560, height: 610}
      %img.object.show-mobile{src: "images/Home_Slider_Object_T-Venture_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_T-Venture_mobile.jpg", width: 1440, height: 490}

    -#%li.slide.slide-imw
    -#  .project-description
    -#    %h1 TELEKOM IMW
    -#    %p.client Auftraggeber: Deutsche Telekom GmbH
    -#    %p.intro.show-desktop
    -#      Die IMW der Deutschen Telekom steht für ein komplexes Business: der Vertrieb von
    -#      Netzkapazitäten auf dem internationalen Markt. Ein schlanker Onepager im responsive
    -#      Design bringt das Angebot auf den Punkt.
    -#    %p.copy.show-desktop
    -#      Das neue IMW Design liegt mit seinem responsiven Grid, Vektor-Icons und
    -#      Touchoptimierung voll im Trend: klare Inhalte, einfache Struktur, keine
    -#      unnötigen Spielereien. Für optimale Lesbarkeit und perfekte Usability auf jedem Endgerät.
    -#    %a.gotoproject{href: "http://mvno.telekom.net/", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_IMW.png", width: 624, height: 607}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_IMW.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_IMW_mobile.png", width: 640, height: 332}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_IMW_mobile.jpg", width: 1440, height: 490}








.home-news.main
  %h1
    NEUES BEI GEDANKENWERK
    %span> .

  .news-articles
    %article.home-news-item
      %h1.show-mobile
        CLINTON HARN
        %span >>
      %img{src: "images/Home_News_Clinton_Harn@2x.jpg", width: "357"}
      %h1.show-desktop
        CLINTON HARN
        %br/
        UND GEDANKENWERK
        %span >>
      %p
        Gedankenwerk entwickelt aktuell die neue Web-Präsenz von
        Clinton Harn, preisgekrönter Filmemacher und Kameramann aus
        Sydney: eine maßgeschneiderte, hochperformante Bühne für den
        umfangreichen Video-Content aus Showcases, Tutorials und
        Gear-Reviews.




    %article.home-news-item
      %h1.show-mobile
        INTERNET BUSINESS SUITE
        %span >>
      %img{src: "images/Home_News_IBS@2x.jpg", width: "357"}
      %h1.show-desktop
        INTERNET BUSINESS
        %br/
        SUITE
        %span >>
      %p
        Die Cloud-basierte Internet Business Suite der Telekom
        vereinfacht Software-Prozesse wie
        Identitätsmanagement, Produkt- und Vertragsmanagement
        sowie Zahlung und Abrechnung, und ist einfach integrierbar in bestehende
        Systeme.
        %br/
        %a{href: "http://internet-business-suite.com"} Zum Projekt

    %article.home-news-item
      %h1.show-mobile
        ALLIANZ ARENA-ANIMATION
        %span >>
      %img{src: "images/Home_News_StadiumVision_Bayern_Muenchen@2x.jpg", width: "357"}
      %h1.show-desktop
        ALLIANZ ARENA-
        %br/
        ANIMATION
        %span >>
      %p
        Die Allianz Arena von morgen: ein
        interaktives Erlebnis f&uuml;r vernetzte Fans.
        F&uuml;r die Deutsche Telekom setzte
        Gedankenwerk eine Zukunftsvision des FC Bayern
        M&uuml;nchen-Stadions als Animation in Szene.
        The shape of things to come...
        %br/
        %a.fancybox-media{href: "http://vimeo.com/gedankenwerk/review/92590060/44cfcfdef0"} Zum Film


    -#
      %article.home-news-item
        %h1.show-mobile
          "TELEKOM DIALOG" IST ONLINE
          %span >>
        %img{src: "images/Home_News_Telekom_Dialog@2x.jpg", width: "357"}
        %h1.show-desktop
          "TELEKOM DIALOG" IST
          %br/
          ONLINE
          %span >>
        %p
          Ein knackiger OnePager, der keine Fragen offen lässt,
          zusammen mit einem dynamischen Informationsvideo –
          so hat Gedankenwerk Telekom Dialog auf den Punkt
          gebracht und das natürlich mit einem voll responsiven
          Design, dass sich an alle Zugangsgeräte anpasst.
          %br/
          %a{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/"} Zum Projekt

    -#%article.home-news-item
    -#  %h1.show-mobile
    -#    JETZT ONLINE: NEUE WEBSITE FÜR T-VENTURE
    -#    %span >>
    -#  %img{src: "images/Home_News_T-Venture@2x.jpg", width: "357"}
    -#  %h1.show-desktop
    -#    JETZT ONLINE: NEUE WEBSITE FÜR
    -#    %br
    -#    T-VENTURE
    -#    %span >>
    -#  %p
    -#    Für den T-Venture Website Relaunch hat
    -#    Gedankenwerk die Inhalte
    -#    einer radikalen Modernisierungskur unterzogen.
    -#    Schlanke Navigation und bildstarker Content
    -#    im responsive Design schaffen einen zeitgemäßen
    -#    Webauftritt, der auch auf Retina Displays glänzen kann.
    -#    %br/
    -#    %a{href: "http://t-venture.com", target: "_blank"} Zur Website


    -#%article.home-news-item
    -#  %h1.show-mobile
    -#    UPDATE: 360° PRODUKTSHOW FÜR DIE DEUTSCHE TELEKOM
    -#    %span >>
    -#  %img{src: "images/Home_News_3D_Produktshows@2x.jpg", width: "357"}
    -#  %h1.show-desktop
    -#    UPDATE: 360° PRODUKTSHOW
    -#    %br/
    -#    FÜR DIE DEUTSCHE TELEKOM
    -#    %span >>
    -#  %p
    -#    Wir haben die Produktshows der Deutschen Telekom an mobile Endgeräte angepasst.
    -#    Mit dem Product Viewer kann jedes Produkt vom User gedreht und beliebig
    -#    herangezoomt werden, um z. B. Anschlussbuchsen aus der Nähe zu sehen.
    -#    Es wurde eine komplett neue Engine in HTML5 programmiert.
    -#    Per Swipe kann man jetzt auf einem mobilen Endgerät einfach das Produkt drehen.
    -#    %br/
    -#    %a{href: "http://kunden.gedankenwerk.com/Telekom/produktshows2011/mediareceiver500sat/index.html"} Zum Projekt
