--- 
title: Gedankenwerk. Agentur f&uuml;r neue Medien 
description: 
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline
      F&Uuml;R GUTE IDEEN
      %br
      GEBEN WIR ALLES
      %span> .

    %p.subtagline
      Und meistens noch etwas mehr
      %span> .

  %section
    .intro-bullets.clearfix
      .bullet
        %img{src:"images/HomeIcon_Innovatives_Design.svg"}
        %h2 INNOVATIVES DESIGN
        %p
          Was wir entwickeln, sieht
          nicht nur gut aus. Sondern
          macht auch Orientierung und
          Nutzung einfacher.
      .bullet
        %img{src:"images/HomeIcon_Expertenloesungen.svg"}
        %h2 EXPERTENLÖSUNGEN
        %p
          Wir entwickeln Lösungen auf
          höchstem Niveau. Mit
          professionellen Technologien
          wie Ruby on Rails.
      .bullet
        %img{src:"images/HomeIcon_Flexible_Prozesse.svg"}
        %h2 FLEXIBLE PROZESSE
        %p
          Wir planen voraus. Und
          bleiben bei jedem Schritt
          flexibel. Denn gute Ideen
          zeigen sich oft im Prozess.
      .bullet
        %img{src:"images/HomeIcon_Budgetbewusstsein.svg"}
        %h2 BUDGETBEWUSSTSEIN
        %p
          Wir kalkulieren realistisch und
          transparent. Für Ergebnisse,
          die das Beste aus Ihrem
          Budget herausholen.




.feature-slider
  .slider-nav
    %a.slide-prev{href: "#"} prev
    %a.slide-next{href: "#"} next
    %ul.slide-indexes
      %li
        %a.active{href: "#", data: {goto: 0}} 1
      %li
        %a{href: "#", data: {goto: 1}} 2
      %li
        %a{href: "#", data: {goto: 2}} 3
      %li
        %a{href: "#", data: {goto: 3}} 4
      %li
        %a{href: "#", data: {goto: 4}} 5
      %li
        %a{href: "#", data: {goto: 5}} 6
      %li
        %a{href: "#", data: {goto: 6}} 7
      %li
        %a{href: "#", data: {goto: 7}} 8
        -#%ul.slides
  %ul.slides



    %li.slide.slide-pawlak
      .project-description.slide-pawlak
        %h1.show-desktop
          HIFI PAWLAK
        %h1.show-mobile
          HIFI PAWLAK
        %p.client Auftraggeber: HiFi Spezialist Werner Pawlak GmbH
        %p.intro.show-desktop
          Das klingende Erlebnis
        %p.copy.show-desktop
          HiFi Pawlak—nicht nur unter Kennern Synonym für akustische High End Träume in Essen. Das traditionsreiche, mittelständische Unternehmen bietet bereits seit den 70er Jahren edelste Hardware für audiophile Genießer an. Um das auch online transportieren zu können, haben wir eine ästhetische Website auf dem neusten Stand der Technik realisiert, die dem Namen Pawlak in jeglicher Hinsicht gerecht wird.
        %a.gotoproject.btn.pawlak.show-desktop{href: "http://www.hifi-pawlak.de", target: "_blank"}
          %img{src: "images/projects/btn-pawlak.png", width: "148", height: "43"}
        %a.gotoproject.btn.small.transparent.show-mobile{href: "http://www.hifi-pawlak.de", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/projects/slide-obj-pawlak.png", width: 720, height: 607}
      %img.bg.show-desktop{src: "images/projects/slide-bg-pawlak.png", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-pawlak.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-pawlak.png", width: 2560, height: 490}



    
    %li.slide.slide-stollenhelden
      .project-description.slide-stollenhelden
        %h1.show-desktop
          Stollenhelden
        %h1.show-mobile
          Stollenhelden
        %p.client Auftraggeber: Deutsche Telekom AG
        %p.intro.show-desktop
          Hier spielt der Nachwuchsfußball
        %p.copy.show-desktop
          Die neuen „Stollenhelden“ sind die konsequente Fortsetzung der „Stollenstrolche“, dem bisherigen Nachwuchsfußball-Portal der Deutschen Telekom, das sich in erster Linie an die jüngsten Kids gerichtet hatte – bei den „Stollenhelden“ wird nun die ganze Fußballfamilie komplett mit spannenden Informationen und Geschichten, Mitmach-Aktionen und Videos versorgt.
          %br/
          %br/
          Auch unter der Haube hat die Stollenhelden einiges zu bieten. Zum Einsatz kam das ultraschnelle MeteorJS Web-Framework in Kombination mit Facebook’s React Framework, welche inhaltliche Anpassungen in Echtzeit ermöglichen und nur relevante Inhalte aktualisieren—damit haben sich lahme Seiten-Reloads erübrigt. Die Stollenhelden bieten also nicht nur auf dem Bolzplatz, sondern auch online und mobil eine Höllen-Performance!
        %a.gotoproject.btn.big.rounded.magenta.show-desktop{href: "http://stollenhelden.de", target: "_blank"} Zum Projekt >
        %a.gotoproject.btn.small.transparent.show-mobile{href: "http://stollenhelden.de", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/projects/slide-obj-stollenhelden.png", width: 636, height: 452}
      %img.bg.show-desktop{src: "images/projects/slide-bg-stollenhelden.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-stollenhelden.png", width: 553, height: 357}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-stollenhelden.jpg", width: 2560, height: 490}



    %li.slide.slide-smartideas
      .project-description.slide-smartideas
        %h1.show-desktop
          Smart Ideas.
          %br/
          Smarter Business.
        %h1.show-mobile
          Smart Ideas.
          Smarter Business.
        %p.client Auftraggeber: Telekom Deutschland GmbH
        %p.intro.show-desktop
          So klar kann Präsentieren sein.
        %p.copy.show-desktop
          Digitale Buzzwords beherrschen die Business-Agenda. Doch was bedeuten "Big Data", "Analytics" und "Internet of Things" eigentlich konkret für Unternehmen? Im Rahmen der Cebit 2016 bringen wir es für die Geschäftskunden der Telekom mit klaren Beispielen auf den Punkt: Die eigens entwickelte, interaktive Präsentations-App (inklusive Intro- Animation) glänzte dabei mit minimalistischer und trotzdem ausdrucksstarker Gestaltung.
        %a.gotoproject.btn.rounded.big.green.disabled.show-desktop{href: "", target: "_blank"} Projekt nicht &ouml;ffentlich
        %a.gotoproject.btn.small.transparent.disabled.show-mobile{href: "", target: "_blank"} Projekt nicht &ouml;ffentlich
      %img.object.show-desktop{src: "images/projects/slide-obj-smartideas.png", width: 761, height: 526}
      %img.bg.show-desktop{src: "images/projects/slide-bg-smartideas.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-smartideas.png", width: 509, height: 360}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-smartideas.jpg", width: 2560, height: 490}






    %li.slide.slide-ftth
      .project-description.slide-ftth
        %h1.show-desktop
          Telekom FTTH für 
          %br/
          bauherren
        %h1.show-mobile
          TELEKOM FTTH FÜR BAUHERREN
        %p.client Auftraggeber: Deutsche Telekom AG
        %p.intro.show-desktop
          Gemeinsam das Netz der Zukunft aufbauen.
        %p.copy.show-desktop
          Das hat sich die Telekom FTTH Initiative für Bauherren zum Ziel genommen. Wie genau das Ganze von statten geht, zeigen wir in einem liebevoll gestalteten, vierminütigen Film. 
        %a.gotoproject.btn.medium.rounded.gray.show-desktop{href: "https://vimeo.com/164551782/0065810230", target: "_blank"} Film anschauen >
        %a.gotoproject.btn.small.transparent.show-mobile{href: "https://vimeo.com/164551782/0065810230", target: "_blank"} Film anschauen
      %img.object.show-desktop{src: "images/projects/slide-obj-ftth.png", width: 623, height: 607}
      %img.bg.show-desktop{src: "images/projects/slide-bg-ftth.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-ftth.png", width: 565, height: 351}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-ftth.jpg", width: 2560, height: 490}




    %li.slide.slide-inflight2
      .project-description.slide-inflight2
        %h1.show-desktop
          Inflight Wireless 
          %br/
          Connectivity
        %h1.show-mobile
          Inflight Wireless Connectivity
        %p.client Auftraggeber: Deutsche Telekom AG
        %p.intro.show-desktop
          Das interaktive Präsentationstool.
        %p.copy.show-desktop
          Flyer und Powerpoints waren gestern. Eine zeitgemäße B-2-B Kommunikation sollte interaktiv erfolgen. Zu diesem Zweck haben wir für den Vertrieb und der Nutzung auf Events eine interaktive und responsive Präsentations-App erstellt, die dem potenziellen Kunden durch die Möglichkeiten der Inflight Wireless Connectivity führt.
        %a.gotoproject.btn.medium.rounded.gray.show-desktop{href: "http://anstoss.telekom.com", target: "_blank"} Zum Projekt >
        %a.gotoproject.btn.small.transparent.show-mobile{href: "http://anstoss.telekom.com", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/projects/slide-obj-inflight2.png", width: 623, height: 607}
      %img.bg.show-desktop{src: "images/projects/slide-bg-inflight2.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-inflight2.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-inflight2.jpg", width: 2560, height: 490}




    %li.slide.slide-umzug
      .project-description.slide-umzug
        %h1
          Telekom Umzugsservice
        %p.client Auftraggeber: Deutsche Telekom AG
        %p.intro.show-desktop
          Umziehen leicht gemacht.
        %p.copy.show-desktop
          Im Zuge der Telekom Umzugsservice Kampagne wurden wir damit beauftragt drei illustrative Infofilme zu erstellen. Das Ergebnis gibt’s hier zu bestaunen.
        %a.gotoproject.btn.doorbell.outside.show-desktop.fancybox-media{href: "https://vimeo.com/gedankenwerk/review/85516897/1a8099c7f9", target: "_blank"}
          %img{src: "images/projects/btn-doorbell.png", width: "184", height: "50"}
        %a.gotoproject.btn.small.transparent.show-mobile.fancybox-media{href: "https://vimeo.com/gedankenwerk/review/85516897/1a8099c7f9", target: "_blank"} Film anschauen
        %span.screw.tl
        %span.screw.tr
        %span.screw.bl
        %span.screw.br
      %img.object.show-desktop{src: "images/projects/slide-obj-umzug.png", width: 624, height: 607}
      %img.bg.show-desktop{src: "images/projects/slide-bg-umzug.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-umzug.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-umzug.jpg", width: 2560, height: 490}




    %li.slide.slide-clinton
      .project-description.slide-clinton
        %h1.show-desktop
          Clintonharn.net
        %h1.show-mobile
          Clintonharn.net
        %p.client Auftraggeber: Clinton Harn
        %p.intro.show-desktop
          “Catching the essence of each moment”
        %p.copy.show-desktop
          Wir hatten das Vergnügen für den, in Australien ansässigen, Kameramann, Regisseur, Produzenten und Audio-Recording-Ingenieur Clinton Harn eine neue Website zu erstellen. Umgesetzt wurde das Ganze in Wordpress mittels eines handgefertigten Templates.
        %a.gotoproject.btn.medium.orange.show-desktop{href: "http://clintonharn.com", target: "_blank"} Zum Projekt >
        %a.gotoproject.btn.small.transparent.show-mobile{href: "http://clintonharn.com", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/projects/slide-obj-clinton.png", width: 623, height: 607}
      %img.bg.show-desktop{src: "images/projects/slide-bg-clinton.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-clinton.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-clinton.jpg", width: 2560, height: 490}



    %li.slide.slide-entertain
      .project-description.slide-entertain
        %h1.show-desktop
          Entertain Installation 
          %br/
          \& Verkabelung
        %h1.show-mobile
          Entertain Installation & Verkabelung
        %p.client Auftraggeber: Deutsche Telekom AG
        %p.intro.show-desktop
          Seit 2009 nutzt die Deutsche Telekom nun schon den, von uns erstellten Guide zur “Entertain Installation & Verkabelung”
          Zeit für einen ordentlichen Relaunch ...
        %p.copy.show-desktop
          Mit dem 2016er Update haben wir die Microsite auf ein neues, zeitgemäßes Niveau gehoben: Aktuelles Telekom Branding, neue Geräte, animierte Kacheln und responsives Design.
        %a.gotoproject.btn.medium.rounded.gray.show-desktop{href: "http://entertain.gedankenwerk-hosting.com", target: "_blank"} Zum Projekt >
        %a.gotoproject.btn.small.transparent.show-mobile{href: "http://entertain.gedankenwerk-hosting.com", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/projects/slide-obj-entertain.png", width: 623, height: 607}
      %img.bg.show-desktop{src: "images/projects/slide-bg-entertain.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/projects/slide-obj-mob-entertain.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/projects/slide-bg-mob-entertain.jpg", width: 2560, height: 490}





    -# %li.slide.slide-techday
    -#   .project-description.slide-techday
    -#     %h1
    -#       TECHDAY 2014
    -#     %p.client Auftraggeber: Deutsche Telekom AG - Product & Innovation
    -#     %p.intro.show-desktop
    -#       Der TechDay ist eine Veranstaltungsreihe von Technology & Platforms mit dem Zweck Kernkompetenzfelder eines T&P Bereichs und dessen Produkte zu präsentieren.
    -#     %p.copy.show-desktop
    -#       Gedankenwerk wurde damit beauftragt ein Kommunikationskonzept zur ersten, diesjährigen TechDay Veranstaltung zum Thema “Identity Management” zu entwickeln.
    -#       Dies beinhaltete ein Themen Logo, eine Landingpage für Information und Registrierung und Texte und Bilder für das Telekom Intranet, Telekom Social Network, interne Medienwände, Roll-ups, Aufsteller, Namensschilder, Gewinnspielkarten etc.
    -#     %a.gotoproject.button.flat{href: "http://techday.customer-platforms.com/", target: "_blank"} Zum Projekt
    -#   %img.object.show-desktop{src: "images/Home_Slider_Object_Techday_2014.png", width: 624, height: 607}
    -#   %img.bg.show-desktop{src: "images/Home_Slider_BG_Techday_2014.jpg", width: 2560, height: 615}
    -#   %img.object.show-mobile{src: "images/Home_Slider_Object_Techday_2014_mobile.png", width: 640, height: 344}
    -#   %img.bg.show-mobile{src: "images/Home_Slider_BG_TechDay_2014_mobile.jpg", width: 2560, height: 490}

    -#%li.slide.slide-dialog
    -#  .project-description.slide-dialog
    -#    %h1
    -#      TELEKOM DIALOG
    -#    %p.client Auftraggeber: Telekom Deutschland GmbH
    -#    %p.intro.show-desktop
    -#      Telekom Dialog ist die exklusive Geschäftskundenplattform der
    -#      Deutschen Telekom. Hier vernetzen sich Führungskräfte und
    -#      Entscheidungsträger der Telekom - für den Austausch auf
    -#      Augenhöhe.
    -#    %p.copy.show-desktop
    -#      Ein knackiger OnePager, der kein Fragen offen lässt, zusammen mit einem
    -#      dynamischen Informationsvideo - so hat Gedankenwerk Telekom Dialog auf den Punkt
    -#      gebracht und das natürlich mit einem voll responsiven Design, dass sich an all
    -#      Zugangsgeräte anpasst.
    -#    %a.gotoproject{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_Dialog.png", width: 877, height: 617}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_Dialog.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_Dialog_mobile.png", width: 640, height: 326}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_Dialog_mobile.jpg", width: 1440, height: 490}

    
    -#%li.slide.slide-tventure
    -#  .project-description.slide-tventure
    -#    %h1
    -#      T-VENTURE WEBSITE
    -#      %span> .
    -#    %p.client Auftraggeber: T-Venture Holding GmbH
    -#    %p.intro.show-desktop
    -#      T-Venture ist der Venture-Kapitalgeber der Deutschen Telekom.
    -#      Zielgruppe: junge, innovative Unternehmen mit klaren Vorstellungen.
    -#      Die neue Website spricht ihre Sprache.
    -#    %p.copy.show-desktop
    -#      Für den T-Venture Website Relaunch hat Gedankenwerk alle Inhalte
    -#      einer radikalen Modernisierungskur unterzogen: Responsive Design,
    -#      eine schlanke, konsequente Navigation und bildstarker Content sorgen
    -#      für einen zeitgemäßen Webauftritt, der auch auf Retina Displays glänzen kann.
    -#    %a.gotoproject.button.flat{href: "http://t-venture.com", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_T-Venture.png", width: 600}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_T-Venture.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_T-Venture_mobile.png", width: 640, height: 344}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_T-Venture_mobile.jpg", width: 1440, height: 490}

    -#%li.slide.slide-imw
    -#  .project-description
    -#    %h1 TELEKOM IMW
    -#    %p.client Auftraggeber: Deutsche Telekom GmbH
    -#    %p.intro.show-desktop
    -#      Die IMW der Deutschen Telekom steht für ein komplexes Business: der Vertrieb von
    -#      Netzkapazitäten auf dem internationalen Markt. Ein schlanker Onepager im responsive
    -#      Design bringt das Angebot auf den Punkt.
    -#    %p.copy.show-desktop
    -#      Das neue IMW Design liegt mit seinem responsiven Grid, Vektor-Icons und
    -#      Touchoptimierung voll im Trend: klare Inhalte, einfache Struktur, keine
    -#      unnötigen Spielereien. Für optimale Lesbarkeit und perfekte Usability auf jedem Endgerät.
    -#    %a.gotoproject{href: "http://mvno.telekom.net/", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_IMW.png", width: 624, height: 607}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_IMW.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_IMW_mobile.png", width: 640, height: 332}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_IMW_mobile.jpg", width: 1440, height: 490}








.home-news.main
  %h1
    NEUES BEI GEDANKENWERK
    %span> .


  .news-articles

    %article.home-news-item
      %h1.show-mobile
        REACT.JS
        %span >>
      %img{src: "images/news-react.jpg", width: "357"}
      %h1.show-desktop
        GEDANKENWERK 
        %br/
        SETZT AUF REACT.JS
        %span >>
      %p
        Gedankenwerk setzt auf React.js f&uuml;r User Interfaces. Facebook's beliebtes Frontend Framework wird in Zukunft mehr und mehr in von uns entwickelten Applikationen zum Einsatz kommen. Die sp&uuml;rbaren Performance- und Usability-Vorteile, sowie verbesserte Effizienz in der Entwicklung haben uns und unsere Kunden voll &uuml;berzeugt.


    %article.home-news-item
      %h1.show-mobile
        CLINTON HARN
        %span >>
      %img{src: "images/Home_News_Clinton_Harn@2x.jpg", width: "357"}
      %h1.show-desktop
        CLINTON HARN
        %br/
        UND GEDANKENWERK
        %span >>
      %p
        Gedankenwerk entwickelt aktuell die neue Web-Präsenz von
        Clinton Harn, preisgekrönter Filmemacher und Kameramann aus
        Sydney: eine maßgeschneiderte, hochperformante Bühne für den
        umfangreichen Video-Content aus Showcases, Tutorials und
        Gear-Reviews.




    %article.home-news-item
      %h1.show-mobile
        INTERNET BUSINESS SUITE
        %span >>
      %img{src: "images/Home_News_IBS@2x.jpg", width: "357"}
      %h1.show-desktop
        INTERNET BUSINESS
        %br/
        SUITE
        %span >>
      %p
        Die Cloud-basierte Internet Business Suite der Telekom
        vereinfacht Software-Prozesse wie
        Identitätsmanagement, Produkt- und Vertragsmanagement
        sowie Zahlung und Abrechnung, und ist einfach integrierbar in bestehende
        Systeme.
        %br/
        %a{href: "http://internet-business-suite.com"} Zum Projekt


    -#
      %article.home-news-item
        %h1.show-mobile
          "TELEKOM DIALOG" IST ONLINE
          %span >>
        %img{src: "images/Home_News_Telekom_Dialog@2x.jpg", width: "357"}
        %h1.show-desktop
          "TELEKOM DIALOG" IST
          %br/
          ONLINE
          %span >>
        %p
          Ein knackiger OnePager, der keine Fragen offen lässt,
          zusammen mit einem dynamischen Informationsvideo –
          so hat Gedankenwerk Telekom Dialog auf den Punkt
          gebracht und das natürlich mit einem voll responsiven
          Design, dass sich an alle Zugangsgeräte anpasst.
          %br/
          %a{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/"} Zum Projekt

    -#%article.home-news-item
    -#  %h1.show-mobile
    -#    JETZT ONLINE: NEUE WEBSITE FÜR T-VENTURE
    -#    %span >>
    -#  %img{src: "images/Home_News_T-Venture@2x.jpg", width: "357"}
    -#  %h1.show-desktop
    -#    JETZT ONLINE: NEUE WEBSITE FÜR
    -#    %br
    -#    T-VENTURE
    -#    %span >>
    -#  %p
    -#    Für den T-Venture Website Relaunch hat
    -#    Gedankenwerk die Inhalte
    -#    einer radikalen Modernisierungskur unterzogen.
    -#    Schlanke Navigation und bildstarker Content
    -#    im responsive Design schaffen einen zeitgemäßen
    -#    Webauftritt, der auch auf Retina Displays glänzen kann.
    -#    %br/
    -#    %a{href: "http://t-venture.com", target: "_blank"} Zur Website


    -#%article.home-news-item
    -#  %h1.show-mobile
    -#    UPDATE: 360° PRODUKTSHOW FÜR DIE DEUTSCHE TELEKOM
    -#    %span >>
    -#  %img{src: "images/Home_News_3D_Produktshows@2x.jpg", width: "357"}
    -#  %h1.show-desktop
    -#    UPDATE: 360° PRODUKTSHOW
    -#    %br/
    -#    FÜR DIE DEUTSCHE TELEKOM
    -#    %span >>
    -#  %p
    -#    Wir haben die Produktshows der Deutschen Telekom an mobile Endgeräte angepasst.
    -#    Mit dem Product Viewer kann jedes Produkt vom User gedreht und beliebig
    -#    herangezoomt werden, um z. B. Anschlussbuchsen aus der Nähe zu sehen.
    -#    Es wurde eine komplett neue Engine in HTML5 programmiert.
    -#    Per Swipe kann man jetzt auf einem mobilen Endgerät einfach das Produkt drehen.
    -#    %br/
    -#    %a{href: "http://kunden.gedankenwerk.com/Telekom/produktshows2011/mediareceiver500sat/index.html"} Zum Projekt
