---
title: Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline
      F&Uuml;R GUTE IDEEN
      %br 
      GEBEN WIR ALLES
      %span> .

    %p.subtagline
      Und meistens noch etwas mehr
      %span> .

  %section
    .intro-bullets.clearfix
      .bullet
        %img{src:"images/HomeIcon_Innovatives_Design.svg"}
        %h2 INNOVATIVES DESIGN
        %p 
          Was wir entwickeln, sieht 
          nicht nur gut aus. Sondern 
          macht auch Orientierung und 
          Nutzung einfacher.
      .bullet
        %img{src:"images/HomeIcon_Expertenloesungen.svg"}
        %h2 EXPERTENLÖSUNGEN
        %p 
          Wir entwickeln Lösungen auf 
          höchstem Niveau. Mit 
          professionellen Technologien 
          wie Ruby on Rails.
      .bullet
        %img{src:"images/HomeIcon_Flexible_Prozesse.svg"}
        %h2 FLEXIBLE PROZESSE
        %p 
          Wir planen voraus. Und 
          bleiben bei jedem Schritt 
          flexibel. Denn gute Ideen 
          zeigen sich oft im Prozess.
      .bullet
        %img{src:"images/HomeIcon_Budgetbewusstsein.svg"}
        %h2 BUDGETBEWUSSTSEIN
        %p 
          Wir kalkulieren realistisch und 
          transparent. Für Ergebnisse, 
          die das Beste aus Ihrem 
          Budget herausholen.




.feature-slider
  .slider-nav
    %a.slide-prev{href: "#"} prev
    %a.slide-next{href: "#"} next
    %ul.slide-indexes
      %li
        %a.active{href: "#", data: {goto: 0}} 1
      %li
        %a{href: "#", data: {goto: 1}} 2
      %li
        %a{href: "#", data: {goto: 2}} 3
      %li
        %a{href: "#", data: {goto: 3}} 4
  %ul.slides
    %li.slide
      .project-description.slide-tventure
        %h1 
          T-VENTURE WEBSITE
          %span> .
        %p.client Auftraggeber: T-Venture Holding GmbH
        %p.intro
          T-Venture ist der Venture-Kapitalgeber der Deutschen Telekom. 
          Zielgruppe: junge, innovative Unternehmen mit klaren Vorstellungen. 
          Die neue Website spricht ihre Sprache.
        %p.copy
          Für den T-Venture Website Relaunch hat Gedankenwerk alle Inhalte
          einer radikalen Modernisierungskur unterzogen: Responsive Design, 
          eine schlanke, konsequente Navigation und bildstarker Content sorgen 
          für einen zeitgemäßen Webauftritt, der auch auf Retina Displays glänzen kann.
        %a.gotoproject{href: "#"} Zum Projekt
      %img{src: "images/Home_Slider_T-Venture.jpg", width: 2560, height: 610}

    %li.slide
      .project-description.slide-imw
        %h1 TELEKOM IMW
        %p.client Auftraggeber: Deutsche Telekom GmbH
        %p.intro
          Die IMW der Deutschen Telekom steht für ein komplexes Business: der Vertrieb von 
          Netzkapazitäten auf dem internationalen Markt. Ein schlanker Onepager im responsive 
          Design bringt das Angebot auf den Punkt.
        %p.copy
          Das neue IMW Design liegt mit seinem responsiven Grid, Vektor-Icons und 
          Touchoptimierung voll im Trend: klare Inhalte, einfache Struktur, keine 
          unnötigen Spielereien. Für optimale Lesbarkeit und perfekte Usability auf jedem Endgerät.
        %a.gotoproject{href: "#"} Zum Projekt
      %img{src: "images/Home_Slider_Telekom_IMW.jpg", width: 2560, height: 610}
    %li.slide
      .project-description.slide-tke
        %h1 TKE EINFO
        %p.client Auftraggeber: ThyssenKrupp Elevator AG
        %p.intro
          ThyssenKrupp Elevator steht für eine weltweit einzigartige Produktvielfalt. 
          Die von Gedankenwerk konzipierte e-Info Anwendung bietet den über 40.000 
          Mitarbeitern einen ebenso einzigartigen Überblick zum Unternehmen.
        %p.copy
          Statt klassischer Navigation eröffnen sich alle Inhalte von aufwändig geränderten 
          3D-Animationen über Galerien bis hin zu geschichtlichen Überblicken in horizontal 
          angeordneten Modulen - als Leitfaden durch die gesamte Welt von ThyssenKrupp Elevator. 
          Flexibel erweiterbar und komplett in HTML5 realisiert, unterstreicht die e-Info 
          Anwendung deutlich die Innovationskraft des Unternehmens.
        %img{src: "images/Home_Slider_TKE_eInfo_Button.png"}
      %img{src: "images/Home_Slider_TKE_eInfo.jpg", width: 2560, height: 610}
    %li.slide
      .project-description.slide-produktshows
        %h1 TELEKOM IMW
        %p.client Auftraggeber: Deutsche Telekom GmbH
        %p.intro
          Die IMW der Deutschen Telekom steht für ein komplexes Business: der Vertrieb von 
          Netzkapazitäten auf dem internationalen Markt. Ein schlanker Onepager im responsive 
          Design bringt das Angebot auf den Punkt.
        %p.copy
          Das neue IMW Design liegt mit seinem responsiven Grid, Vektor-Icons und 
          Touchoptimierung voll im Trend: klare Inhalte, einfache Struktur, keine 
          unnötigen Spielereien. Für optimale Lesbarkeit und perfekte Usability auf jedem Endgerät.
        %a.gotoproject{href: "#"} Zum Projekt
      %img{src: "images/Home_Slider_Telekom_3D_Produktshows.jpg", width: 2560, height: 610}

  



.home-news.main
  %h1 
    NEUES BEI GEDANKENWERK
    %span> .

  .news-articles
    %article.home-news-item
      %h1.show-mobile
        "TELEKOM DIALOG" IN DEN
        STARTLÖCHERN
        %span >>
      %img{src: "images/Home_News_Telekom_Dialog_17.05.13_HD.jpg", width: "357", height: "222"}
      %h1.show-desktop 
        "TELEKOM DIALOG" IN DEN
        %br/
        STARTLÖCHERN
        %span >>
      %p
        Gedankenwerk setzt die Image-Kampagne von Telekom Dialog 
        für Großkunden der Deutschen Telekom online um. Die neue Microsite
        wird inklusive Video komplett responsive umgesetzt.

    %article.home-news-item
      %h1.show-mobile
        JETZT ONLINE: NEUE WEBSITE FÜR T-VENTURE
        %span >>
      %img{src: "images/Home_News_T-Venture_17.05.13_HD.jpg", width: "357", height: "222"}
      %h1.show-desktop 
        JETZT ONLINE: NEUE WEBSITE FÜR
        %br
        T-VENTURE
        %span >>
      %p
        Für den T-Venture Website Relaunch hat
        Gedankenwerk die Inhalte
        einer radikalen Modernisierungskur unterzogen.
        Schlanke Navigation und bildstarker Content
        im responsive Design schaffen einen zeitgemäßen 
        Webauftritt, der auch auf Retina Displays glänzen kann.
        %br/
        %a{href: "http://t-venture.com", target: "_blank"} Zur Website


    %article.home-news-item
      %h1.show-mobile
        BAYER 04 STELLT PLÄNE FÜR
        MULTIMEDIALE BAYARENA VOR
        %span >>
      %img{src: "images/Home_News_Bayer04_17.05.13_HD.jpg", width: "357", height: "222"}
      %h1.show-desktop
        BAYER 04 STELLT PLÄNE FÜR
        %br/
        MULTIMEDIALE BAYARENA VOR
        %span >>
      %p
        Das Stadion der Zukunft: Bayer 04 Leverkusen stellt
        die Pläne für die künftige multimediale BayArena vor.
        Gedankenwerk arbeitet gemeinsam mit der Deutschen
        Telekom daran - wir konzipieren die zugehörige Bayer
        04-App, die die neuen Funktionen wie Live-Replay,
        Echtzeit-Interaktion oder E-Ticketing möglich macht.
        %br/
        %a{href: "#"} Link zum Video


