---
title: Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline
      F&Uuml;R GUTE IDEEN
      %br 
      GEBEN WIR ALLES
      %span> .

    %p.subtagline
      Und meistens noch etwas mehr
      %span> .

  %section
    .intro-bullets.clearfix
      .bullet
        %img{src:"images/HomeIcon_Innovatives_Design.svg"}
        %h2 INNOVATIVES DESIGN
        %p 
          Was wir entwickeln, sieht 
          nicht nur gut aus. Sondern 
          macht auch Orientierung und 
          Nutzung einfacher.
      .bullet
        %img{src:"images/HomeIcon_Expertenloesungen.svg"}
        %h2 EXPERTENLÖSUNGEN
        %p 
          Wir entwickeln Lösungen auf 
          höchstem Niveau. Mit 
          professionellen Technologien 
          wie Ruby on Rails.
      .bullet
        %img{src:"images/HomeIcon_Flexible_Prozesse.svg"}
        %h2 FLEXIBLE PROZESSE
        %p 
          Wir planen voraus. Und 
          bleiben bei jedem Schritt 
          flexibel. Denn gute Ideen 
          zeigen sich oft im Prozess.
      .bullet
        %img{src:"images/HomeIcon_Budgetbewusstsein.svg"}
        %h2 BUDGETBEWUSSTSEIN
        %p 
          Wir kalkulieren realistisch und 
          transparent. Für Ergebnisse, 
          die das Beste aus Ihrem 
          Budget herausholen.




.feature-slider
  .slider-nav
    %a.slide-prev{href: "#"} prev
    %a.slide-next{href: "#"} next
    %ul.slide-indexes
      %li
        %a.active{href: "#", data: {goto: 0}} 1
      %li
        %a{href: "#", data: {goto: 1}} 2
      %li
        %a{href: "#", data: {goto: 2}} 3
  %ul.slides
    %li.slide
      .project-description.nokia
        %h1 Nokia X6 Produktshow
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta lectus ornare purus
      %img{src: "images/slider-nokiax6.jpg", width: 2560, height: 610}
    %li.slide
      .project-description.smart
        %h1 smart Kampagne 2010/2011
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta lectus ornare purus
      %img{src: "images/slider-smart2010.jpg", width: 2560, height: 610}
    %li.slide
      .project-description.demail
        %h1 DE-Mail Filialfinder
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta lectus ornare purus
      %img{src: "images/slider-filialfinder.jpg", width: 2560, height: 610}

  



.home-news.main
  %h1 
    NEUES BEI GEDANKENWERK
    %span> .

  .news-articles
    %article.home-news-item
      %h1.show-mobile
        "TELEKOM DIALOG" IN DEN
        STARTLÖCHERN
        %span >>
      %img{src: "images/Home_NewsPic_T-Venture.jpg"}
      %h1.show-desktop 
        "TELEKOM DIALOG" IN DEN
        %br/
        STARTLÖCHERN
        %span >>
      %p
        Gedankenwerk setzt die Image-Kampagne von Telekom Dialog 
        für Großkunden der Deutschen Telekom online um. Die neue Microsite
        wird inklusive Video komplett responsive umgesetzt.

    %article.home-news-item
      %h1.show-mobile
        JETZT ONLINE: NEUE WEBSITE FÜR T-VENTURE
        %span >>
      %img{src: "images/Home_NewsPic_ICSS-MNC.jpg"}
      %h1.show-desktop 
        JETZT ONLINE: NEUE WEBSITE FÜR
        %br
        T-VENTURE
        %span >>
      %p
        Für den T-Venture Website Relaunch hat
        Gedankenwerk die Inhalte
        einer radikalen Modernisierungskur unterzogen.
        Schlanke Navigation und bildstarker Content
        im responsive Design schaffen einen zeitgemäßen 
        Webauftritt, der auch auf Retina Displays glänzen kann.
        %br/
        %a{href: "http://t-venture.com", target: "_blank"} Zur Website


    %article.home-news-item
      %h1.show-mobile
        BAYER 04 STELLT PLÄNE FÜR
        MULTIMEDIALE BAYARENA VOR
        %span >>
      %img{src: "images/Home_NewsPic_IMW.jpg"}
      %h1.show-desktop
        BAYER 04 STELLT PLÄNE FÜR
        %br/
        MULTIMEDIALE BAYARENA VOR
        %span >>
      %p
        Das Stadion der Zukunft: Bayer 04 Leverkusen stellt
        die Pläne für die künftige multimediale BayArena vor.
        Gedankenwerk arbeitet gemeinsam mit der Deutschen
        Telekom daran - wir konzipieren die zugehörige Bayer
        04-App, die die neuen Funktionen wie Live-Replay,
        Echtzeit-Interaktion oder E-Ticketing möglich macht.
        %br/
        %a{href: "#"} Link zum Video


