---
title: Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline
      F&Uuml;R GUTE IDEEN
      %br 
      GEBEN WIR ALLES
      %span> .

    %p.subtagline
      Und meistens noch etwas mehr
      %span> .

  %section
    .intro-bullets.clearfix
      .bullet
        %img{src:"images/HomeIcon_Innovatives_Design.svg"}
        %h2 INNOVATIVES DESIGN
        %p 
          Was wir entwickeln, sieht 
          nicht nur gut aus. Sondern 
          macht auch Orientierung und 
          Nutzung einfacher.
      .bullet
        %img{src:"images/HomeIcon_Expertenloesungen.svg"}
        %h2 EXPERTENLÖSUNGEN
        %p 
          Wir entwickeln Lösungen auf 
          höchstem Niveau. Mit 
          professionellen Technologien 
          wie Ruby on Rails.
      .bullet
        %img{src:"images/HomeIcon_Flexible_Prozesse.svg"}
        %h2 FLEXIBLE PROZESSE
        %p 
          Wir planen voraus. Und 
          bleiben bei jedem Schritt 
          flexibel. Denn gute Ideen 
          zeigen sich oft im Prozess.
      .bullet
        %img{src:"images/HomeIcon_Budgetbewusstsein.svg"}
        %h2 BUDGETBEWUSSTSEIN
        %p 
          Wir kalkulieren realistisch und 
          transparent. Für Ergebnisse, 
          die das Beste aus Ihrem 
          Budget herausholen.




.feature-slider
  .slider-nav
    %a.slide-prev{href: "#"} prev
    %a.slide-next{href: "#"} next
    %ul.slide-indexes
      %li
        %a.active{href: "#", data: {goto: 0}} 1
      %li
        %a{href: "#", data: {goto: 1}} 2
      %li
        %a{href: "#", data: {goto: 2}} 3
      %li
        %a{href: "#", data: {goto: 3}} 4
      %li
        %a{href: "#", data: {goto: 4}} 5
      %li
        %a{href: "#", data: {goto: 5}} 6
  -#%ul.slides
  %ul.slides
    %li.slide.slide-anstoss
      .project-description.slide-anstoss
        %h1 
          TELEKOM ANSTOSS
        %p.client Auftraggeber: Deutsche Telekom AG
        %p.intro.show-desktop
          Neue Erfahrungen erlebbar machen und den Nachwuchs fördern – diese Ziele verfolgt "ANSTOSS! – die Telekom Fußball Initiative".
        %p.copy.show-desktop
          Die Website zu Telekom Anstoss setzt auf das dynamische Webframework Ruby on Rails, kurz RoR. Die Vorteile dieses „Programmiergerüsts“ sind zum einen seine hohe Performance, zum anderen weist es eine hohe Flexibilität auf und lässt sich an verschiedenste Bedürfnisse anpassen. Im Gegensatz zu PHP ist Ruby on Rails damit wesentlich zeitgemäßer – eine Website für moderne Browser und mobile Endgeräte lässt sich problemlos programmieren.
        %a.gotoproject.button.flat{href: "http://anstoss.telekom.com", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_Anstoss.png", width: 623, height: 607}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_Anstoss.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_Anstoss_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_Anstoss_mobile.jpg", width: 2560, height: 490}




    %li.slide.slide-workplace
      .project-description.slide-workplace
        %h1 
          MOBILE WORKPLACE
        %p.client Auftraggeber: Telekom Deutschland GmbH
        %p.intro.show-desktop
          Die Arbeitsumgebungen morderner Unternehmen werden zunehmend mobil. Mit Mobile Workplace bietet die Telekom Unternehmen individuell zugeschnittene Mobilitäts Strategien.
        %p.copy.show-desktop
          Um Unternehmen die Vorteile von Mobile Workplace näherzubringen wurde Gedankenwerk mit der Erstellung eines Films und einer Powerpointpräsentation beauftragt.
        %a.gotoproject.button.flat{href: "https://vimeo.com/gedankenwerk/review/85516897/1a8099c7f9", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/test.png", width: 624, height: 607}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Mobile_Workplace.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Mobile_Workplace_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_Mobile_Workplace_mobile.jpg", width: 2560, height: 490}


    %li.slide.slide-techday
      .project-description.slide-techday
        %h1 
          TECHDAY 2014
        %p.client Auftraggeber: Deutsche Telekom AG - Product & Innovation
        %p.intro.show-desktop
          Der TechDay ist eine Veranstaltungsreihe von Technology & Platforms mit dem Zweck Kernkompetenzfelder eines T&P Bereichs und dessen Produkte zu präsentieren.
        %p.copy.show-desktop
          Gedankenwerk wurde damit beauftragt ein Kommunikationskonzept zur ersten, diesjährigen TechDay Veranstaltung zum Thema “Identity Management” zu entwickeln.
          Dies beinhaltete ein Themen Logo, eine Landingpage für Information und Registrierung und Texte und Bilder für das Telekom Intranet, Telekom Social Network, interne Medienwände, Roll-ups, Aufsteller, Namensschilder, Gewinnspielkarten etc.
        %a.gotoproject.button.flat{href: "http://techday.customer-platforms.com/", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/Home_Slider_Object_Techday_2014.png", width: 624, height: 607}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Techday_2014.jpg", width: 2560, height: 615}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Techday_2014_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_TechDay_2014_mobile.jpg", width: 2560, height: 490}

    -#%li.slide.slide-dialog
    -#  .project-description.slide-dialog
    -#    %h1 
    -#      TELEKOM DIALOG
    -#    %p.client Auftraggeber: Telekom Deutschland GmbH
    -#    %p.intro.show-desktop
    -#      Telekom Dialog ist die exklusive Geschäftskundenplattform der
    -#      Deutschen Telekom. Hier vernetzen sich Führungskräfte und
    -#      Entscheidungsträger der Telekom - für den Austausch auf
    -#      Augenhöhe.
    -#    %p.copy.show-desktop
    -#      Ein knackiger OnePager, der kein Fragen offen lässt, zusammen mit einem
    -#      dynamischen Informationsvideo - so hat Gedankenwerk Telekom Dialog auf den Punkt
    -#      gebracht und das natürlich mit einem voll responsiven Design, dass sich an all
    -#      Zugangsgeräte anpasst.
    -#    %a.gotoproject{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_Dialog.png", width: 877, height: 617}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_Dialog.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_Dialog_mobile.png", width: 640, height: 326}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_Dialog_mobile.jpg", width: 1440, height: 490}


    %li.slide.slide-tventure
      .project-description.slide-tventure
        %h1 
          T-VENTURE WEBSITE
          %span> .
        %p.client Auftraggeber: T-Venture Holding GmbH
        %p.intro.show-desktop
          T-Venture ist der Venture-Kapitalgeber der Deutschen Telekom. 
          Zielgruppe: junge, innovative Unternehmen mit klaren Vorstellungen. 
          Die neue Website spricht ihre Sprache.
        %p.copy.show-desktop
          Für den T-Venture Website Relaunch hat Gedankenwerk alle Inhalte
          einer radikalen Modernisierungskur unterzogen: Responsive Design, 
          eine schlanke, konsequente Navigation und bildstarker Content sorgen 
          für einen zeitgemäßen Webauftritt, der auch auf Retina Displays glänzen kann.
        %a.gotoproject.button.flat{href: "http://t-venture.com", target: "_blank"} Zum Projekt
      %img.object.show-desktop{src: "images/Home_Slider_Object_T-Venture.png", width: 600}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_T-Venture.jpg", width: 2560, height: 610}
      %img.object.show-mobile{src: "images/Home_Slider_Object_T-Venture_mobile.png", width: 640, height: 344}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_T-Venture_mobile.jpg", width: 1440, height: 490}

    -#%li.slide.slide-imw
    -#  .project-description
    -#    %h1 TELEKOM IMW
    -#    %p.client Auftraggeber: Deutsche Telekom GmbH
    -#    %p.intro.show-desktop
    -#      Die IMW der Deutschen Telekom steht für ein komplexes Business: der Vertrieb von 
    -#      Netzkapazitäten auf dem internationalen Markt. Ein schlanker Onepager im responsive 
    -#      Design bringt das Angebot auf den Punkt.
    -#    %p.copy.show-desktop
    -#      Das neue IMW Design liegt mit seinem responsiven Grid, Vektor-Icons und 
    -#      Touchoptimierung voll im Trend: klare Inhalte, einfache Struktur, keine 
    -#      unnötigen Spielereien. Für optimale Lesbarkeit und perfekte Usability auf jedem Endgerät.
    -#    %a.gotoproject{href: "http://mvno.telekom.net/", target: "_blank"} Zum Projekt
    -#  %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_IMW.png", width: 624, height: 607}
    -#  %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_IMW.jpg", width: 2560, height: 610}
    -#  %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_IMW_mobile.png", width: 640, height: 332}
    -#  %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_IMW_mobile.jpg", width: 1440, height: 490}





    %li.slide.slide-tke
      .project-description
        %h1 TKE EINFO
        %p.client Auftraggeber: ThyssenKrupp Elevator AG
        %p.intro.show-desktop
          ThyssenKrupp Elevator steht für eine weltweit einzigartige Produktvielfalt. 
          Die von Gedankenwerk konzipierte e-Info Anwendung bietet den über 40.000 
          Mitarbeitern einen ebenso einzigartigen Überblick zum Unternehmen.
        %p.copy.show-desktop
          Statt klassischer Navigation eröffnen sich alle Inhalte von aufwändig geränderten 
          3D-Animationen über Galerien bis hin zu geschichtlichen Überblicken in horizontal 
          angeordneten Modulen - als Leitfaden durch die gesamte Welt von ThyssenKrupp Elevator. 
          Flexibel erweiterbar und komplett in HTML5 realisiert, unterstreicht die e-Info 
          Anwendung deutlich die Innovationskraft des Unternehmens.
        -#%img.gotoproject-inactive{src: "images/Home_Slider_TKE_eInfo_Button.png"}
        %a.gotoproject.button.flat.tke.angular.unavailable{href: "#"} Nicht öffentlich
      %img.object.show-desktop{src: "images/Home_Slider_Object_TKE_eInfo.png", width: 600}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_TKE_eInfo.jpg", width: 2560, height: 610}
      %img.object.show-mobile{src: "images/Home_Slider_Object_TKE_eInfo_mobile.png", width: 640, height: 332}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_TKE_eInfo_mobile.jpg", width: 1440, height: 490}


    %li.slide.slide-produktshows
      .project-description
        %h1 3D PRODUKTSHOWS
        %p.client Auftraggeber: Telekom Deutschland GmbH
        %p.intro.show-desktop
          Wer Produkte online vertreibt, braucht die richtige Präsentation. 
          Der Product Viewer von Gedankenwerk für die Deutsche Telekom 
          lässt keine Fragen offen.
        %p.copy.show-desktop
          Mit dem von Gedankenwerk entwickelten Product Viewer können sich die 
          Angebote der Deutschen Telekom rundum sehen lassen: Jedes Produkt 
          kann vom User gedreht und beliebig herangezoomt werden, um z. B. 
          Anschlussbuchsen aus der Nähe zu sehen. Über spezielle Info-Buttons 
          stehen Texte, Bilder oder Videos mit weiteren Erläuterungen bereit.
          %br/
          Seine einfache Bedienbarkeit und die kostengünstige Umsetzung machen 
          den Product Viewer bereits seit einigen Jahren zum Standard bei der Deutschen Telekom.
        %a.gotoproject.button.flat{href: "http://kunden.gedankenwerk.com/Telekom/produktshows2011/mediareceiver500sat/index.html"} Zum Projekt
      %img.object.show-desktop{src: "images/Home_Slider_Object_Telekom_3D_Produktshows.png", width: 580}
      %img.bg.show-desktop{src: "images/Home_Slider_BG_Telekom_3D_Produktshows.jpg", width: 2560, height: 610}
      %img.object.show-mobile{src: "images/Home_Slider_Object_Telekom_3D_Produktshows_mobile.png", width: 640, height: 352}
      %img.bg.show-mobile{src: "images/Home_Slider_BG_Telekom_3D_Produktshows_mobile.jpg", width: 1440, height: 490}

  



.home-news.main
  %h1 
    NEUES BEI GEDANKENWERK
    %span> .

  .news-articles

    %article.home-news-item
      %h1.show-mobile
        ALLIANZ ARENA-ANIMATION
        %span >>
      %img{src: "images/Home_News_StadiumVision_Bayern_Muenchen@2x.jpg", width: "357"}
      %h1.show-desktop 
        ALLIANZ ARENA-
        %br/
        ANIMATION
        %span >>
      %p
        Die Allianz Arena von morgen: ein 
        interaktives Erlebnis f&uuml;r vernetzte Fans.
        F&uuml;r die Deutsche Telekom setzte
        Gedankenwerk eine Zukunftsvision des FC Bayern
        M&uuml;nchen-Stadions als Animation in Szene.
        The shape of things to come...
        %br/
        %a{href: "http://vimeo.com/gedankenwerk/review/92590060/44cfcfdef0"} Zum Film



    %article.home-news-item
      %h1.show-mobile
        "TELEKOM DIALOG" IST ONLINE
        %span >>
      %img{src: "images/Home_News_Telekom_Dialog@2x.jpg", width: "357"}
      %h1.show-desktop 
        "TELEKOM DIALOG" IST
        %br/
        ONLINE
        %span >>
      %p
        Ein knackiger OnePager, der keine Fragen offen lässt, 
        zusammen mit einem dynamischen Informationsvideo – 
        so hat Gedankenwerk Telekom Dialog auf den Punkt 
        gebracht und das natürlich mit einem voll responsiven 
        Design, dass sich an alle Zugangsgeräte anpasst.
        %br/
        %a{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/"} Zum Projekt

    %article.home-news-item
      %h1.show-mobile
        JETZT ONLINE: NEUE WEBSITE FÜR T-VENTURE
        %span >>
      %img{src: "images/Home_News_T-Venture@2x.jpg", width: "357"}
      %h1.show-desktop 
        JETZT ONLINE: NEUE WEBSITE FÜR
        %br
        T-VENTURE
        %span >>
      %p
        Für den T-Venture Website Relaunch hat
        Gedankenwerk die Inhalte
        einer radikalen Modernisierungskur unterzogen.
        Schlanke Navigation und bildstarker Content
        im responsive Design schaffen einen zeitgemäßen 
        Webauftritt, der auch auf Retina Displays glänzen kann.
        %br/
        %a{href: "http://t-venture.com", target: "_blank"} Zur Website


    -#%article.home-news-item
    -#  %h1.show-mobile
    -#    UPDATE: 360° PRODUKTSHOW FÜR DIE DEUTSCHE TELEKOM
    -#    %span >>
    -#  %img{src: "images/Home_News_3D_Produktshows@2x.jpg", width: "357"}
    -#  %h1.show-desktop
    -#    UPDATE: 360° PRODUKTSHOW
    -#    %br/
    -#    FÜR DIE DEUTSCHE TELEKOM
    -#    %span >>
    -#  %p
    -#    Wir haben die Produktshows der Deutschen Telekom an mobile Endgeräte angepasst. 
    -#    Mit dem Product Viewer kann jedes Produkt vom User gedreht und beliebig 
    -#    herangezoomt werden, um z. B. Anschlussbuchsen aus der Nähe zu sehen. 
    -#    Es wurde eine komplett neue Engine in HTML5 programmiert. 
    -#    Per Swipe kann man jetzt auf einem mobilen Endgerät einfach das Produkt drehen.
    -#    %br/
    -#    %a{href: "http://kunden.gedankenwerk.com/Telekom/produktshows2011/mediareceiver500sat/index.html"} Zum Projekt


