---
title: Serices - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}



  %section
    .projects-section
      .project-wrapper

        .project.project-nokiax6
          .content 
            %h1 NOKIA X6 PRODUKTSHOW
            %p.client Auftraggeber: Wunderman GmbH
            %p.intro
              Das Nokia X6 ist das Entertainment-Flagschiff des Handy-Marktführers. 
              Die Produkt-Microsite zeigt mit einer dynamischen Animation, warum.
            %p.copy
              Die von Gedankenwerk in Zusammenarbeit mit Wunderman/Düsseldorf (Storyboard) 
              entwickelte 3D-Animation zeigt das X6 in voller Aktion - und überzeugt 
              damit nicht nur die junge Zielgruppe: Wegen der großen Beliebtheit wird die 
              emotionale Produktshow nicht nur im Web, sondern auch für den P.o.S., 
              als HD-Version und für den internationalen Einsatz adaptiert.
              %br/
              %br/
              Bei allen Versionen zeichnet sich Gedankenwerk für 3D-Rendering, Animation und 
              Post-Production verantwortlich.
            %a.gotoproject{href: "#"} Zum Projekt
          %img{src: "/images/Project_Nokia_X6_Produktshow.jpg", width: 2560, height: 644}

        .project.project-infoservice
          .content 
            %h1 TELEKOM INFOSERVICE
            %p.client Auftraggeber: Telekom Deutschland GmbH
            %p.intro
              Der Telekom InfoService informiert über Themen von
              individuellem Interesse. Auf dem Onepager gibt es alle
              Infos zum InfoService auf einem Blick.
            %p.copy
              Informieren auf allen Kanälen. Um dies schon beim Kennenlernen 
              des InfoService zu ermöglichen hat Gedankenwerk einen 
              Onepager kreiert, der sich mit Desktops, Notebooks, 
              Tablets und Smartphones gleichermaßen komfortabel und übersichtlich 
              bedienen lässt. Der InfoServiceTrailer, vermittelt auf charmante 
              Weise was der Telekom InfoService ist.
            %a.gotoproject{href: "#"} Zum Projekt

          %img{src: "/images/Project_Telekom_Infoservice.jpg", width: 2560, height: 644}

        .project.project-fanmeile
          .content 
            %h1
              FUSSBALL EM 2012
              %br/
              FANMEILE BERLIN
            %p.client Auftraggeber: K.I.T. Group GmbH
            %p.intro
              Die Fanmeile Berlin ist eine Community—dank der neuen
              Webpräsenz und Facebook Seite mehr denn je.
            %p.copy
              Die Website informiert über den Spielplan, die Events und wichtige Infos.
              Dabei fängt das aufwändige  “grunge Design” den Flair der Fanmeile ein.
              Die parallel geschaltete Facebookseite bot allen Fans die Möglichkeit
              immer und überall live dabei zu sein und an der Fanmeile Berlin teilzuhaben.
              So wurde die Fanmeile Berlin 2012 zu einem großen Erfolg.
            %a.gotoproject{href: "#"} Zum Projekt
          %img{src: "/images/Project_Fanmeile_Berlin.jpg", width: 2560, height: 644}

        .project.project-smart2009
          .content 
            %h1 SMART KAMPAGNE 2009
            %p.client Auftraggeber: Proximity Germany GmbH
            %p.intro
              Die smart Kampagne 2009: Singer/Songwriter Steve Appleton ist 
              ihr Gesicht und exklusiver musikalischer Partner. Eine Kooperation, 
              die nach einer besonderen Web-Präsenz verlangt.
            %p.copy
              Auf der von Gedankenwerk realisierten Flash-Microsite erkunden Fans und 
              Neugierige das virtuelle Privatreich von Steve Appleton: 
              Per Kamerafahrt mit Maussteuerung navigieren User räumlich durch das 
              vollständig in 3D gerenderte Apartment des Stars, das voller Gimmicks, 
              Downloads und Gewinnspiele steckt. Für die einzigartige Navigation wurden 
              Kameradaten aus Cinema 4D per XML-Import in Flash integriert.
            %a.gotoproject{href: "#"} Zum Projekt
          %img{src: "/images/Project_Smart_Kampagne_2009.jpg", width: 2560, height: 644}

        .project.project-demail
          .content 
            %h1 DE-MAIL FILIALFINDER
            %p.client Auftraggeber: Telekom Deutschland GmbH
            %p.intro
              Wer Telekom DE-Mail nutzen möchte muss sich als
              ersten Schritt vor Ort registrieren und authentifizieren.
              Der DE-Mail Filialfinder weist den Weg.
            %p.copy
              In Zusammenarbeit mit der Bochumer Agentur 9Elements hat Gedankenwerk
              den DE-Mail Filialfinder entwickelt. Dabei war Gedankenwerk für die visuelle Umsetzung verantwortlich.
              %br/
              %br/
              Der Filialfinder ist eine WebApplikation auf Basis von Google Maps, 
              die es Privatkunden erlaubt nach Eingabe Ihrer Adressdaten den 
              nächstgelegenen Standort zur DE-Mail Registrierung und Authentifizierung 
              inklusive Routenberechnung zu finden. Neben dem Standort werden außerdem 
              Öffnungszeiten und wichtige Hinweise dargestellt.
            %a.gotoproject{href: "#"} Zum Projekt
          %img{src: "/images/Project_DE-Mail_Filialfinder.jpg", width: 2560, height: 644}

        .project.project-foursquare
          .content 
            %h1 
              Foursquare Gewinnspiel @
              %br/
              NEXT11
            %p.client Auftraggeber: Telekom Deutschland GmbH - Mehrwertdienste
            %p.intro
              Display-App unterstütze Verlosung auf der NEXT11
            %p.copy
              Für eine Verlosung der Deutschen Telekom von zwei Motorola XOOM 
              Tablets auf der next conference 2011 in Berlin, konzipierte und 
              entwickelte Gedankenwerk eine Display-App, die, basierend auf der 
              Foursquare-API, aktuelle Checkins einer Foursquare-Venue auf dem 
              von Deutsche Telekom entwickelten ICLD Kiosksystem anzeigt.
              %br/
              %br/
              Da nicht alle für diese Darstellung benötigten Informationen von der 
              Foursquare API geliefert werden, hat Gedankenwerk ein eigenes 
              Buffer-Verfahren entwickelt, dass alle aktuellen “jetzt”-Informationen 
              im Sekundentakt von Foursquare abfragt und in eine eigene 
              Datenbank überträgt. Diese Methode garantiert zudem die Ausfallsicherheit 
              des Systems, im Falle einer Nichterreichbarkeit der Foursquare-API. 
              Die Applikation ist modular gestaltet, bietet eine Archiv-Funktion 
              und ist stark modifizierbar und somit frei auf die gewünschte Corporate 
              Identity anpassbar und kann allen erdenklichen Displays dargestellt werden, 
              inklusive Touch-Screens.
            %a.gotoproject{href: "#"} Zum Projekt
          %img{src: "/images/Project_Foursquare_NEXT11.jpg", width: 2560, height: 644}
