---
title: Serices - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline
      PROJECTS
      %span> .

  .projects
    .project.project1
    .project_arrow.project1_arrow

    .project.project2
    .project_arrow.project2_arrow

    .project.project3
    .project_arrow.project3_arrow

  
