---
title: Serices - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section.contentsection
    %h1
      PROJECTS
      %span> .

  %section
    .projects-section
      .project-wrapper
        .project.project-tventure
          .content 
            %h1 
              T-VENTURE WEBSITE
              %span> .
            -#%p.client Auftraggeber: T-Venture Holding GmbH
            -#%p.intro
            -#  T-Venture ist der Venture-Kapitalgeber der Deutschen Telekom. 
            -#  Zielgruppe: junge, innovative Unternehmen mit klaren Vorstellungen. 
            -#  Die neue Website spricht ihre Sprache.
            -#%p.copy
            -#  Für den T-Venture Website Relaunch hat Gedankenwerk alle Inhalte
            -#  einer radikalen Modernisierungskur unterzogen: Responsive Design, 
            -#  eine schlanke, konsequente Navigation und bildstarker Content sorgen 
            -#  für einen zeitgemäßen Webauftritt, der auch auf Retina Displays glänzen kann.
            -#%a.gotoproject{href: "#"} Zum Projekt
          %img{src: "images/Project_T-Venture.png", width: 2560, height: 644}

        .project.project-imw
          .content 
            %h1 TELEKOM IMW
          %img{src: "images/Project_Telekom_IMW.png", width: 2560, height: 644}

        .project.project-tke
          .content 
            %h1 TKE EINFO
          %img{src: "images/Project_TKE_eInfo.png", width: 2560, height: 644}
 
        .project.project-icss
          .content 
            %h1
              TELEKOM ICSS / MNC
              %br/
              WEBSITE
          %img{src: "images/Project_Telekom_ICSS-MNC.png", width: 2560, height: 644}

        .project.project-produktshows
          .content 
            %h1 TELEKOM 3D PRODUKTSHOWS
          %img{src: "images/Project_Telekom_3D_Produktshows.png", width: 2560, height: 644}

        .project.project-smart2010
          .content 
            %h1 SMART KAMPAGNE 2010 / 2011
          %img{src: "images/Project_Smart_Kampagne_2010-2011.png", width: 2560, height: 644}

        .project.project-nokiax6
          .content 
            %h1 NOKIA X6 PRODUKTSHOW
          %img{src: "images/Project_Nokia_X6_Produktshow.png", width: 2560, height: 644}

        .project.project-infoservice
          .content 
            %h1 TELEKOM INFOSERVICE
          %img{src: "images/Project_Telekom_Infoservice.png", width: 2560, height: 644}

        .project.project-fanmeile
          .content 
            %h1
              FUSSBALL EM 2012
              %br/
              FANMEILE BERLIN
          %img{src: "images/Project_Fanmeile_Berlin.png", width: 2560, height: 644}

        .project.project-smart2009
          .content 
            %h1 SMART KAMPAGNE 2009
          %img{src: "images/Project_Smart_Kampagne_2009.png", width: 2560, height: 644}

        .project.project-demail
          .content 
            %h1 DE-MAIL FILIALFINDER
          %img{src: "images/Project_DE-Mail_Filialfinder.png", width: 2560, height: 644}

        .project.project-foursquare
          .content 
            %h1 
              Foursquare Gewinnspiel @
              %br/
              NEXT11
          %img{src: "images/Project_Foursquare_NEXT11.png", width: 2560, height: 644}
