---
title: Serices - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}



  %section
    .projects-section
      .project-wrapper


        .project.project-anstoss
          .content 
            %h1 
              TELEKOM ANSTOSS
              %span> .
            %p.client Auftraggeber: Telekom Deutschland GmbH
            %p.intro
              Neue Erfahrungen erlebbar machen und den Nachwuchs fördern – diese Ziele verfolgt "ANSTOSS! – die Telekom Fußball Initiative".

            %p.copy
              Die Website zu Telekom Anstoss setzt auf das dynamische Webframework Ruby on Rails, kurz RoR. Die Vorteile dieses „Programmiergerüsts“ sind zum einen seine hohe Performance, zum anderen weist es eine hohe Flexibilität auf und lässt sich an verschiedenste Bedürfnisse anpassen. Im Gegensatz zu PHP ist Ruby on Rails damit wesentlich zeitgemäßer – eine Website für moderne Browser und mobile Endgeräte lässt sich problemlos programmieren.
            %a.button.flat{href: "http://anstoss.telekom.com", target: "_blank"} Zum Projekt
          %img.obj{src: "/images/Project_Object_Telekom_Anstoss.png"}
          %img.bg{src: "/images/Project_BG_Telekom_Anstoss.jpg", width: 2560, height: 647}

          -#%img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png", width: 600, height: 397}
          %img.objmobile{src: "/images/Project_Object_Telekom_Anstoss_mobile.png"}
          %img.bgmobile{src: "/images/Project_BG_Telekom_Anstoss_mobile.jpg", width: 1440, height: 715}


        .project.project-workplace
          .content 
            %h1 
              MOBILE WORKPLACE
              %span> .
            %p.client Auftraggeber: Telekom Deutschland GmbH
            %p.intro
              Die Arbeitsumgebungen morderner Unternehmen werden zunehmend mobil. Mit Mobile Workplace bietet die Telekom Unternehmen individuell zugeschnittene Mobilitäts Strategien.

            %p.copy
              Um Unternehmen die Vorteile von Mobile Workplace näherzubringen wurde Gedankenwerk mit der Erstellung eines Films und einer Powerpointpräsentation beauftragt.
            %a.button.flat.fancybox-media{href: "https://vimeo.com/gedankenwerk/review/85516897/1a8099c7f9", target: "_blank"} Film anschauen
          %img.obj{src: "/images/Project_Object_Mobile_Workplace.png"}
          %img.bg{src: "/images/Project_BG_Mobile_Workplace.jpg", width: 2560, height: 647}

          -#%img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png", width: 600, height: 397}
          %img.objmobile{src: "/images/Project_Object_Mobile_Workplace_mobile.png"}
          %img.bgmobile{src: "/images/Project_BG_Mobile_Workplace_mobile.jpg", width: 1440, height: 715}


        .project.project-techday
          .content 
            %h1 
              TECHDAY 2014
              %span> .
            %p.client Auftraggeber: Deutsche Telekom AG - Product & Innovation
            %p.intro
              Der TechDay ist eine Veranstaltungsreihe von Technology & Platforms mit dem Zweck Kernkompetenzfelder eines T&P Bereichs und dessen Produkte zu präsentieren.

            %p.copy
              Gedankenwerk wurde damit beauftragt ein Kommunikationskonzept zur ersten, diesjährigen TechDay Veranstaltung zum Thema “Identity Management” zu entwickeln.
              Dies beinhaltete ein Themen Logo, eine Landingpage für Information und Registrierung und Texte und Bilder für das Telekom Intranet, Telekom Social Network, interne Medienwände, Roll-ups, Aufsteller, Namensschilder, Gewinnspielkarten etc.
            %a.button.flat{href: "http://techday.customer-platforms.com/", target: "_blank"} Zum Projekt
          %img.obj{src: "/images/Project_Object_TechDay_2014.png"}
          %img.bg{src: "/images/Project_BG_TechDay_2014.jpg", width: 2560, height: 647}

          -#%img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png", width: 600, height: 397}
          %img.objmobile{src: "/images/Project_Object_Techday_2014_mobile.png"}
          %img.bgmobile{src: "/images/Project_BG_Techday_2014_mobile.jpg", width: 1440, height: 715}




        .project.project-dialog
          .content 
            %h1 
              TELEKOM DIALOG
              %span> .
            %p.client Auftraggeber: Telekom Deutschland GmbH
            %p.intro
              Telekom Dialog ist die exklusive Geschäftskundenplattform der
              Deutschen Telekom. Hier vernetzen sich Führungskräfte und
              Entscheidungsträger der Telekom - für den Austausch auf
              Augenhöhe.

            %p.copy
              Ein knackiger OnePager, der kein Fragen offen lässt, zusammen mit einem
              dynamischen Informationsvideo - so hat Gedankenwerk Telekom Dialog auf den Punkt
              gebracht und das natürlich mit einem voll responsiven Design, dass sich an all
              Zugangsgeräte anpasst.
            %a.button.flat{href: "http://kunden.gedankenwerk.com/Telekom_Dialog/", target: "_blank"} Zum Projekt
          %img.obj{src: "/images/Project_Object_Telekom_Dialog.png"}
          %img.bg{src: "/images/Project_BG_Telekom_Dialog.jpg", width: 2560, height: 627}

          -#%img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png", width: 600, height: 397}
          %img.objmobile{src: "/images/Project_Object_Telekom_Dialog_mobile.png"}
          %img.bgmobile{src: "/images/Project_BG_Telekom_Dialog_mobile.jpg", width: 1440, height: 715}

        .project.project-tventure
          .content 
            %h1 
              T-VENTURE WEBSITE
              %span> .
            %p.client Auftraggeber: T-Venture Holding GmbH
            %p.intro
              T-Venture ist der Venture-Kapitalgeber der Deutschen Telekom. 
              Zielgruppe: junge, innovative Unternehmen mit klaren Vorstellungen. 
              Die neue Website spricht ihre Sprache.
            %p.copy
              Für den T-Venture Website Relaunch hat Gedankenwerk alle Inhalte
              einer radikalen Modernisierungskur unterzogen: Responsive Design, 
              eine schlanke, konsequente Navigation und bildstarker Content sorgen 
              für einen zeitgemäßen Webauftritt, der auch auf Retina Displays glänzen kann.
            %a.button.flat{href: "http://t-venture.com", target: "_blank"} Zum Projekt
          %img.obj{src: "/images/Project_Object_T-Venture.png"}
          %img.bg{src: "/images/Project_T-Venture.jpg", width: 2560, height: 627}

          -#%img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png", width: 600, height: 397}
          %img.objmobile{src: "/images/projects/mobile/Project_Object_T-Venture_mobile.png"}
          %img.bgmobile{src: "/images/Project_BG_T-Venture_mobile.jpg", width: 1440, height: 715}


        .project.project-imw
          .content 
            %h1 TELEKOM IMW
            %p.client Auftraggeber: Telekom Deutschland GmbH
            %p.intro
              Die IMW der Deutschen Telekom steht für ein komplexes Business: 
              der Vertrieb von Netzkapazitäten auf dem internationalen Markt. 
              Ein schlanker Onepager im responsive Design bringt das Angebot auf den Punkt.
            %p.copy
              Das neue IMW Design liegt mit seinem responsiven Grid, Vektor-Icons 
              und Touchoptimierung voll im Trend: klare Inhalte, einfache Struktur, 
              keine unnötigen Spielereien. Für optimale Lesbarkeit und perfekte Usability 
              auf jedem Endgerät.
            %a.button.flat{href: "http://mvno.telekom.net/", target: "_blank"} Zum Projekt
          %img.obj{src: "/images/Project_Object_IMW.png"}
          %img.bg{src: "/images/Project_Telekom_IMW.jpg"}

          -#%img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_IMW_mobile.png", width: 600, height: 362}
          %img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_IMW_mobile.png"}
          %img.bgmobile{src: "/images/projects/mobile/Project_BG_Telekom_IMW_mobile.jpg", width: 1440, height: 700}

        .project.project-tke
          .content 
            %h1.desktop
              MICROSITE EINFO
            %h1.mobile
              MICROSITE EINFO
            %p.client Auftraggeber: ThyssenKrupp Elevator AG
            %p.intro
              ThyssenKrupp Elevator steht für eine weltweit einzigartige Produktvielfalt. 
              Die von Gedankenwerk konzipierte e-Info Anwendung bietet den über 40.000 
              Mitarbeitern einen ebenso einzigartigen Überblick zum Unternehmen.
            %p.copy
              Statt klassischer Navigation eröffnen sich alle Inhalte von aufwändig 
              geränderten 3D-Animationen über Galerien bis hin zu geschichtlichen 
              Überblicken in horizontal angeordneten Modulen - als Leitfaden durch 
              die gesamte Welt von ThyssenKrupp Elevator. Flexibel erweiterbar und 
              komplett in HTML5 realisiert, unterstreicht die e-Info Anwendung deutlich 
              die Innovationskraft des Unternehmens.
            %a.button.flat.tke.angular.unavailable{href: "#"} Nicht öffentlich
          %img.obj{src: "/images/Project_Object_TKE_eInfo.png"}
          %img.bg{src: "/images/Project_TKE_eInfo.jpg", width: 2560, height: 627}

          %img.objmobile{src: "/images/projects/mobile/Project_Object_TKE_einfo_mobile.png"}
          %img.bgmobile{src: "/images/projects/mobile/Project_BG_TKE_eInfo_mobile.jpg", width: 1440, height: 731}
 
        .project.project-icss
          .content 
            %h1
              ICSS / MNC WEBSITE
            %p.client Auftraggeber: Telekom Deutschland AG
            %p.intro
              Telekom International Carrier Sales & Solutions und 
              Multinational Corporations bieten Mobilfunkprodukte für Großkunden an. 
              Ein Themenkomplex, der Transparenz verlangt.
            %p.copy
              Die Websites zu Telekom ICSS und MNC wurden konzeptionell, 
              design- und programmiertechnisch runderneuert um zu gewährleisten, 
              dass interessierte Großkunden einen transparenten Überblick sowohl 
              über das komlexe Gesamtangebot als auch die jeweiligen Produkte 
              bekommen. Das neue luftige Design macht die Verweildauer auf den 
              Websites zu einem benutzerfreundlichen Erlebnis.
            %a.button.flat{href: "http://www.telekom-icss.com/home", target: "_blank"} Zum Projekt

          %img.obj{src: "/images/Project_Object_Telekom_ICSS-MNC.png"}
          %img.bg{src: "/images/Project_Telekom_ICSS-MNC.jpg", width: 2560, height: 627}

          %img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_ICSS-MNC_mobile.png"}
          %img.bgmobile{src: "/images/projects/mobile/Project_BG_Telekom_ICSS-MNC_mobile.jpg", width: 1440, height: 791}

        .project.project-produktshows
          .content 
            %h1 
              3D PRODUKTSHOWS
            %p.client Auftraggeber: Telekom Deutschland GmbH
            %p.intro
              Wer Produkte online vertreibt, braucht die richtige
              Präsentation. Der Product Viewer von Gedankenwerk
              für die Deutsche Telekom lässt keine Fragen offen.
            %p.copy
              Mit dem von Gedankenwerk entwickelten Product Viewer können sich 
              die Angebote der Deutschen Telekom rundum sehen lassen: 
              Jedes Produkt kann vom User gedreht und beliebig herangezoomt 
              werden, um z. B. Anschlussbuchsen aus der Nähe zu sehen. 
              Über spezielle Info-Buttons stehen Texte, Bilder oder Videos mit weiteren Erläuterungen bereit.
              %br/
              %br/
              Seine einfache Bedienbarkeit und die kostengünstige Umsetzung machen den 
              Product Viewer bereits seit einigen Jahren zum Standard bei der Deutschen Telekom.
            %a.button.flat{href: "http://kunden.gedankenwerk.com/Telekom/produktshows2011/mediareceiver500sat/index.html", target: "_blank"} Zum Projekt

          %img.obj{src: "/images/Project_Object_Telekom_3D_Produktshows.png"}
          %img.bg{src: "/images/Project_Telekom_3D_Produktshows.jpg", width: 2560, height: 627}

          %img.objmobile{src: "/images/projects/mobile/Project_Object_Telekom_3D_Produktshows_mobile.png"}
          %img.bgmobile{src: "/images/projects/mobile/Project_BG_Telekom_3D_Produktshows_mobile.jpg", width: 1440, height: 808}

        .project.project-smart2010
          .content 
            %h1 SMART CITY
            %p.client Auftraggeber: Proximity Germany GmbH
            %p.intro
              Die smart Kampagne 2010 macht alles anders: Diverse, europaweit 
              geschaltete TV-Teaserspots enden mittendrin beim Cliffhanger. 
              Die Auflösung? Gibt es nur online – auf der zentralen Kampagnen-Plattform.
              Und die hat es in sich.
            %p.copy
              Auf www.the-smart-class.com entsteht mit dem Know-how von 
              Gedankenwerk und in Kooperation mit Proximity (Konzept und Navigations-Design) 
              und BBDO (Spots) die “smart City”: ein per Maus  erkundbares, 
              urbanes Panorama, das Flash, perfektes 3D Modelling und Rendering 
              mit Realfilm verbindet – und gleichzeitig den Kern der 
              internationalen Kampagne bildet.
            %a.button.flat.smart.angular{href: "http://kunden.gedankenwerk.com/smart/Smart-City/preview/", target: "_blank"} Zum Projekt
            %a.button.flat.smart.angular.fancybox-media{href: "https://vimeo.com/gedankenwerk/review/61326880/a70468fb65", target: "_blank"} Video
          %img.obj{src: "/images/Project_Object_Smart_Kampagne_2010-2011.png"}
          %img.bg{src: "/images/Project_Smart_Kampagne_2010-2011.jpg", width: 2560, height: 627}

          %img.objmobile{src: "/images/projects/mobile/Project_Object_Smart_Kampagne_2010-2011_mobile.png"}
          %img.bgmobile{src: "/images/projects/mobile/Project_BG_Smart_Kampagne_2010-2011_mobile.jpg", width: 1440, height: 791}


      .pagination
        %a.btnprev.hidden{href: "/projects"} <
        %a.page.active{href: "/projects"} 1
        %a.page{href: "/projects2"} 2
        %a.btnnext{href: "/projects2"} >

