---
title: Services - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline.singletagline
      ALLES, WAS EINE GUTE IDEE
      %br 
      ERFOLGREICH MACHT
      %span> .


  %section.clearfix

    %aside.about-pullquote
      "Wir wollen etwas 
      %br/
      ganz Einfaches: dass 
      %br/
      für Sie alles noch 
      %br/
      einfacher wird.
      %span 
        %strong Christian Kreienkamp
        %br
        Konzeption

    %p.span1to8.softintro
      Gedankenwerk entwickelt seit über zehn Jahren Lösungen 
      für die gesamte Bandbreite digitaler und vernetzter Kommunikation.

    %p.span1to8.copy
      Interaktion und Animation sind die zentralen Schwerpunkte unserer Arbeit:
      %br/
      vom emotional inszenierten Webauftritt für Marken und Kampagnen 
      über B2B- Plattformen mit intuitiven Usability-Konzepten bis 
      hin zur aufmerksamkeitsstarken Speziallösung am P.o.S.


  %section.clearfix.service.top
    .imgwrapper
      %img{src: "/images/services-icon-strategy-planning.svg" }

    %ul
      %li Content Strategie und Copywriting
      %li Social Network Marketing
      %li Digitale Markenstrategie
      %li Systemplanung & -Architektur
      %li Präsentationsplanung

    .desc
      %h1
        STRATEGIE &
        %br/
        PLANUNG
      %p
        Neue Schritte macht man am besten in die 
        richtige Richtung. Deshalb stehen wir Ihnen 
        mit all unserer Erfahrung für die beste Strategie zur Seite.


  %section.clearfix.service
    .imgwrapper
      %img{src: "/images/services-icon-design-animation.svg" }

    %ul
      %li Digital- & Webkonzept
      %li Digital- & Webdesign
      %li 3D-Modelling & Animation
      %li Illustration
      %li Video & Postproduktion
      %li Präsentationsumsetzung

    .desc
      %h1
        DESIGN &
        %br/
        ANIMATION
      %p
        Gedankenwerk steht für höchste Design-Qualität und 
        bewegte Inhalte inklusive Konzept und Produktion. 
        So machen Sie Eindruck. Und zwar den besten.

  
  %section.clearfix.service.last
    .imgwrapper
      %img{src: "/images/services-icon-web-mobile-solutions.svg" }

    %ul
      %li Corporate Websites
      %li Mobile Applikationen
      %li Intranet Applikationen
      %li Responsive Design
      %li Content Management Systems
      %li Search Engine Optimization (SEO)

    .desc
      %h1
        WEB & MOBILE
        %br/
        LÖSUNGEN
      %p
        Von der Idee über den Prototyp bis zum Produkt: 
        Wir entwickeln, was für Ihre Ziele passt. 
        Für jedes Endgerät oder Format - oder für alle zusammen.


  %section.contentsection.last.ourtools.clearfix
    %h1 
      WE LOVE
      %span> .


    %img{src: "/images/services-our-tools.png", width: 920}



