---
title: Services - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline.singletagline
      WIR SIND EINE DIGITALE
      %br 
      KREATIV-AGENTUR
      %span> .


  %section.clearfix

    %aside.about-pullquote
      “Our services range
      %br/
      from content strategy
      %br/
      to fully integrated
      %br/
      websites and 
      %br/
      applications”
      %br
      %span 
        %strong Christian Kreienkamp
        %br
        Konzeption

    %p.span1to8.softintro
      Gedankenwerk entwickelt seit Februar 2000 unverwechselbare 
      Lösungen für die digitalen Kanäle – online wie offline.

    %p.span1to8.copy
      Interaktion und Animation sind die zentralen Schwerpunkte unserer Arbeit:
      %br/
      vom emotional inszenierten Webauftritt für Marken und Kampagnen 
      über B2B- Plattformen mit intuitiven Usability-Konzepten bis 
      hin zur aufmerksamkeitsstarken Speziallösung am P.o.S.


  %section.clearfix.service.top
    .imgwrapper
      %img{src: "/images/services-icon-strategy-planning.svg" }

    %ul
      %li Content Strategy & Copywriting
      %li Social Network Marketing
      %li Digital Brand Strategy
      %li System Planning & Architecture
      %li Presentation Planning

    .desc
      %h1
        STRATEGY &
        %br/
        PLANNING
      %p
        Work closely with you we help to find new Valuable 
        insights and turn them into new business 
        opportunities, brand concepts and interactive products.


  %section.clearfix.service
    .imgwrapper
      %img{src: "/images/services-icon-design-animation.svg" }

    %ul
      %li Digital Concepts
      %li Digital Design
      %li 3D Modelling & Animation
      %li Illustration
      %li Video & Postproduction
      %li Presentation Creation

    .desc
      %h1
        DESIGN &
        %br/
        ANIMATION
      %p
        Our job is to tell your story, create an
        authentic and memorable impression, turn
        them into an interactive digital experience.

  
  %section.clearfix.service.last
    .imgwrapper
      %img{src: "/images/services-icon-web-mobile-solutions.svg" }

    %ul
      %li Corporate Websites
      %li Mobile Applications
      %li Intranet Applications
      %li Responsive Design
      %li Content Management Systems
      %li Search Engine Optimizaiton (SEO)

    .desc
      %h1
        WEB & MOBILE
        %br/
        SOLUTIONS
      %p
        From concept to prototype to product. 
        We will work closely with you though 
        out the process to deliver the product 
        you had dreamed of.


  %section.contentsection.last.ourtools.clearfix
    %h1 
      WE LOVE
      %span> .


    %img{src: "/images/services-our-tools.png", width: 920}



