---
title: Services - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}

  %section
    %p.tagline.singletagline
      ALLES, WAS EINE GUTE IDEE
      %br 
      ERFOLGREICH MACHT
      %span> .


  %section.clearfix


    .span1to8
      %p.softintro
        Gedankenwerk entwickelt seit über zehn Jahren Lösungen 
        für die gesamte Bandbreite digitaler und vernetzter Kommunikation.

      %p.copy
        Ob Webauftritt mit durchdachter User Experience, ob App-Entwicklung 
        oder B2B-Plattform, ob Motion Design oder Social Media-Konzept – 
        was wir uns für Sie ausdenken, soll visuell und konzeptionell 
        unverwechselbar sein. Und unverwechselbar einfach und verlässlich 
        funktionieren. Was uns zusätzlich wertvoll macht: Wir können Content. 
        Gleichzeitig verfügen wir über die nötige Beratungs-Kompetenz, 
        um Sie in Sachen Strategie und Planung entscheidend weiter zu bringen.

    %aside.about-pullquote.services-pullquote
      %img{src: "/images/Services_Bubble_mit_Text_und_Name.svg", width: 220, height: 228 }


  %section.clearfix.service.top


    .text.span1to6
      .desc
        .imgwrapper
          %img{src: "/images/services-icon-strategy-planning.svg" }
        %h1
          STRATEGIE &
          %br/
          PLANUNG
        %p
          Neue Schritte macht man am besten in die 
          richtige Richtung. Deshalb stehen wir Ihnen 
          mit all unserer Erfahrung für die beste Strategie zur Seite.
    .list.span8to12
      %ul
        %li Content Strategie und Copywriting
        %li Social Network Marketing
        %li Digitale Markenstrategie
        %li Systemplanung & -Architektur
        %li Präsentationsplanung



  %section.clearfix.service

    .text.span1to6
      .desc
        .imgwrapper
          %img{src: "/images/Services_Icon_Video_Postproduction_78x59.svg", width: 78 }
        %h1
          VIDEO &
          %br/
          POSTPRODUCTION
        %p
          Bilder sagen mehr als tausend Worte. Wir bannen Ihre Vision auf Film und verpassen ihr einen bühnenreifen Feinschliff.
    .list.span8to12
      %ul
        %li Imagefilme
        %li Eventfilme & Aftermovies
        %li Produktvorstellungen
        %li Interviews
        %li YouTube Content
        %li 4k Ultra HD Videoproduktion








  %section.clearfix.service

    .text.span1to6
      .desc
        .imgwrapper
          %img{src: "/images/services-icon-design-animation.svg" }
        %h1
          DESIGN &
          %br/
          ANIMATION
        %p
          Gedankenwerk steht für höchste Design-Qualität und 
          bewegte Inhalte inklusive Konzept und Produktion. 
          So machen Sie Eindruck. Und zwar den besten.
    .list.span8to12
      %ul
        %li Digital- & Webkonzept
        %li Digital- & Webdesign
        %li 3D-Modelling & Animation
        %li Illustration
        %li Video & Postproduktion
        %li Präsentationsumsetzung


  
  %section.clearfix.service.last

    .text.span1to6
      .desc
        .imgwrapper
          %img.web{src: "/images/Services_Icon_Web-Mobile_Solutions.svg" }
        %h1
          WEB & MOBILE
          %br/
          LÖSUNGEN
        %p
          Von der Idee über den Prototyp bis zum Produkt: 
          Wir entwickeln, was für Ihre Ziele passt. 
          Für jedes Endgerät oder Format - oder für alle zusammen.
          
    .list.span8to12
      %ul
        %li Corporate Websites
        %li Mobile Applikationen
        %li Intranet Applikationen
        %li Responsive Design
        %li Content Management Systems
        %li Search Engine Optimization (SEO)



  %section.contentsection.last.ourtools.clearfix
    %h1 
      WE LOVE
      %span> .


    %ul
      %li
        %figure
          %img{src: "/images/Services_Icon_HTML_5.png", width: 100, height: 100}
          %figcaption HTML5
      %li
        %figure
          %img{src: "/images/Services_Icon_CSS3.png", width: 100, height: 100}
          %figcaption CSS3
      %li
        %figure
          %img{src: "/images/Services_Icon_RubyOnRails.png", width: 100, height: 100}
          %figcaption Ruby on Rails
      %li
        %figure
          %img{src: "/images/Services_Icon_node.png", width: 100, height: 100}
          %figcaption node.js
      %li
        %figure
          %img{src: "/images/Services_Icon_iOS.png", width: 100, height: 100}
          %figcaption iOS
      %li
        %figure
          %img{src: "/images/Services_Icon_Android.png", width: 100, height: 100}
          %figcaption Android
      %li
        %figure
          %img{src: "/images/Services_Icon_Responsive.png", width: 100, height: 100}
          %figcaption Responsive Design
      %li
        %figure
          %img{src: "/images/Services_Icon_Fireworks.png", width: 100, height: 100}
          %figcaption Adobe Fireworks
      %li
        %figure
          %img{src: "/images/Services_Icon_Illustrator.png", width: 100, height: 100}
          %figcaption Adobe Illustrator
      %li
        %figure
          %img{src: "/images/Services_Icon_Photoshop.png", width: 100, height: 100}
          %figcaption Adobe Photoshop
      %li
        %figure
          %img{src: "/images/Services_Icon_AfterEffects.png", width: 100, height: 100}
          %figcaption Adobe After Effects
      %li
        %figure
          %img{src: "/images/Services_Icon_Cinema4D.png", width: 100, height: 100}
          %figcaption Maxon Cinema 4D



